# Bike sharing

In [1]:
# Import libaries
import pandas as pd
import numpy as np
import plotly.express as px

In [2]:
# Import data
data = pd.read_csv('202108-citibike-tripdata.csv')

/Users/anneruhnke/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

## Describe data

In [3]:
data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,FB6B89D05B67EBED,classic_bike,2021-08-24 15:59:57,2021-08-24 16:42:07,Broadway & E 21 St,6098.10,Central Park North & Adam Clayton Powell Blvd,7617.07,40.739888,-73.989586,40.799484,-73.955613,member
1,E13DA3E30CEF8DFC,classic_bike,2021-08-18 13:12:01,2021-08-18 13:21:26,E 13 St & 2 Ave,5820.08,Henry St & Grand St,5294.04,40.731539,-73.985302,40.714211,-73.981095,member
2,56617490AB8AE69C,classic_bike,2021-08-17 14:31:23,2021-08-17 14:35:34,E 95 St & 3 Ave,7365.13,E 84 St & Park Ave,7243.04,40.784903,-73.950503,40.778627,-73.957721,member
3,CA908B271C7D6663,classic_bike,2021-08-11 10:00:12,2021-08-11 10:31:01,Madison Ave & E 82 St,7188.13,E 84 St & Park Ave,7243.04,40.778131,-73.960694,40.778627,-73.957721,casual
4,3E170CE1F4FE179D,classic_bike,2021-08-12 19:28:38,2021-08-12 19:48:50,E 74 St & 1 Ave,6953.08,E 84 St & Park Ave,7243.04,40.768974,-73.954823,40.778627,-73.957721,casual

In [4]:
data.info()
# started_at wrong data type
# ended_at wrong data type
# start_station_id wrong data type
# end_station_id wrong data type
# start station name and start station id, start_lat, start_lng in separate table
# end station name and end station id, end_lat, end_lng in separate table

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3072478 entries, 0 to 3072477
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    float64
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(5), object(8)
memory usage: 304.7+ MB

In [5]:
data.describe()

,start_station_id,start_lat,start_lng,end_lat,end_lng
count,3.072438e+06,3.072478e+06,3.072478e+06,3.065275e+06,3.065275e+06
mean,6.013897e+03,4.074000e+01,-7.397585e+01,4.073975e+01,-7.397591e+01
std,1.073682e+03,3.849345e-02,2.554804e-02,3.847201e-02,2.560477e-02
min,2.733030e+03,4.063338e+01,-7.402747e+01,4.063338e+01,-7.407146e+01
25%,5.303080e+03,4.071535e+01,-7.399405e+01,4.071535e+01,-7.399416e+01
50%,6.004070e+03,4.073805e+01,-7.398169e+01,4.073726e+01,-7.398185e+01
75%,6.779040e+03,4.076229e+01,-7.395943e+01,4.076227e+01,-7.395922e+01
max,8.841030e+03,4.088226e+01,-7.388145e+01,4.088226e+01,-7.388000e+01

In [6]:
data.isnull().sum()
# investigate na values

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name       40
start_station_id         40
end_station_name      13628
end_station_id        13628
start_lat                 0
start_lng                 0
end_lat                7203
end_lng                7203
member_casual             0
dtype: int64

In [7]:
data.ride_id.duplicated().sum()

0

In [8]:
columns = data.columns
columns = columns[1:]
columns

Index(['rideable_type', 'started_at', 'ended_at', 'start_station_name',
       'start_station_id', 'end_station_name', 'end_station_id', 'start_lat',
       'start_lng', 'end_lat', 'end_lng', 'member_casual'],
      dtype='object')

In [9]:
for column in columns:
    x = data[column].value_counts()
    x = pd.DataFrame(x)
    print(x)

               rideable_type
classic_bike         3039351
docked_bike            33087
electric_bike             40
                     started_at
2021-08-20 17:29:55          46
2021-08-20 17:29:54          42
2021-08-20 17:29:56          38
2021-08-04 19:03:02          35
2021-08-04 19:02:47          33
...                         ...
2021-08-17 14:13:44           1
2021-08-07 22:56:40           1
2021-08-25 23:53:48           1
2021-08-02 22:25:07           1
2021-08-27 11:02:19           1

[1550235 rows x 1 columns]
                     ended_at
2021-08-20 17:21:56        61
2021-08-20 17:11:05        44
2021-08-13 08:56:58        41
2021-08-20 17:39:27        40
2021-08-31 09:30:05        34
...                       ...
2021-08-26 21:43:08         1
2021-08-17 08:03:54         1
2021-08-16 20:46:56         1
2021-08-20 01:14:46         1
2021-08-04 12:31:07         1

[1552210 rows x 1 columns]
                                 start_station_name
E 17 St & Broadway                            13629
West St & Chambers St                         13505
W 21 St & 6 Ave                               13320
Cleveland Pl & Spring St                      11764
West St & Liberty St                          11518
...                                             ...
Sedgwick Ave & Hall of Fame Tce                  27
Boerum Pl\t& Pacific St                          17
49 St & 25 Ave                                    9
49 St & 31 Ave                                    6
Nassau St\t& Duffield St                          2

[1493 rows x 1 columns]
         start_station_id
5980.07             13629
5329.03             13505
6140.05             13320
5492.05             11764
5184.08             11518
...                   ...
8696.05                33
6662.08                31
8539.02                27
6804.01                 9
6662.01                 6

[1488 rows x 1 columns]
                          end_station_name
E 17 St & Broadway                   13746
West St & Chambers St                13585
W 21 St & 6 Ave                      13334
Cleveland Pl & Spring St             11775
West St & Liberty St                 11569
...                                    ...
Harborside                               1
Forrest WH station                       1
Newport Pkwy                             1
Grove St PATH                            1
Brunswick St                             1

[1522 rows x 1 columns]
         end_station_id
5329.03           12834
6140.05           12777
5763.03           11529
5184.08           11387
5492.05           10934
...                 ...
HB302                 1
JC038                 1
JC008                 1
HB601                 1
SYS033                1

[2685 rows x 1 columns]
           start_lat
40.737050      13525
40.741740      13241
40.717548      13184
40.722104      11620
40.711444      11518
...              ...
40.707677          1
40.707644          1
40.675071          1
40.866005          1
40.757631          1

[2149 rows x 1 columns]
            start_lng
-73.990093      13525
-73.994156      13241
-74.013221      13184
-73.997249      11620
-74.014847      11518
...               ...
-73.978728          1
-73.942240          1
-73.989016          1
-73.997858          1
-73.939122          1

[2139 rows x 1 columns]
           end_lat
40.737050    13627
40.717548    13269
40.741740    13258
40.722104    11607
40.711444    11569
...            ...
40.712774        1
40.868487        1
40.727224        1
40.696229        1
40.719252        1

[2214 rows x 1 columns]
            end_lng
-73.990093    13627
-74.013221    13269
-73.994156    13258
-73.997249    11606
-74.014847    11569
...             ...
-73.933335        1
-73.912094        1
-74.027150        1
-74.036486        1
-73.908763        1

[2200 rows x 1 columns]
        member_casual
member        1864076
casual        1208402

In [10]:
x = data['rideable_type'].value_counts()
x = pd.DataFrame(x)
x

               rideable_type
classic_bike         3039351
docked_bike            33087
electric_bike             40

In [11]:
x = data['start_station_name'].value_counts()
x = pd.DataFrame(x)
x

# check similar writing

                                 start_station_name
E 17 St & Broadway                            13629
West St & Chambers St                         13505
W 21 St & 6 Ave                               13320
Cleveland Pl & Spring St                      11764
West St & Liberty St                          11518
...                                             ...
Sedgwick Ave & Hall of Fame Tce                  27
Boerum Pl\t& Pacific St                          17
49 St & 25 Ave                                    9
49 St & 31 Ave                                    6
Nassau St\t& Duffield St                          2

[1493 rows x 1 columns]

In [12]:
x = data['end_station_name'].value_counts()
x = pd.DataFrame(x)
x

# check similar writing

                          end_station_name
E 17 St & Broadway                   13746
West St & Chambers St                13585
W 21 St & 6 Ave                      13334
Cleveland Pl & Spring St             11775
West St & Liberty St                 11569
...                                    ...
Harborside                               1
Forrest WH station                       1
Newport Pkwy                             1
Grove St PATH                            1
Brunswick St                             1

[1522 rows x 1 columns]

In [13]:
x = data['member_casual'].value_counts()
x = pd.DataFrame(x)
x

# rename member_casual column

        member_casual
member        1864076
casual        1208402

In [14]:
data.corr()

                  start_station_id  start_lat  start_lng   end_lat   end_lng
start_station_id          1.000000   0.989959   0.323812  0.869186  0.274138
start_lat                 0.989959   1.000000   0.372379  0.881327  0.319014
start_lng                 0.323812   0.372379   1.000000  0.322717  0.793248
end_lat                   0.869186   0.881327   0.322717  1.000000  0.374903
end_lng                   0.274138   0.319014   0.793248  0.374903  1.000000