# Bike sharing

In [157]:
# Import libaries
import pandas as pd
import numpy as np
import plotly.express as px

## Gather data

In [312]:
data = pd.read_csv('202108-citibike-tripdata.csv')

/Users/anneruhnke/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

## Assess data

In [313]:
data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,FB6B89D05B67EBED,classic_bike,2021-08-24 15:59:57,2021-08-24 16:42:07,Broadway & E 21 St,6098.10,Central Park North & Adam Clayton Powell Blvd,7617.07,40.739888,-73.989586,40.799484,-73.955613,member
1,E13DA3E30CEF8DFC,classic_bike,2021-08-18 13:12:01,2021-08-18 13:21:26,E 13 St & 2 Ave,5820.08,Henry St & Grand St,5294.04,40.731539,-73.985302,40.714211,-73.981095,member
2,56617490AB8AE69C,classic_bike,2021-08-17 14:31:23,2021-08-17 14:35:34,E 95 St & 3 Ave,7365.13,E 84 St & Park Ave,7243.04,40.784903,-73.950503,40.778627,-73.957721,member
3,CA908B271C7D6663,classic_bike,2021-08-11 10:00:12,2021-08-11 10:31:01,Madison Ave & E 82 St,7188.13,E 84 St & Park Ave,7243.04,40.778131,-73.960694,40.778627,-73.957721,casual
4,3E170CE1F4FE179D,classic_bike,2021-08-12 19:28:38,2021-08-12 19:48:50,E 74 St & 1 Ave,6953.08,E 84 St & Park Ave,7243.04,40.768974,-73.954823,40.778627,-73.957721,casual

In [314]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3072478 entries, 0 to 3072477
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    float64
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(5), object(8)
memory usage: 304.7+ MB

In [315]:
data.describe()

,start_station_id,start_lat,start_lng,end_lat,end_lng
count,3.072438e+06,3.072478e+06,3.072478e+06,3.065275e+06,3.065275e+06
mean,6.013897e+03,4.074000e+01,-7.397585e+01,4.073975e+01,-7.397591e+01
std,1.073682e+03,3.849345e-02,2.554804e-02,3.847201e-02,2.560477e-02
min,2.733030e+03,4.063338e+01,-7.402747e+01,4.063338e+01,-7.407146e+01
25%,5.303080e+03,4.071535e+01,-7.399405e+01,4.071535e+01,-7.399416e+01
50%,6.004070e+03,4.073805e+01,-7.398169e+01,4.073726e+01,-7.398185e+01
75%,6.779040e+03,4.076229e+01,-7.395943e+01,4.076227e+01,-7.395922e+01
max,8.841030e+03,4.088226e+01,-7.388145e+01,4.088226e+01,-7.388000e+01

In [316]:
data.isnull().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name       40
start_station_id         40
end_station_name      13628
end_station_id        13628
start_lat                 0
start_lng                 0
end_lat                7203
end_lng                7203
member_casual             0
dtype: int64

In [317]:
data.ride_id.duplicated().sum()

0

In [318]:
columns = data.columns
columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [319]:
x = data['rideable_type'].value_counts()
x = pd.DataFrame(x)
x

               rideable_type
classic_bike         3039351
docked_bike            33087
electric_bike             40

In [320]:
x = data['start_station_name'].value_counts()
x = pd.DataFrame(x)
x

                                 start_station_name
E 17 St & Broadway                            13629
West St & Chambers St                         13505
W 21 St & 6 Ave                               13320
Cleveland Pl & Spring St                      11764
West St & Liberty St                          11518
...                                             ...
Sedgwick Ave & Hall of Fame Tce                  27
Boerum Pl\t& Pacific St                          17
49 St & 25 Ave                                    9
49 St & 31 Ave                                    6
Nassau St\t& Duffield St                          2

[1493 rows x 1 columns]

In [321]:
x = data['end_station_name'].value_counts()
x = pd.DataFrame(x)
x

                          end_station_name
E 17 St & Broadway                   13746
West St & Chambers St                13585
W 21 St & 6 Ave                      13334
Cleveland Pl & Spring St             11775
West St & Liberty St                 11569
...                                    ...
Bergen Ave                               1
Pier 40 X2                               1
Brunswick St                             1
Forrest WH station                       1
Harborside                               1

[1522 rows x 1 columns]

In [322]:
x = data['member_casual'].value_counts()
x = pd.DataFrame(x)
x

        member_casual
member        1864076
casual        1208402

In [323]:
data.corr()

                  start_station_id  start_lat  start_lng   end_lat   end_lng
start_station_id          1.000000   0.989959   0.323812  0.869186  0.274138
start_lat                 0.989959   1.000000   0.372379  0.881327  0.319014
start_lng                 0.323812   0.372379   1.000000  0.322717  0.793248
end_lat                   0.869186   0.881327   0.322717  1.000000  0.374903
end_lng                   0.274138   0.319014   0.793248  0.374903  1.000000

#### Summarize issues
- started_at wrong data type
- ended_at wrong data type
- start_station_id wrong data type
- end_station_id wrong data type
- start station name and start station id, start_lat, start_lng in separate table
- end station name and end station id, end_lat, end_lng in separate table
- wrong column name member_casual

- investigate na values
- check similar writing for start and end station

## Clean data

In [464]:
data_clean = data.copy()

#### Summarize to dos

- change data type started_at 
- change data type ended_at
- change data type start_station_id 
- change data type end_station_id 
- rename member_casual column
- create tables for start station name and start station id, start_lat, start_lng
- create tables for end station name and end station id, end_lat, end_lng

- investigate na values
- check similar writing for start and end station

### Define

In [325]:
data_clean.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,FB6B89D05B67EBED,classic_bike,2021-08-24 15:59:57,2021-08-24 16:42:07,Broadway & E 21 St,6098.10,Central Park North & Adam Clayton Powell Blvd,7617.07,40.739888,-73.989586,40.799484,-73.955613,member
1,E13DA3E30CEF8DFC,classic_bike,2021-08-18 13:12:01,2021-08-18 13:21:26,E 13 St & 2 Ave,5820.08,Henry St & Grand St,5294.04,40.731539,-73.985302,40.714211,-73.981095,member
2,56617490AB8AE69C,classic_bike,2021-08-17 14:31:23,2021-08-17 14:35:34,E 95 St & 3 Ave,7365.13,E 84 St & Park Ave,7243.04,40.784903,-73.950503,40.778627,-73.957721,member
3,CA908B271C7D6663,classic_bike,2021-08-11 10:00:12,2021-08-11 10:31:01,Madison Ave & E 82 St,7188.13,E 84 St & Park Ave,7243.04,40.778131,-73.960694,40.778627,-73.957721,casual
4,3E170CE1F4FE179D,classic_bike,2021-08-12 19:28:38,2021-08-12 19:48:50,E 74 St & 1 Ave,6953.08,E 84 St & Park Ave,7243.04,40.768974,-73.954823,40.778627,-73.957721,casual

### Code

In [326]:
# Change data type of started_at
data_clean['started_at'] = pd.to_datetime(data_clean['started_at'])

In [327]:
# Change data type of ended_at
data_clean['ended_at'] = pd.to_datetime(data_clean['ended_at'])

In [328]:
# Change data type of start_station_id
data_clean['start_station_id'] = data_clean['start_station_id'].astype(str)

In [410]:
# Clean end station id
abc = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [455]:
contained_letters = []

for i in abc:
    if data_clean.end_station_id.str.contains(i).sum() > 0:
        contained_letters.append(i)

In [ ]:
#for j in contained_letters:
#    for i in range(0, len(clean_data)):
#        if data_clean.end_station_id.str.contains(j)[i] == True:
#            print(i)

In [582]:
end_station_id_unique = pd.DataFrame(data_clean.end_station_id.unique(), columns=['end_station_id'])

In [583]:
contained_letter_index = []

for j in contained_letters:
    for i in range(0, len(end_station_id_unique)):
        if end_station_id_unique.end_station_id.str.contains(j)[i] == True:
            contained_letter_index.append(i)

In [584]:
end_station_id_index_unique = pd.DataFrame(contained_letter_index, columns=['indices']).drop_duplicates()

In [585]:
end_station_id_index_list = end_station_id_index_unique.indices.to_list()

In [586]:
end_station_id_non_numeric = end_station_id_unique.loc[end_station_id_index_list].drop_duplicates().sort_values(by='end_station_id')['end_station_id'].to_list()

In [591]:
end_station_id_non_numeric_index_list = []

for i in range(0, len(data_clean)):
    for j in end_station_id_non_numeric:
        if data_clean.end_station_id[i] == j:
            end_station_id_non_numeric_index_list.append(i)

In [592]:
end_station_id_non_numeric_index_list

[27128,
 36599,
 41838,
 85428,
 85590,
 87812,
 163764,
 188436,
 189544,
 199784,
 255148,
 499436,
 499450,
 502357,
 507016,
 509294,
 511472,
 511480,
 514694,
 524407,
 564370,
 564374,
 566494,
 570946,
 578288,
 678582,
 680915,
 696446,
 845354,
 847632,
 881743,
 883261,
 941637,
 957785,
 957788,
 962038,
 1063350,
 1067484,
 1071434,
 1071435,
 1078101,
 1086667,
 1186599,
 1200672,
 1206319,
 1241272,
 1374547,
 1374688,
 1374758,
 1392641,
 1392720,
 1394986,
 1409787,
 1457534,
 1472462,
 1682358,
 1994570,
 2128846,
 2161207,
 2464396,
 2467266,
 2471916,
 2474689,
 2476160,
 2480631,
 2480636,
 2481912,
 2592955,
 2734740,
 2784981,
 2833800,
 2834309,
 2834565,
 2834862,
 2835785,
 2836056,
 2838610,
 2839264,
 2839792,
 2839800,
 2840106,
 2840122,
 2840138,
 2840141,
 2840143,
 2840150,
 2840164,
 2841266,
 2843051,
 2843077,
 2843610,
 2844379,
 2845723,
 2845808,
 2846542,
 2846931,
 2847455,
 2847466,
 2847781,
 2849164,
 2850398,
 2851752,
 2855091,
 2856145,
 2856712,
 2856975,
 2857181,
 2857358,
 2857493,
 2859434,
 2860337,
 2862177,
 2862494,
 2863056,
 2863058,
 2863164,
 2863165,
 2863176,
 2863996,
 2864394,
 2864395,
 2864901,
 2865100,
 2865101,
 2865102,
 2865244,
 2865917,
 2866303,
 2866304,
 2866900,
 2867603,
 2867747,
 3032007,
 3067859]

In [594]:
data_clean = data_clean.drop(index=end_station_id_non_numeric_index_list)
# data_clean = data_clean.drop([end_station_id_non_numeric_index_list], axis=0)

In [597]:
# Change data type of end_station_id
data_clean['end_station_id'] = data_clean['end_station_id'].astype(float)

In [ ]:
data_clean.style.format("{.2f") # all other non numeric values need to be deleted in table

In [ ]:
data_clean['end_station_id'] = data_clean['end_station_id'].astype(str)

In [139]:
# Rename member_casual column
data_clean = data_clean.rename(columns={'member_casual':'user'})

In [140]:
# 
data_clean.start_station_id = data_clean.start_station_id.replace('nan',np.nan)

In [141]:
# start station id

In [142]:
df_start_station = data_clean.iloc[:,4:6].sort_values(by='start_station_id').dropna().drop_duplicates().reset_index().drop(columns=['index'])

In [143]:
# df_start_station = data_clean.iloc[:,4:6]
# df_start_station = df_start_station.sort_values(by='start_station_id').dropna()
# df_start_station = df_start_station.drop_duplicates()
# df_start_station = df_start_station.reset_index()
# df_start_station = df_start_station.drop(columns=['index'])

In [144]:
duplicated_start_id = []

for i in range(0, len(df_start_station)):
    if df_start_station.start_station_id.duplicated()[i] == True:
        duplicated_start_id.append(df_start_station.start_station_id[i])

In [145]:
# for i in range(0, len(duplicated_start_id)):
#     print(df_start_station.query('start_station_id == duplicated_start_id[i]'))

In [146]:
df_start_station_list = []

for i in range(0, len(duplicated_start_id)):
    df_start_station_list.append(df_start_station[df_start_station.start_station_id == duplicated_start_id[i]])

In [147]:
index_list = []
drop_index_list = []

for i in range(0, len(df_start_station_list)):
    index_list.append(df_start_station_list[i].index)
    
for i in range(0, len(index_list)):
    drop_index_list.append(index_list[i][1])
    
for i in range(0, len(drop_index_list)):
    df_start_station.drop(drop_index_list[i], axis=0, inplace=True)

In [163]:
# end station id

In [164]:
df_end_station

                                   end_station_name end_station_id
0     Central Park North & Adam Clayton Powell Blvd        7617.07
1                               Henry St & Grand St        5294.04
2                                E 84 St & Park Ave        7243.04
3                                    35 St & 21 Ave        7170.04
4                     Willoughby Ave & Tompkins Ave        4665.02
...                                             ...            ...
2687                       Frost St & Debevoise Ave        5433.04
2688                 St Ann's Ave & Westchester Ave         7835.1
2689                     Grand Concourse & E 156 St        7984.04
2690                             Forrest WH station         SYS032
2691                                     Bergen Ave          JC095

[2692 rows x 2 columns]

In [165]:
df_end_station = data_clean.iloc[:,6:8].dropna().drop_duplicates().reset_index().drop(columns=['index'])

# strange values for end_station_id (SYS032, JC095)
# sort_values(by='end_station_id')

In [166]:
duplicated_end_id = []

for i in range(0, len(df_end_station)):
    if df_end_station.end_station_id.duplicated()[i] == True:
        duplicated_end_id.append(df_end_station.end_station_id[i])

In [173]:
duplicated_end_id

['7845.10', '5190.09', '5382.07', '4488.09', '4781.05']

In [174]:
df_end_station_list = []

for i in range(0, len(duplicated_end_id)):
    df_end_station_list.append(df_end_station[df_end_station.end_station_id == duplicated_end_id[i]])

In [175]:
index_list = []
drop_index_list = []

for i in range(0, len(df_end_station_list)):
    index_list.append(df_end_station_list[i].index)
    
for i in range(0, len(index_list)):
    drop_index_list.append(index_list[i][1])
    
for i in range(0, len(drop_index_list)):
    df_end_station.drop(drop_index_list[i], axis=0, inplace=True)

In [176]:
# end station name

In [180]:
df_end_station = df_end_station.reset_index()
df_end_station = df_end_station.drop(columns=['index'])

In [181]:
index_list_dup_end_station_name = []

for i in range(0, len(df_end_station)):
    if df_end_station.end_station_name.duplicated()[i] == True:
        index_list_dup_end_station_name.append(i)

In [182]:
duplicated_end_name_list = []

for i in index_list_dup_end_station_name:
    duplicated_end_name_list.append(df_end_station.iloc[i])

In [183]:
duplicated_end_name = pd.DataFrame(duplicated_end_name_list)
duplicated_end_name.sort_values(by='end_station_name')

                         end_station_name end_station_id
1519                      2 Ave & E 99 St         7386.1
1539                      3 Ave & E 71 St         6960.1
1471                       3 St & Hoyt St         4110.1
1522                 31 Ave & Crescent St         6893.1
1506                  31 St & Newtown Ave         6923.2
1499                       34 Ave & 45 St         6596.1
1483                 36 St & Ditmars Blvd         7111.1
1508                      5 Ave & E 93 St         7372.1
1554                         6 St & 7 Ave         3834.1
1544               Adams St & Prospect St         4821.1
1475                 Allen St & Hester St         5342.1
1530             Amsterdam Ave & W 156 St         8104.1
1505              Amsterdam Ave & W 82 St         7360.1
1550                       Ave D & E 8 St         5506.1
1500           Bergen St & Vanderbilt Ave         4157.1
1482                  Bond St & Bergen St         4404.1
1466                   Broadway & E 21 St         6098.1
1485                Broadway & Madison St         4483.1
1547                   Broadway & W 58 St         6948.1
1551              Cabrini Blvd & W 177 St         8358.1
1529             Central Ave & Decatur St         4432.1
1536            Central Ave & Woodbine St         4632.1
1464               Coffey St & Conover St         4137.1
1535             Congress St & Clinton St         4455.1
1553               Convent Ave & W 151 St         8049.1
1507              Dwight St & Van Dyke St         3981.1
1501               E 138 St & Cypress Ave         7669.1
1542                     E 142 St & 3 Ave         7781.1
1520                    E 2 St & Avenue A         5553.1
1538          E 58 St & 1 Ave (NW Corner)         6723.1
1555                   E 88 St & Park Ave         7293.1
1543                      E 89 St & 3 Ave         7265.1
1515                       E 9 St & 5 Ave         5872.1
1569             Greenwich St & Hubert St         5470.1
1521                 Hudson St & Reade St         5359.1
1510      Intervale Ave & Westchester Ave         7948.1
1511              Jackson St & Leonard St         5332.1
1502                 Lenox Ave & W 146 St         7910.1
1480              Lexington Ave & E 36 St         6313.1
1484         Longwood Ave & Southern Blvd         7849.1
1481                 Maiden Ln & Pearl St         5065.1
1504                 N 6 St & Bedford Ave         5379.1
1541            Onderdonk Ave & Gates Ave         4994.1
1556                  Reade St & Broadway         5247.1
1540               Riverside Dr & W 82 St         7388.1
1552                Spruce St & Nassau St         5137.1
1570       St Ann's Ave & Westchester Ave         7835.1
1545                  St Marks Pl & 2 Ave         5669.1
1476                  St Marks Pl & 4 Ave         4249.1
1516           St Nicholas Ave & W 134 St         7837.3
1558          St. Nicholas Ave & W 126 St         7756.1
1479           Van Brunt St & Van Dyke St         4095.1
1534  W 144 St & Adam Clayton Powell Blvd         7932.1
1472          W 186 St & St. Nicholas Ave         8416.1
1514          W 48 St & Rockefeller Plaza         6667.1
1525               W 74 St & Columbus Ave         7230.1

In [184]:
df_end_station.query('end_station_name == "2 Ave & E 99 St"')

     end_station_name end_station_id
989   2 Ave & E 99 St        7386.10
1519  2 Ave & E 99 St         7386.1

In [35]:
df_end_station_name_dup = df_end_station[['end_station_name', 'end_station_id']]
#df_end_station_name_dup = df_end_station_name_dup.end_station_name.value_counts()
#df_end_station_name_dup = df_end_station_name_dup.rename(columns={'index':'end_station_name', 'end_station_name': 'count'})
#df_end_station_name_dup = df_end_station_name_dup.query('count > 1')
#df_end_station_name_dup

In [36]:
df_end_station_name_dup

                                   end_station_name end_station_id
0     Central Park North & Adam Clayton Powell Blvd        7617.07
1                               Henry St & Grand St        5294.04
2                                E 84 St & Park Ave        7243.04
3                                    35 St & 21 Ave        7170.04
4                     Willoughby Ave & Tompkins Ave        4665.02
...                                             ...            ...
2687                       Frost St & Debevoise Ave        5433.04
2688                 St Ann's Ave & Westchester Ave         7835.1
2689                     Grand Concourse & E 156 St        7984.04
2690                             Forrest WH station         SYS032
2691                                     Bergen Ave          JC095

[2685 rows x 2 columns]

# Redo index

### Test

In [248]:
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3072478 entries, 0 to 3072477
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  user                object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 304.7+ MB