# Bike sharing

In [1]:
# Import libaries
import pandas as pd
import numpy as np
import plotly.express as px

## Gather data

In [2]:
data = pd.read_csv('202108-citibike-tripdata.csv')

/Users/anneruhnke/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

## Assess data

In [3]:
data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,FB6B89D05B67EBED,classic_bike,2021-08-24 15:59:57,2021-08-24 16:42:07,Broadway & E 21 St,6098.10,Central Park North & Adam Clayton Powell Blvd,7617.07,40.739888,-73.989586,40.799484,-73.955613,member
1,E13DA3E30CEF8DFC,classic_bike,2021-08-18 13:12:01,2021-08-18 13:21:26,E 13 St & 2 Ave,5820.08,Henry St & Grand St,5294.04,40.731539,-73.985302,40.714211,-73.981095,member
2,56617490AB8AE69C,classic_bike,2021-08-17 14:31:23,2021-08-17 14:35:34,E 95 St & 3 Ave,7365.13,E 84 St & Park Ave,7243.04,40.784903,-73.950503,40.778627,-73.957721,member
3,CA908B271C7D6663,classic_bike,2021-08-11 10:00:12,2021-08-11 10:31:01,Madison Ave & E 82 St,7188.13,E 84 St & Park Ave,7243.04,40.778131,-73.960694,40.778627,-73.957721,casual
4,3E170CE1F4FE179D,classic_bike,2021-08-12 19:28:38,2021-08-12 19:48:50,E 74 St & 1 Ave,6953.08,E 84 St & Park Ave,7243.04,40.768974,-73.954823,40.778627,-73.957721,casual

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3072478 entries, 0 to 3072477
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    float64
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(5), object(8)
memory usage: 304.7+ MB

In [5]:
data.describe()

,start_station_id,start_lat,start_lng,end_lat,end_lng
count,3.072438e+06,3.072478e+06,3.072478e+06,3.065275e+06,3.065275e+06
mean,6.013897e+03,4.074000e+01,-7.397585e+01,4.073975e+01,-7.397591e+01
std,1.073682e+03,3.849345e-02,2.554804e-02,3.847201e-02,2.560477e-02
min,2.733030e+03,4.063338e+01,-7.402747e+01,4.063338e+01,-7.407146e+01
25%,5.303080e+03,4.071535e+01,-7.399405e+01,4.071535e+01,-7.399416e+01
50%,6.004070e+03,4.073805e+01,-7.398169e+01,4.073726e+01,-7.398185e+01
75%,6.779040e+03,4.076229e+01,-7.395943e+01,4.076227e+01,-7.395922e+01
max,8.841030e+03,4.088226e+01,-7.388145e+01,4.088226e+01,-7.388000e+01

In [6]:
data.isnull().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name       40
start_station_id         40
end_station_name      13628
end_station_id        13628
start_lat                 0
start_lng                 0
end_lat                7203
end_lng                7203
member_casual             0
dtype: int64

In [7]:
data.ride_id.duplicated().sum()

0

In [8]:
columns = data.columns
columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [9]:
x = data['rideable_type'].value_counts()
x = pd.DataFrame(x)
x

               rideable_type
classic_bike         3039351
docked_bike            33087
electric_bike             40

In [10]:
x = data['start_station_name'].value_counts()
x = pd.DataFrame(x)
x

                                 start_station_name
E 17 St & Broadway                            13629
West St & Chambers St                         13505
W 21 St & 6 Ave                               13320
Cleveland Pl & Spring St                      11764
West St & Liberty St                          11518
...                                             ...
Sedgwick Ave & Hall of Fame Tce                  27
Boerum Pl\t& Pacific St                          17
49 St & 25 Ave                                    9
49 St & 31 Ave                                    6
Nassau St\t& Duffield St                          2

[1493 rows x 1 columns]

In [11]:
x = data['end_station_name'].value_counts()
x = pd.DataFrame(x)
x

                                  end_station_name
E 17 St & Broadway                           13746
West St & Chambers St                        13585
W 21 St & 6 Ave                              13334
Cleveland Pl & Spring St                     11775
West St & Liberty St                         11569
...                                            ...
Newport Pkwy                                     1
Harborside                                       1
Bergen Ave                                       1
Jersey & 6th St                                  1
Church Sq Park - 5 St & Park Ave                 1

[1522 rows x 1 columns]

In [12]:
x = data['member_casual'].value_counts()
x = pd.DataFrame(x)
x

        member_casual
member        1864076
casual        1208402

In [13]:
data.corr()

                  start_station_id  start_lat  start_lng   end_lat   end_lng
start_station_id          1.000000   0.989959   0.323812  0.869186  0.274138
start_lat                 0.989959   1.000000   0.372379  0.881327  0.319014
start_lng                 0.323812   0.372379   1.000000  0.322717  0.793248
end_lat                   0.869186   0.881327   0.322717  1.000000  0.374903
end_lng                   0.274138   0.319014   0.793248  0.374903  1.000000

#### Summarize issues
- started_at wrong data type
- ended_at wrong data type
- start_station_id wrong data type
- end_station_id wrong data type
- start station name and start station id, start_lat, start_lng in separate table
- end station name and end station id, end_lat, end_lng in separate table
- wrong column name member_casual

- investigate na values
- check similar writing for start and end station

## Clean data

In [14]:
data_clean = data.copy()

#### Summarize to dos

- change data type started_at 
- change data type ended_at
- change data type start_station_id 
- change data type end_station_id 
- rename member_casual column
- create tables for start station name and start station id, start_lat, start_lng
- create tables for end station name and end station id, end_lat, end_lng

- investigate na values
- check similar writing for start and end station

### Define

In [15]:
data_clean.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,FB6B89D05B67EBED,classic_bike,2021-08-24 15:59:57,2021-08-24 16:42:07,Broadway & E 21 St,6098.10,Central Park North & Adam Clayton Powell Blvd,7617.07,40.739888,-73.989586,40.799484,-73.955613,member
1,E13DA3E30CEF8DFC,classic_bike,2021-08-18 13:12:01,2021-08-18 13:21:26,E 13 St & 2 Ave,5820.08,Henry St & Grand St,5294.04,40.731539,-73.985302,40.714211,-73.981095,member
2,56617490AB8AE69C,classic_bike,2021-08-17 14:31:23,2021-08-17 14:35:34,E 95 St & 3 Ave,7365.13,E 84 St & Park Ave,7243.04,40.784903,-73.950503,40.778627,-73.957721,member
3,CA908B271C7D6663,classic_bike,2021-08-11 10:00:12,2021-08-11 10:31:01,Madison Ave & E 82 St,7188.13,E 84 St & Park Ave,7243.04,40.778131,-73.960694,40.778627,-73.957721,casual
4,3E170CE1F4FE179D,classic_bike,2021-08-12 19:28:38,2021-08-12 19:48:50,E 74 St & 1 Ave,6953.08,E 84 St & Park Ave,7243.04,40.768974,-73.954823,40.778627,-73.957721,casual

### Code

In [16]:
# Replace nan in start_station_id
data_clean.start_station_id = data_clean.start_station_id.replace('nan',np.nan)

In [17]:
# Change data type of started_at
data_clean['started_at'] = pd.to_datetime(data_clean['started_at'])

In [18]:
# Change data type of ended_at
data_clean['ended_at'] = pd.to_datetime(data_clean['ended_at'])

In [19]:
# Change data type of start_station_id
data_clean['start_station_id'] = data_clean['start_station_id'].astype(float)

In [20]:
# Clean end station id
abc = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [21]:
contained_letters = []

for i in abc:
    if data_clean.end_station_id.str.contains(i).sum() > 0:
        contained_letters.append(i)

In [22]:
end_station_id_unique = pd.DataFrame(data_clean.end_station_id.unique(), columns=['end_station_id'])

In [23]:
contained_letter_index = []

for j in contained_letters:
    for i in range(0, len(end_station_id_unique)):
        if end_station_id_unique.end_station_id.str.contains(j)[i] == True:
            contained_letter_index.append(i)

In [24]:
end_station_id_index_unique = pd.DataFrame(contained_letter_index, columns=['indices']).drop_duplicates()

In [25]:
end_station_id_index_list = end_station_id_index_unique.indices.to_list()

In [26]:
end_station_id_non_numeric = end_station_id_unique.loc[end_station_id_index_list].drop_duplicates().sort_values(by='end_station_id')['end_station_id'].to_list()

In [27]:
end_station_id_non_numeric_index_list = []

for i in range(0, len(data_clean)):
    for j in end_station_id_non_numeric:
        if data_clean.end_station_id[i] == j:
            end_station_id_non_numeric_index_list.append(i)

In [28]:
data_clean = data_clean.drop(index=end_station_id_non_numeric_index_list)
# data_clean = data_clean.drop([end_station_id_non_numeric_index_list], axis=0)

In [29]:
# Change data type of end_station_id
data_clean['end_station_id'] = data_clean['end_station_id'].astype(float)

In [30]:
# Start station id

In [31]:
df_start_station = data_clean.iloc[:,4:6].sort_values(by='start_station_id').dropna().drop_duplicates().reset_index().drop(columns=['index'])

In [32]:
duplicated_start_id = []

for i in range(0, len(df_start_station)):
    if df_start_station.start_station_id.duplicated()[i] == True:
        duplicated_start_id.append(df_start_station.start_station_id[i])

In [33]:
# for i in range(0, len(duplicated_start_id)):
#     print(df_start_station.query('start_station_id == duplicated_start_id[i]'))

In [34]:
df_start_station_list = []

for i in range(0, len(duplicated_start_id)):
    df_start_station_list.append(df_start_station[df_start_station.start_station_id == duplicated_start_id[i]])

In [35]:
index_list = []
drop_index_list = []

for i in range(0, len(df_start_station_list)):
    index_list.append(df_start_station_list[i].index)
    
for i in range(0, len(index_list)):
    drop_index_list.append(index_list[i][1])
    
for i in range(0, len(drop_index_list)):
    df_start_station.drop(drop_index_list[i], axis=0, inplace=True)

In [36]:
df_start_station.start_station_name.duplicated().sum()

0

In [37]:
# End station id

In [38]:
df_end_station = data_clean.iloc[:,6:8].sort_values(by='end_station_id').dropna().drop_duplicates().reset_index().drop(columns=['index'])

In [39]:
duplicated_end_id = []

for i in range(0, len(df_end_station)):
    if df_end_station.end_station_id.duplicated()[i] == True:
        duplicated_end_id.append(df_end_station.end_station_id[i])

In [40]:
df_end_station_list = []

for i in range(0, len(duplicated_end_id)):
    df_end_station_list.append(df_end_station[df_end_station.end_station_id == duplicated_end_id[i]])

In [41]:
index_list = []
drop_index_list = []

for i in range(0, len(df_end_station_list)):
    index_list.append(df_end_station_list[i].index)
    
for i in range(0, len(index_list)):
    drop_index_list.append(index_list[i][1])
    
for i in range(0, len(drop_index_list)):
    df_end_station.drop(drop_index_list[i], axis=0, inplace=True)

In [42]:
df_end_station.end_station_name.duplicated().sum()

0

In [43]:
# Rename member_casual column
data_clean = data_clean.rename(columns={'member_casual':'user'})

In [254]:
# Create table for station id
station_id_start = data_clean[['start_station_id', 'start_station_name', 'start_lat', 'start_lng']]
station_id_start = station_id_start.rename(columns={'start_station_id':'station_id', 'start_station_name':'station_name', 'start_lat':'lat', 'start_lng':'lng'})

In [255]:
station_id_end = data_clean[['end_station_id', 'end_station_name', 'end_lat', 'end_lng']]
station_id_end = station_id_end.rename(columns={'end_station_id':'station_id', 'end_station_name':'station_name', 'end_lat':'lat', 'end_lng':'lng'})

In [256]:
station_id = pd.concat([station_id_start, station_id_end])

In [257]:
station_id.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6144688 entries, 0 to 3072477
Data columns (total 4 columns):
 #   Column        Dtype
---  ------        -----
 0   station_id    float64
 1   station_name  object
 2   lat           float64
 3   lng           float64
dtypes: float64(3), object(1)
memory usage: 234.4+ MB

In [258]:
station_id = station_id.drop_duplicates()
station_id = station_id.dropna()
station_id = station_id.reset_index()
station_id = station_id.drop(columns=['index'])

In [259]:
station_id.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2221 entries, 0 to 2220
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   station_id    2221 non-null   float64
 1   station_name  2221 non-null   object
 2   lat           2221 non-null   float64
 3   lng           2221 non-null   float64
dtypes: float64(3), object(1)
memory usage: 69.5+ KB

In [260]:
station_id_short = station_id.drop(columns=['lat', 'lng'])
station_id_short

      station_id            station_name
0        6098.10      Broadway & E 21 St
1        5820.08         E 13 St & 2 Ave
2        7365.13         E 95 St & 3 Ave
3        7188.13   Madison Ave & E 82 St
4        6953.08         E 74 St & 1 Ave
...          ...                     ...
2216     6227.02     31 St & Thomson Ave
2217     4965.01   Lorimer St & Broadway
2218     3850.03           3 Ave & 14 St
2219     6951.03          28 Ave & 35 St
2220     8072.06  Sherman Ave & E 166 St

[2221 rows x 2 columns]

In [261]:
station_id_short = station_id_short.drop_duplicates()

In [262]:
station_id_short.station_id.duplicated().sum()

5

In [263]:
for i in range(0, len(station_id_short)):
    if station_id_short.station_id.duplicated().iloc[i] == True:
        print(station_id_short.station_id[i])
        print(station_id_short.station_name[i])

3266.01
7 Ave & 40 St
4721.01
Cedar St & Evergreen Ave
7942.21
Riverside Dr & W 138 St
4107.13
Dean St & Franklin Ave
5282.02
Devoe St & Morgan Ave

In [264]:
station_id_short.query('station_id == 3266.01')

      station_id   station_name
1138     3266.01  7 Ave & 40 St

In [ ]:
# find station ids with same id and name but different location

In [54]:
# Check duplicated values

In [265]:
station_id.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2221 entries, 0 to 2220
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   station_id    2221 non-null   float64
 1   station_name  2221 non-null   object
 2   lat           2221 non-null   float64
 3   lng           2221 non-null   float64
dtypes: float64(3), object(1)
memory usage: 69.5+ KB

In [266]:
station_id.station_id = station_id.station_id.astype(float)
station_id.station_name = station_id.station_name.astype(str)
station_id.lat = station_id.lat.astype(float)
station_id.lng = station_id.lng.astype(float)

In [269]:
station_id.duplicated().sum()

0

In [270]:
station_id.station_id.duplicated().sum()

732

In [271]:
station_id_dup = []

for i in range(0, len(station_id)):
    if station_id.station_id.duplicated()[i] == True:
        station_id_dup.append(station_id.station_id[i])
        
station_id_dup

[6098.1,
 5938.01,
 5001.08,
 5763.03,
 4677.01,
 4237.01,
 4715.01,
 5532.01,
 7409.08,
 5279.03,
 7372.1,
 6072.14,
 5687.04,
 7121.05,
 4060.09,
 5500.02,
 6297.02,
 6765.01,
 5329.03,
 4968.03,
 4546.04,
 7323.09,
 3919.07,
 5593.01,
 7079.06,
 6756.01,
 5687.11,
 6450.05,
 6889.12,
 5114.06,
 4110.1,
 7175.05,
 6055.08,
 6322.01,
 4605.04,
 4846.01,
 6915.02,
 4936.01,
 7141.07,
 6560.01,
 5679.05,
 6224.03,
 7340.06,
 5329.06,
 3651.04,
 5553.03,
 6115.09,
 5204.05,
 5679.08,
 7178.02,
 6203.02,
 5523.02,
 3928.08,
 5779.08,
 6876.04,
 5578.02,
 6212.04,
 6352.01,
 5288.12,
 6839.04,
 5712.03,
 6313.1,
 4668.08,
 7538.18,
 7281.09,
 7161.08,
 7052.01,
 7524.09,
 6854.05,
 5616.01,
 5159.04,
 6441.01,
 7745.07,
 6398.06,
 6912.01,
 6782.01,
 7627.1,
 6569.09,
 5335.07,
 6948.1,
 5247.1,
 5980.07,
 6747.07,
 5024.09,
 6839.1,
 5235.05,
 6182.02,
 7288.04,
 6937.07,
 5626.07,
 5481.04,
 7622.12,
 4590.01,
 6847.02,
 7845.1,
 7845.1,
 7634.01,
 4494.04,
 6190.08,
 7623.13,
 7260.09,
 4440.02,
 4374.01,
 7123.04,
 7602.05,
 7528.31,
 4789.03,
 5216.06,
 3803.09,
 6953.08,
 5207.01,
 5250.05,
 6224.05,
 6578.01,
 5391.06,
 6239.08,
 6726.01,
 6602.05,
 5297.02,
 8624.01,
 6157.04,
 7456.03,
 6920.03,
 7388.1,
 6190.03,
 6257.03,
 7183.03,
 7511.19,
 6379.03,
 7243.04,
 4148.07,
 6602.03,
 4199.12,
 4962.08,
 5492.05,
 6816.07,
 4010.15,
 4637.06,
 5506.14,
 4285.09,
 5847.01,
 5374.01,
 4614.04,
 5569.06,
 5964.01,
 4829.01,
 6747.06,
 6890.06,
 4683.02,
 6173.08,
 6827.11,
 6740.1,
 4953.04,
 5820.08,
 6560.15,
 5696.03,
 7753.13,
 4528.01,
 7188.13,
 6115.06,
 6206.08,
 5117.05,
 5561.06,
 5270.09,
 5422.04,
 5065.1,
 5190.09,
 5880.02,
 6278.04,
 8699.01,
 6498.09,
 7580.01,
 5036.06,
 6801.01,
 4116.08,
 6459.04,
 6569.07,
 6667.1,
 6659.03,
 7100.07,
 5905.12,
 5187.03,
 5300.06,
 4962.01,
 5746.14,
 4531.05,
 3771.06,
 4054.02,
 3722.04,
 5288.08,
 7540.02,
 5470.12,
 4345.11,
 4993.02,
 4395.07,
 5068.02,
 5593.04,
 7230.1,
 6197.08,
 5797.01,
 5489.04,
 7311.02,
 4461.01,
 4010.13,
 5653.12,
 4001.09,
 5371.07,
 4243.01,
 6676.02,
 6306.06,
 6532.06,
 6644.07,
 7146.04,
 5326.06,
 7453.01,
 5506.1,
 6498.1,
 5270.07,
 7253.04,
 6215.04,
 5989.02,
 6711.13,
 6230.04,
 7116.04,
 3865.05,
 4821.06,
 6148.02,
 4812.02,
 4249.1,
 5267.08,
 6407.07,
 7611.02,
 5137.11,
 5216.04,
 6131.12,
 7092.06,
 7028.04,
 7719.13,
 5971.08,
 6030.06,
 5430.08,
 5575.13,
 6474.11,
 5788.13,
 6569.08,
 6926.01,
 7020.09,
 4996.08,
 6422.09,
 5561.04,
 5137.1,
 5125.07,
 6890.01,
 5794.05,
 5489.03,
 6753.08,
 5721.14,
 5721.07,
 6960.1,
 7154.07,
 4546.05,
 4193.14,
 6179.07,
 5445.02,
 5453.01,
 4895.09,
 6626.01,
 6566.01,
 6382.05,
 6233.05,
 3978.13,
 4157.1,
 4319.07,
 6998.08,
 6137.04,
 7741.04,
 7382.04,
 7577.27,
 6464.08,
 4656.03,
 5838.09,
 4665.02,
 5382.07,
 6814.01,
 6004.07,
 6416.06,
 5406.04,
 4095.03,
 6584.12,
 7286.05,
 5004.02,
 4993.13,
 6140.05,
 3731.11,
 5414.06,
 5359.1,
 7680.03,
 4228.02,
 6289.06,
 5332.1,
 6248.06,
 6923.2,
 5164.04,
 7018.01,
 4095.1,
 4596.09,
 6079.03,
 5886.02,
 4488.09,
 5922.07,
 5626.13,
 7212.05,
 6969.08,
 5626.15,
 6737.03,
 5779.09,
 4307.13,
 6563.12,
 7180.02,
 4488.08,
 6064.08,
 5736.09,
 5515.02,
 3704.08,
 5929.01,
 6860.12,
 7704.04,
 4151.01,
 5539.06,
 4354.07,
 6462.05,
 7823.03,
 5666.04,
 5137.13,
 7652.04,
 6551.02,
 5442.05,
 6824.07,
 4422.04,
 6795.01,
 5561.06,
 6046.02,
 5351.03,
 3960.01,
 5922.07,
 7595.17,
 6682.03,
 5411.08,
 5826.02,
 6266.06,
 7524.16,
 6429.01,
 6022.04,
 5755.01,
 7049.04,
 4853.06,
 7720.03,
 6572.08,
 4074.03,
 5288.09,
 5506.14,
 6030.04,
 7235.13,
 7068.07,
 7128.08,
 7084.12,
 7204.08,
 6432.08,
 4762.04,
 8226.06,
 7655.22,
 6441.02,
 6122.09,
 6389.09,
 5847.08,
 5659.05,
 6617.09,
 6170.02,
 4019.06,
 3972.08,
 6605.08,
 6659.01,
 6762.02,
 5400.05,
 7207.08,
 5805.05,
 6611.02,
 7606.01,
 7658.13,
 7432.09,
 6743.06,
 7286.01,
 7522.02,
 4565.04,
 4077.07,
 8018.09,
 7047.07,
 6345.08,
 7386.1,
 7541.01,
 4461.04,
 6717.06,
 5669.1,
 7057.07,
 5365.02,
 8507.02,
 4205.06,
 6850.01,
 7599.02,
 5755.14,
 6650.08,
 6925.09,
 6650.07,
 4042.08,
 5379.09,
 7286.02,
 6762.04,
 4362.04,
 4645.09,
 4028.03,
 7795.09,
 5065.12,
 5659.11,
 5342.1,
 5914.03,
 6932.14,
 4119.04,
 8631.03,
 7783.18,
 5721.01,
 4166.08,
 6740.01,
 6857.09,
 4124.04,
 6364.07,
 5436.09,
 4611.03,
 5550.09,
 5105.09,
 6896.16,
 4428.02,
 4033.06,
 4446.05,
 4380.08,
 6131.13,
 4748.07,
 3842.08,
 7636.05,
 5300.05,
 5062.01,
 6237.01,
 5108.01,
 5181.04,
 4298.05,
 4700.06,
 4086.06,
 5190.07,
 5128.04,
 5854.1,
 4413.08,
 6700.14,
 3125.09,
 5847.06,
 5584.04,
 5636.11,
 3905.15,
 5854.09,
 4208.11,
 4045.01,
 5303.06,
 7293.1,
 5403.04,
 4217.02,
 3996.01,
 4404.1,
 4077.04,
 5270.05,
 3834.1,
 8732.04,
 5788.12,
 3879.04,
 5167.06,
 5400.08,
 3665.06,
 6670.03,
 5303.08,
 7756.1,
 4231.04,
 4677.06,
 7098.05,
 5763.03,
 7432.04,
 7365.13,
 7587.14,
 7407.13,
 3981.1,
 4128.08,
 7692.11,
 7727.08,
 7463.09,
 4628.05,
 6779.04,
 7344.05,
 7488.24,
 4371.01,
 4437.01,
 3696.05,
 4051.01,
 4010.01,
 5623.03,
 6822.09,
 5450.04,
 5259.06,
 4497.09,
 6474.12,
 5093.01,
 5308.04,
 4762.05,
 7059.01,
 6280.12,
 4237.02,
 8344.09,
 7520.07,
 7579.01,
 7149.05,
 5938.11,
 4225.14,
 7365.08,
 4392.04,
 3803.05,
 3762.08,
 4107.05,
 4143.03,
 4125.07,
 4258.07,
 4281.08,
 4395.04,
 3987.06,
 7855.03,
 5550.05,
 5045.05,
 4479.08,
 6471.02,
 8605.06,
 4724.03,
 8665.02,
 4956.02,
 4422.05,
 5238.05,
 4175.14,
 4634.02,
 7741.01,
 4707.03,
 4729.01,
 4510.04,
 4354.05,
 4446.01,
 6089.07,
 4519.04,
 4419.03,
 3887.03,
 4519.02,
 4368.05,
 4157.15,
 3460.01,
 4184.07,
 6164.09,
 3882.01,
 4266.03,
 6197.02,
 7625.18,
 4553.04,
 6679.11,
 7903.02,
 6495.17,
 6798.01,
 5065.04,
 4818.03,
 4455.1,
 6395.01,
 5553.1,
 5148.03,
 4255.05,
 6958.06,
 7186.15,
 7026.08,
 6989.07,
 5922.08,
 7144.01,
 4074.03,
 4330.09,
 7338.02,
 7265.1,
 7443.01,
 5545.04,
 8748.02,
 7567.06,
 6212.08,
 8021.11,
 6514.08,
 5379.1,
 5872.1,
 7436.11,
 7291.06,
 4214.03,
 5335.03,
 7003.06,
 7286.01,
 6691.11,
 4645.04,
 4707.04,
 6432.09,
 7113.08,
 5406.02,
 4596.05,
 7082.01,
 4348.07,
 4692.01,
 6529.02,
 6887.03,
 7876.07,
 7682.01,
 6966.04,
 4107.13,
 6319.01,
 7650.05,
 7619.05,
 4452.03,
 7009.02,
 5453.05,
 5476.03,
 4850.04,
 8679.03,
 4903.08,
 7504.12,
 4883.03,
 3955.05,
 3736.04,
 4134.06,
 4476.03,
 4202.04,
 4821.1,
 5593.02,
 6932.15,
 6901.01,
 3940.04,
 7360.1,
 8167.04,
 5616.01,
 3874.01,
 4620.02,
 7414.17,
 7818.17,
 4455.11,
 4847.03,
 6688.01,
 5084.03,
 6991.12,
 7610.13,
 4617.01,
 4322.06,
 3579.04,
 6541.03,
 3501.01,
 4479.06,
 4781.03,
 4718.08,
 5445.02,
 4013.08,
 6750.16,
 6720.07,
 7233.05,
 5403.05,
 8474.02,
 8535.09,
 4222.02,
 8811.01,
 3776.05,
 8282.13,
 4339.01,
 5198.04,
 4781.05,
 7643.18,
 5068.02,
 6981.16,
 3914.02,
 4565.06,
 7188.1,
 6030.06,
 4452.01,
 6879.04,
 6958.06,
 4962.08,
 6873.01,
 6836.07,
 6996.01,
 6656.05,
 5062.01,
 6438.04,
 6230.04,
 8226.07,
 8543.01,
 4336.01,
 5980.07,
 4086.05,
 5500.07,
 7738.04,
 4175.15,
 4659.02,
 6072.06,
 5872.1,
 4617.01,
 8594.02,
 4732.04,
 6893.1,
 7450.05,
 5433.03,
 8795.03,
 7062.07,
 4697.01,
 7640.04,
 8156.03,
 3847.04,
 8766.03,
 6076.01,
 8649.03,
 4921.04,
 6227.02,
 4965.01,
 3850.03,
 6951.03,
 8072.06]

In [272]:
#station_id_dub_df = pd.DataFrame(columns=('station_id', 'station_name'))

for i in range(0, len(station_id)):
    #df = station_id[station_id.station_id == station_id_dup[i]]
    print(station_id[station_id.station_id == station_id_dup[i]])
    #station_id_dub_df.append(df)

    station_id        station_name      lat      lng
0       6098.1  Broadway & E 21 St  40.7399 -73.9896
86      6098.1  Broadway & E 21 St  40.7399 -73.9896
    station_id     station_name      lat      lng
28     5938.01  E 19 St & 3 Ave  40.7362 -73.9847
88     5938.01  E 19 St & 3 Ave  40.7362 -73.9847
     station_id           station_name      lat      lng
136     5001.08  Little West St & 1 Pl  40.7057 -74.0168
191     5001.08  Little West St & 1 Pl  40.7057 -74.0168
      station_id        station_name      lat      lng
47       5763.03  Carmine St & 6 Ave  40.7304 -74.0021
228      5763.03  Carmine St & 6 Ave  40.7304 -74.0022
1963     5763.03  Carmine St & 6 Ave  40.7284 -73.9997
     station_id                 station_name     lat      lng
63      4677.01  Cadman Plaza E & Tillary St  40.696 -73.9901
278     4677.01  Cadman Plaza E & Tillary St  40.696 -73.9901
     station_id            station_name      lat      lng
408     4237.01  Lewis Ave & Decatur St  40.6815 -73.9349
417     4237.01  Lewis Ave & Decatur St  40.6815 -73.9349
     station_id               station_name      lat     lng
87      4715.01  Franklin Ave & Myrtle Ave  40.6945 -73.958
471     4715.01  Franklin Ave & Myrtle Ave  40.6945 -73.958
     station_id           station_name      lat      lng
369     5532.01  Mercer St & Spring St  40.7236 -73.9995
503     5532.01  Mercer St & Spring St  40.7236 -73.9995
     station_id        station_name      lat      lng
120     7409.08  W 84 St & Broadway  40.7868 -73.9771
534     7409.08  W 84 St & Broadway  40.7868 -73.9771
     station_id          station_name      lat      lng
269     5279.03  Centre St & Worth St  40.7149 -74.0023
572     5279.03  Centre St & Worth St  40.7149 -74.0023
     station_id     station_name      lat      lng
207      7372.1  5 Ave & E 93 St  40.7858 -73.9575
593      7372.1  5 Ave & E 93 St  40.7858 -73.9575
     station_id               station_name      lat      lng
258     6072.14  Gansevoort St & Hudson St  40.7394 -74.0051
629     6072.14  Gansevoort St & Hudson St  40.7394 -74.0051
     station_id              station_name      lat     lng
344     5687.04  MacDougal St & Prince St  40.7271 -74.003
673     5687.04  MacDougal St & Prince St  40.7271 -74.003
     station_id     station_name      lat      lng
634     7121.05  E 81 St & 2 Ave  40.7748 -73.9543
677     7121.05  E 81 St & 2 Ave  40.7748 -73.9543
     station_id        station_name      lat      lng
121     4060.09  Carroll St & 5 Ave  40.6752 -73.9815
696     4060.09  Carroll St & 5 Ave  40.6752 -73.9815
     station_id          station_name      lat      lng
196     5500.02  Grand St & Greene St  40.7217 -74.0024
707     5500.02  Grand St & Greene St  40.7217 -74.0024
     station_id     station_name      lat      lng
49      6297.02  W 26 St & 8 Ave  40.7473 -73.9972
720     6297.02  W 26 St & 8 Ave  40.7473 -73.9972
     station_id      station_name      lat      lng
72      6765.01  12 Ave & W 40 St  40.7609 -74.0028
733     6765.01  12 Ave & W 40 St  40.7609 -74.0028
     station_id           station_name      lat      lng
9       5329.03  West St & Chambers St  40.7175 -74.0132
752     5329.03  West St & Chambers St  40.7175 -74.0132
     station_id          station_name     lat      lng
751     4968.03  Bridge St & Water St  40.703 -73.9847
756     4968.03  Bridge St & Water St  40.703 -73.9847
     station_id                 station_name      lat      lng
185     4546.04  DeKalb Ave & S Portland Ave  40.6898 -73.9749
790     4546.04  DeKalb Ave & S Portland Ave  40.6898 -73.9749
     station_id     station_name      lat      lng
400     7323.09  5 Ave & E 87 St  40.7823 -73.9598
804     7323.09  5 Ave & E 87 St  40.7823 -73.9598
     station_id                 station_name      lat      lng
38      3919.07  Eastern Pkwy & Franklin Ave  40.6708 -73.9577
810     3919.07  Eastern Pkwy & Franklin Ave  40.6708 -73.9577
     station_id    station_name      lat      lng
254     5593.01  E 1 St & 1 Ave  40.7234 -73.9886
811     5593.01  E 1 St & 1 Ave  40.7234 -73.9887
     station_id                 station_name      lat      lng
158     7079.06  Central Park West & W 68 St  40.7734 -73.9778
848     7079.06  Central Park West & W 68 St  40.7734 -73.9778
     station_id      station_name      lat      lng
174     6756.01  W 43 St & 10 Ave  40.7601 -73.9946
849     6756.01  W 43 St & 10 Ave  40.7601 -73.9946
     station_id         station_name      lat      lng
866     5687.11  King St & Varick St  40.7279 -74.0054
874     5687.11  King St & Varick St  40.7279 -74.0054
     station_id     station_name      lat      lng
190     6450.05  8 Ave & W 31 St  40.7506 -73.9947
885     6450.05  8 Ave & W 31 St  40.7506 -73.9947
     station_id        station_name      lat      lng
223     6889.12  E 72 St & York Ave  40.7666 -73.9535
890     6889.12  E 72 St & York Ave  40.7666 -73.9535
     station_id    station_name      lat      lng
129     5114.06  West Thames St  40.7083 -74.0171
894     5114.06  West Thames St  40.7083 -74.0171
     station_id    station_name      lat      lng
57       4110.1  3 St & Hoyt St  40.6777 -73.9936
895      4110.1  3 St & Hoyt St  40.6777 -73.9936
     station_id            station_name      lat     lng
335     7175.05  Columbus Ave & W 72 St  40.7771 -73.979
908     7175.05  Columbus Ave & W 72 St  40.7771 -73.979
     station_id        station_name      lat      lng
106     6055.08  E 20 St & Park Ave  40.7383 -73.9875
909     6055.08  E 20 St & Park Ave  40.7383 -73.9875
     station_id     station_name      lat      lng
296     6322.01  E 33 St & 5 Ave  40.7477 -73.9849
914     6322.01  E 33 St & 5 Ave  40.7477 -73.9849
     station_id               station_name      lat      lng
915     4605.04  Clinton St & Joralemon St  40.6924 -73.9934
919     4605.04  Clinton St & Joralemon St  40.6924 -73.9934
     station_id             station_name      lat      lng
217     4846.01  South St & Whitehall St  40.7012 -74.0123
923     4846.01  South St & Whitehall St  40.7012 -74.0123
     station_id          station_name      lat      lng
116     6915.02  Steinway St & 28 Ave  40.7656 -73.9137
930     6915.02  Steinway St & 28 Ave  40.7656 -73.9137
     station_id              station_name      lat      lng
163     4936.01  Front St & Washington St  40.7026 -73.9894
932     4936.01  Front St & Washington St  40.7026 -73.9894
     station_id                 station_name      lat      lng
238     7141.07  Central Park West & W 72 St  40.7758 -73.9762
949     7141.07  Central Park West & W 72 St  40.7758 -73.9762
     station_id        station_name      lat      lng
71      6560.01  Broadway & W 41 St  40.7551 -73.9866
951     6560.01  Broadway & W 41 St  40.7551 -73.9866
     station_id             station_name      lat      lng
229     5679.05  Mercer St & Bleecker St  40.7271 -73.9966
977     5679.05  Mercer St & Bleecker St  40.7271 -73.9966
     station_id     station_name      lat      lng
342     6224.03  W 22 St & 8 Ave  40.7448 -73.9992
978     6224.03  W 22 St & 8 Ave  40.7448 -73.9992
     station_id            station_name      lat      lng
95      7340.06  Riverside Dr & W 78 St  40.7841 -73.9836
988     7340.06  Riverside Dr & W 78 St  40.7841 -73.9836
     station_id         station_name     lat     lng
211     5329.06  Murray St & West St  40.715 -74.013
989     5329.06  Murray St & West St  40.715 -74.013
     station_id                     station_name      lat      lng
557     3651.04  West Drive & Prospect Park West  40.6611 -73.9795
992     3651.04  West Drive & Prospect Park West  40.6611 -73.9795
     station_id    station_name      lat      lng
109     5553.03  E 3 St & 1 Ave  40.7247 -73.9878
998     5553.03  E 3 St & 1 Ave  40.7247 -73.9878
      station_id      station_name      lat      lng
268      6115.09  W 15 St & 10 Ave  40.7428 -74.0075
1000     6115.09  W 15 St & 10 Ave  40.7428 -74.0075
      station_id        station_name      lat      lng
112      5204.05  S 4 St & Wythe Ave  40.7129 -73.9659
1007     5204.05  S 4 St & Wythe Ave  40.7129 -73.9659
      station_id             station_name      lat      lng
18       5679.08  Bleecker St & Crosby St  40.7262 -73.9951
1012     5679.08  Bleecker St & Crosby St  40.7262 -73.9951
      station_id    station_name      lat      lng
938      7178.02  23 Ave & 27 St  40.7762 -73.9153
1020     7178.02  23 Ave & 27 St  40.7762 -73.9153
      station_id         station_name      lat      lng
132      6203.02  Jackson Ave & 46 Rd  40.7452 -73.9473
1025     6203.02  Jackson Ave & 46 Rd  40.7452 -73.9473
      station_id              station_name      lat      lng
244      5523.02  Stanton St & Chrystie St  40.7223 -73.9915
1043     5523.02  Stanton St & Chrystie St  40.7223 -73.9915
      station_id                   station_name      lat      lng
863      3928.08  Eastern Pkwy & Washington Ave  40.6716 -73.9631
1059     3928.08  Eastern Pkwy & Washington Ave  40.6716 -73.9631
      station_id     station_name      lat      lng
171      5779.08  1 Ave & E 16 St  40.7322 -73.9817
1074     5779.08  1 Ave & E 16 St  40.7322 -73.9817
      station_id            station_name      lat      lng
966      6876.04  Central Park S & 6 Ave  40.7659 -73.9763
1087     6876.04  Central Park S & 6 Ave  40.7659 -73.9763
      station_id             station_name      lat      lng
394      5578.02  Watts St & Greenwich St  40.7241 -74.0097
1104     5578.02  Watts St & Greenwich St  40.7241 -74.0097
      station_id   station_name      lat      lng
101      6212.04  48 Ave & 5 St  40.7444 -73.9559
1108     6212.04  48 Ave & 5 St  40.7444 -73.9559
      station_id         station_name      lat      lng
66       6352.01  44 Dr & Jackson Ave  40.7472 -73.9433
1110     6352.01  44 Dr & Jackson Ave  40.7472 -73.9433
      station_id              station_name      lat      lng
67       5288.12  Murray St & Greenwich St  40.7149 -74.0112
1112     5288.12  Murray St & Greenwich St  40.7149 -74.0112
      station_id           station_name     lat      lng
73       6839.04  E 58 St & Madison Ave  40.763 -73.9721
1116     6839.04  E 58 St & Madison Ave  40.763 -73.9721
      station_id              station_name      lat      lng
538      5712.03  Cooper Square & Astor Pl  40.7295 -73.9908
1120     5712.03  Cooper Square & Astor Pl  40.7295 -73.9908
      station_id             station_name      lat      lng
888       6313.1  Lexington Ave & E 36 St  40.7476 -73.9788
1125      6313.1  Lexington Ave & E 36 St  40.7476 -73.9788
      station_id          station_name      lat      lng
119      4668.08  Johnson St & Gold St  40.6947 -73.9836
1128     4668.08  Johnson St & Gold St  40.6947 -73.9836
      station_id              station_name      lat      lng
449      7538.18  Central Park W & W 97 St  40.7925 -73.9642
1130     7538.18  Central Park W & W 97 St  40.7925 -73.9642
      station_id            station_name      lat      lng
41       7281.09  W 76 St & Columbus Ave  40.7802 -73.9773
1143     7281.09  W 76 St & Columbus Ave  40.7802 -73.9773
      station_id     station_name      lat      lng
100      7161.08  5 Ave & E 78 St  40.7763 -73.9643
1146     7161.08  5 Ave & E 78 St  40.7763 -73.9643
      station_id        station_name      lat      lng
265      7052.01  W 63 St & Broadway  40.7716 -73.9826
1148     7052.01  W 63 St & Broadway  40.7716 -73.9826
      station_id            station_name      lat      lng
93       7524.09  West End Ave & W 94 St  40.7942 -73.9741
1151     7524.09  West End Ave & W 94 St  40.7942 -73.9741
      station_id     station_name      lat      lng
380      6854.05  W 50 St & 9 Ave  40.7636 -73.9892
1155     6854.05  W 50 St & 9 Ave  40.7636 -73.9892
      station_id       station_name      lat      lng
134      5616.01  E 9 St & Avenue C  40.7252 -73.9777
1160     5616.01  E 9 St & Avenue C  40.7252 -73.9777
2136     5616.01  E 9 St & Avenue C  40.7230 -73.9800
      station_id         station_name      lat      lng
468      5159.04  Pike St & Monroe St  40.7117 -73.9919
1167     5159.04  Pike St & Monroe St  40.7117 -73.9919
      station_id        station_name     lat      lng
897      6441.01  Broadway & W 36 St  40.751 -73.9877
1168     6441.01  Broadway & W 36 St  40.751 -73.9877
      station_id              station_name      lat      lng
621      7745.07  W 120 St & Claremont Ave  40.8109 -73.9634
1174     7745.07  W 120 St & Claremont Ave  40.8109 -73.9634
      station_id     station_name      lat      lng
498      6398.06  W 37 St & 5 Ave  40.7504 -73.9834
1179     6398.06  W 37 St & 5 Ave  40.7504 -73.9834
      station_id                station_name      lat      lng
299      6912.01  7 Ave & Central Park South  40.7667 -73.9791
1185     6912.01  7 Ave & Central Park South  40.7667 -73.9791
      station_id          station_name      lat     lng
644      6782.01  31 Ave & Steinway St  40.7611 -73.917
1191     6782.01  31 Ave & Steinway St  40.7611 -73.917
      station_id          station_name      lat      lng
201       7627.1  Lenox Ave & W 115 St  40.8012 -73.9501
1195      7627.1  Lenox Ave & W 115 St  40.8012 -73.9501
      station_id     station_name      lat      lng
202      6569.09  W 35 St & 9 Ave  40.7541 -73.9961
1196     6569.09  W 35 St & 9 Ave  40.7541 -73.9961
      station_id                       station_name      lat      lng
62       5335.07  Grand St & Samuel Dickstein Plaza  40.7151 -73.9842
1197     5335.07  Grand St & Samuel Dickstein Plaza  40.7151 -73.9842
      station_id        station_name     lat      lng
193       6948.1  Broadway & W 58 St  40.767 -73.9817
1199      6948.1  Broadway & W 58 St  40.767 -73.9817
      station_id         station_name      lat      lng
8         5247.1  Reade St & Broadway  40.7145 -74.0056
1200      5247.1  Reade St & Broadway  40.7145 -74.0056
      station_id        station_name      lat      lng
79       5980.07  E 17 St & Broadway  40.7370 -73.9901
1201     5980.07  E 17 St & Broadway  40.7371 -73.9901
2191     5980.07  E 17 St & Broadway  40.7403 -73.9841
      station_id     station_name      lat      lng
603      6747.07  8 Ave & W 49 St  40.7617 -73.9866
1202     6747.07  8 Ave & W 49 St  40.7617 -73.9866
      station_id          station_name      lat      lng
582      5024.09  Fulton St & Pearl St  40.7077 -74.0044
1204     5024.09  Fulton St & Pearl St  40.7077 -74.0044
      station_id                       station_name      lat      lng
670       6839.1  Grand Army Plaza & Central Park S  40.7644 -73.9737
1205      6839.1  Grand Army Plaza & Central Park S  40.7644 -73.9737
      station_id          station_name      lat      lng
166      5235.05  S 3 St & Bedford Ave  40.7126 -73.9626
1208     5235.05  S 3 St & Bedford Ave  40.7126 -73.9626
      station_id     station_name      lat      lng
98       6182.02  W 20 St & 7 Ave  40.7424 -73.9973
1210     6182.02  W 20 St & 7 Ave  40.7424 -73.9973
      station_id            station_name      lat      lng
470      7288.04  Riverside Dr & W 72 St  40.7806 -73.9856
1211     7288.04  Riverside Dr & W 72 St  40.7806 -73.9856
      station_id         station_name      lat      lng
140      6937.07  Vernon Blvd & 10 St  40.7672 -73.9374
1212     6937.07  Vernon Blvd & 10 St  40.7672 -73.9374
      station_id       station_name      lat      lng
118      5626.07  E 7 St & Avenue A  40.7262 -73.9838
1214     5626.07  E 7 St & Avenue A  40.7262 -73.9838
      station_id             station_name      lat      lng
83       5481.04  Driggs Ave & Lorimer St  40.7218 -73.9504
1216     5481.04  Driggs Ave & Lorimer St  40.7218 -73.9504
      station_id      station_name      lat      lng
878      7622.12  2 Ave & E 122 St  40.8007 -73.9349
1217     7622.12  2 Ave & E 122 St  40.8007 -73.9349
      station_id      station_name      lat      lng
312      4590.01  Soissons Landing  40.6923 -74.0149
1222     4590.01  Soissons Landing  40.6923 -74.0149
      station_id        station_name      lat      lng
280      6847.02  Broadway & W 56 St  40.7653 -73.9819
1231     6847.02  Broadway & W 56 St  40.7653 -73.9819
      station_id                 station_name      lat     lng
687       7845.1   Grand Concourse & E 144 St  40.8169 -73.928
1232      7845.1   Grand Concourse & E 144 St  40.8169 -73.928
1233      7845.1  Grand Concourse & E 144  St  40.8169 -73.928
      station_id                 station_name      lat     lng
687       7845.1   Grand Concourse & E 144 St  40.8169 -73.928
1232      7845.1   Grand Concourse & E 144 St  40.8169 -73.928
1233      7845.1  Grand Concourse & E 144  St  40.8169 -73.928
      station_id              station_name      lat      lng
247      7634.01  W 106 St & Amsterdam Ave  40.8008 -73.9664
1235     7634.01  W 106 St & Amsterdam Ave  40.8008 -73.9664
      station_id                 station_name      lat      lng
456      4494.04  Lafayette Ave & St James Pl  40.6885 -73.9648
1236     4494.04  Lafayette Ave & St James Pl  40.6885 -73.9648
      station_id     station_name      lat      lng
333      6190.08  9 Ave & W 18 St  40.7432 -74.0037
1242     6190.08  9 Ave & W 18 St  40.7432 -74.0037
      station_id             station_name      lat      lng
662      7623.13  Riverside Dr & W 104 St  40.8013 -73.9711
1244     7623.13  Riverside Dr & W 104 St  40.8013 -73.9711
      station_id             station_name      lat      lng
488      7260.09  Amsterdam Ave & W 73 St  40.7797 -73.9809
1249     7260.09  Amsterdam Ave & W 73 St  40.7797 -73.9809
      station_id           station_name      lat      lng
1251     4440.02  Yankee Ferry Terminal  40.6871 -74.0168
1252     4440.02  Yankee Ferry Terminal  40.6871 -74.0168
      station_id  station_name      lat      lng
1234     4374.01  Picnic Point  40.6851 -74.0254
1253     4374.01  Picnic Point  40.6851 -74.0254
      station_id                      station_name      lat      lng
242      7123.04  W 64 St & Thelonious Monk Circle  40.7752 -73.9892
1256     7123.04  W 64 St & Thelonious Monk Circle  40.7752 -73.9892
      station_id          station_name      lat      lng
148      7602.05  Lenox Ave & W 111 St  40.7988 -73.9523
1257     7602.05  Lenox Ave & W 111 St  40.7988 -73.9523
      station_id            station_name      lat      lng
327      7528.31  E 106 St & Madison Ave  40.7934 -73.9495
1260     7528.31  E 106 St & Madison Ave  40.7934 -73.9494
      station_id         station_name      lat      lng
446      4789.03  Clark St & Henry St  40.6976 -73.9934
1261     4789.03  Clark St & Henry St  40.6976 -73.9934
      station_id          station_name      lat      lng
253      5216.06  Vesey St & Church St  40.7122 -74.0105
1262     5216.06  Vesey St & Church St  40.7122 -74.0105
      station_id  station_name      lat      lng
496      3803.09  6 Ave & 9 St  40.6681 -73.9838
1263     3803.09  6 Ave & 9 St  40.6681 -73.9838
      station_id     station_name     lat      lng
4        6953.08  E 74 St & 1 Ave  40.769 -73.9548
1265     6953.08  E 74 St & 1 Ave  40.769 -73.9548
      station_id             station_name      lat      lng
980      5207.01  Centre St & Chambers St  40.7127 -74.0046
1266     5207.01  Centre St & Chambers St  40.7127 -74.0046
      station_id              station_name      lat     lng
912      5250.05  Bushwick Ave & Powers St  40.7125 -73.941
1267     5250.05  Bushwick Ave & Powers St  40.7125 -73.941
      station_id     station_name      lat   lng
388      6224.05  W 20 St & 8 Ave  40.7435 -74.0
1270     6224.05  W 20 St & 8 Ave  40.7435 -74.0
      station_id      station_name      lat      lng
760      6578.01  W 34 St & 11 Ave  40.7559 -74.0021
1272     6578.01  W 34 St & 11 Ave  40.7559 -74.0021
      station_id             station_name      lat      lng
276      5391.06  Lispenard St & Broadway  40.7194 -74.0025
1274     5391.06  Lispenard St & Broadway  40.7194 -74.0025
      station_id     station_name      lat      lng
415      6239.08  E 31 St & 3 Ave  40.7439 -73.9797
1275     6239.08  E 31 St & 3 Ave  40.7439 -73.9797

1518     4962.01  Broadway & Battery Pl  40.7046 -74.0136
      station_id     station_name      lat      lng
500      5746.14  E 11 St & 1 Ave  40.7295 -73.9843
1519     5746.14  E 11 St & 1 Ave  40.7295 -73.9843
      station_id             station_name      lat      lng
858      4531.05  Henry St & Atlantic Ave  40.6909 -73.9961
1520     4531.05  Henry St & Atlantic Ave  40.6909 -73.9961
      station_id   station_name      lat     lng
22       3771.06  14 St & 5 Ave  40.6663 -73.989
1522     3771.06  14 St & 5 Ave  40.6663 -73.989
      station_id            station_name      lat      lng
658      4054.02  Wolcott St & Dwight St  40.6753 -74.0101
1523     4054.02  Wolcott St & Dwight St  40.6753 -74.0101
      station_id               station_name      lat      lng
24       3722.04  Prospect Park West & 8 St  40.6651 -73.9764
1534     3722.04  Prospect Park West & 8 St  40.6651 -73.9764
      station_id         station_name      lat      lng
141      5288.08  Park Pl & Church St  40.7133 -74.0094
1535     5288.08  Park Pl & Church St  40.7133 -74.0094
      station_id      station_name      lat      lng
542      7540.02  E 114 St & 1 Ave  40.7946 -73.9363
1536     7540.02  E 114 St & 1 Ave  40.7946 -73.9363
      station_id                   station_name      lat      lng
641      5470.12  North Moore St & Greenwich St  40.7202 -74.0103
1539     5470.12  North Moore St & Greenwich St  40.7202 -74.0103
      station_id             station_name      lat     lng
80       4345.11  Fulton St & Waverly Ave  40.6832 -73.966
1540     4345.11  Fulton St & Waverly Ave  40.6832 -73.966
      station_id               station_name      lat      lng
474      4993.02  Pearl St & Hanover Square  40.7047 -74.0093
1541     4993.02  Pearl St & Hanover Square  40.7047 -74.0093
      station_id            station_name      lat      lng
777      4395.07  Hanson Pl & Ashland Pl  40.6851 -73.9779
1542     4395.07  Hanson Pl & Ashland Pl  40.6851 -73.9779
      station_id                 station_name      lat      lng
74       5068.02  Montrose Ave & Bushwick Ave  40.7077 -73.9402
1544     5068.02  Montrose Ave & Bushwick Ave  40.7077 -73.9402
2171     5068.02  Montrose Ave & Bushwick Ave  40.7077 -73.9402
      station_id    station_name      lat      lng
410      5593.04  E 4 St & 2 Ave  40.7263 -73.9898
1546     5593.04  E 4 St & 2 Ave  40.7263 -73.9898
      station_id            station_name      lat      lng
467       7230.1  W 74 St & Columbus Ave  40.7786 -73.9775
1547      7230.1  W 74 St & Columbus Ave  40.7786 -73.9775
      station_id     station_name      lat      lng
352      6197.08  E 33 St & 1 Ave  40.7432 -73.9745
1548     6197.08  E 33 St & 1 Ave  40.7432 -73.9745
      station_id                  station_name      lat      lng
632      5797.01  MacDougal St & Washington Sq  40.7323 -73.9985
1549     5797.01  MacDougal St & Washington Sq  40.7323 -73.9985
      station_id        station_name      lat      lng
1380     5489.04  N 11 St & Kent Ave  40.7225 -73.9592
1550     5489.04  N 11 St & Kent Ave  40.7225 -73.9592
      station_id             station_name      lat      lng
407      7311.02  Amsterdam Ave & W 79 St  40.7829 -73.9787
1551     7311.02  Amsterdam Ave & W 79 St  40.7829 -73.9787
      station_id                  station_name      lat      lng
70       4461.01  Clermont Ave & Lafayette Ave  40.6876 -73.9697
1552     4461.01  Clermont Ave & Lafayette Ave  40.6876 -73.9697
      station_id                  station_name     lat      lng
821      4010.13  Plaza St West & Flatbush Ave  40.675 -73.9711
1553     4010.13  Plaza St West & Flatbush Ave  40.675 -73.9711
      station_id           station_name      lat      lng
1366     5653.12  Spring St & Hudson St  40.7258 -74.0077
1558     5653.12  Spring St & Hudson St  40.7258 -74.0077
      station_id                  station_name      lat      lng
221      4001.09  St Johns Pl & Washington Ave  40.6737 -73.9632
1559     4001.09  St Johns Pl & Washington Ave  40.6737 -73.9632
      station_id           station_name      lat      lng
188      5371.07  Frost St & Meeker Ave  40.7177 -73.9488
1560     5371.07  Frost St & Meeker Ave  40.7177 -73.9488
      station_id                station_name      lat      lng
666      4243.01  Commerce St & Van Brunt St  40.6812 -74.0086
1563     4243.01  Commerce St & Van Brunt St  40.6812 -74.0086
      station_id     station_name      lat      lng
302      6676.02  W 45 St & 8 Ave  40.7593 -73.9886
1568     6676.02  W 45 St & 8 Ave  40.7593 -73.9886
      station_id      station_name      lat      lng
373      6306.06  W 22 St & 10 Ave  40.7469 -74.0045
1569     6306.06  W 22 St & 10 Ave  40.7469 -74.0045
      station_id     station_name      lat      lng
1036     6532.06  E 51 St & 1 Ave  40.7546 -73.9659
1571     6532.06  E 51 St & 1 Ave  40.7546 -73.9659
      station_id        station_name     lat      lng
375      6644.07  W 42 St & Dyer Ave  40.759 -73.9938
1572     6644.07  W 42 St & Dyer Ave  40.759 -73.9938
      station_id        station_name      lat     lng
864      7146.04  E 85 St & York Ave  40.7754 -73.948
1573     7146.04  E 85 St & York Ave  40.7754 -73.948
      station_id            station_name      lat      lng
220      5326.06  Stanton St & Mangin St  40.7178 -73.9763
1578     5326.06  Stanton St & Mangin St  40.7178 -73.9763
      station_id              station_name      lat      lng
219      7453.01  Central Park W & W 91 St  40.7887 -73.9668
1579     7453.01  Central Park W & W 91 St  40.7887 -73.9668
      station_id    station_name      lat      lng
614       5506.1  Ave D & E 8 St  40.7237 -73.9757
1580      5506.1  Ave D & E 8 St  40.7237 -73.9757
      station_id     station_name      lat      lng
107       6498.1  E 47 St & 2 Ave  40.7532 -73.9703
1586      6498.1  E 47 St & 2 Ave  40.7532 -73.9703
      station_id           station_name      lat      lng
15       5270.07  Forsyth St & Canal St  40.7158 -73.9942
1587     5270.07  Forsyth St & Canal St  40.7158 -73.9942
      station_id                 station_name     lat      lng
320      7253.04  Central Park West & W 76 St  40.779 -73.9737
1591     7253.04  Central Park West & W 76 St  40.779 -73.9737
      station_id     station_name     lat      lng
409      6215.04  W 25 St & 6 Ave  40.744 -73.9914
1592     6215.04  W 25 St & 6 Ave  40.744 -73.9914
      station_id     station_name     lat      lng
126      5989.02  W 15 St & 6 Ave  40.738 -73.9964
1595     5989.02  W 15 St & 6 Ave  40.738 -73.9964
      station_id            station_name      lat     lng
151      6711.13  Steinway St & Broadway  40.7591 -73.919
1598     6711.13  Steinway St & Broadway  40.7591 -73.919
      station_id         station_name      lat      lng
175      6230.04  FDR Drive & E 35 St  40.7442 -73.9712
1600     6230.04  FDR Drive & E 35 St  40.7442 -73.9712
2187     6230.04  FDR Drive & E 35 St  40.7516 -73.9779
      station_id        station_name      lat      lng
167      7116.04  W 67 St & Broadway  40.7749 -73.9827
1603     7116.04  W 67 St & Broadway  40.7749 -73.9827
      station_id               station_name      lat      lng
48       3865.05  3 St & Prospect Park West  40.6681 -73.9736
1605     3865.05  3 St & Prospect Park West  40.6681 -73.9736
      station_id                   station_name      lat      lng
1245     4821.06  Cadman Plaza E & Red Cross Pl  40.6999 -73.9897
1608     4821.06  Cadman Plaza E & Red Cross Pl  40.6999 -73.9897
      station_id     station_name      lat      lng
404      6148.02  W 17 St & 8 Ave  40.7418 -74.0015
1611     6148.02  W 17 St & 8 Ave  40.7418 -74.0015
      station_id         station_name      lat      lng
633      4812.02  Nassau St & Navy St  40.6984 -73.9807
1612     4812.02  Nassau St & Navy St  40.6984 -73.9807
      station_id         station_name      lat      lng
1053      4249.1  St Marks Pl & 4 Ave  40.6818 -73.9799
1613      4249.1  St Marks Pl & 4 Ave  40.6818 -73.9799
      station_id             station_name      lat     lng
399      5267.08  Grand St & Havemeyer St  40.7129 -73.957
1616     5267.08  Grand St & Havemeyer St  40.7129 -73.957
      station_id     station_name      lat      lng
36       6407.07  W 33 St & 7 Ave  40.7502 -73.9909
1618     6407.07  W 33 St & 7 Ave  40.7502 -73.9909
      station_id      station_name      lat      lng
609      7611.02  E 118 St & 3 Ave  40.7991 -73.9389
1620     7611.02  E 118 St & 3 Ave  40.7991 -73.9389
      station_id            station_name      lat      lng
286      5137.11  Fulton St & William St  40.7096 -74.0066
1622     5137.11  Fulton St & William St  40.7096 -74.0066
      station_id            station_name      lat      lng
32       5216.04  Barclay St & Church St  40.7129 -74.0102
1623     5216.04  Barclay St & Church St  40.7129 -74.0102
      station_id           station_name      lat      lng
43       6131.12  Madison Ave & E 26 St  40.7427 -73.9867
1625     6131.12  Madison Ave & E 26 St  40.7427 -73.9867
      station_id     station_name      lat      lng
830      7092.06  E 77 St & 3 Ave  40.7731 -73.9586
1626     7092.06  E 77 St & 3 Ave  40.7731 -73.9586
      station_id     station_name      lat      lng
469      7028.04  3 Ave & E 72 St  40.7699 -73.9606
1627     7028.04  3 Ave & E 72 St  40.7699 -73.9606
      station_id              station_name      lat      lng
1530     7719.13  Southern Blvd & E 142 St  40.8073 -73.9081
1628     7719.13  Southern Blvd & E 142 St  40.8073 -73.9081
      station_id     station_name      lat      lng
527      5971.08  E 20 St & 2 Ave  40.7359 -73.9821
1631     5971.08  E 20 St & 2 Ave  40.7359 -73.9821
      station_id     station_name      lat      lng
622      6030.06  W 15 St & 7 Ave  40.7394 -73.9993
1633     6030.06  W 15 St & 7 Ave  40.7394 -73.9993
2176     6030.06  W 15 St & 7 Ave  40.7806 -73.9856
      station_id              station_name      lat      lng
115      5430.08  Franklin St & W Broadway  40.7191 -74.0067
1636     5430.08  Franklin St & W Broadway  40.7191 -74.0067
      station_id        station_name      lat      lng
508      5575.13  Avenue D & E 10 St  40.7251 -73.9752
1637     5575.13  Avenue D & E 10 St  40.7251 -73.9752
      station_id     station_name      lat      lng
59       6474.11  E 40 St & 5 Ave  40.7521 -73.9816
1639     6474.11  E 40 St & 5 Ave  40.7521 -73.9816
      station_id           station_name      lat     lng
423      5788.13  Lafayette St & E 8 St  40.7302 -73.991
1640     5788.13  Lafayette St & E 8 St  40.7302 -73.991
      station_id        station_name      lat      lng
310      6569.08  W 35 St & Dyer Ave  40.7547 -73.9974
1641     6569.08  W 35 St & Dyer Ave  40.7547 -73.9974
      station_id      station_name      lat      lng
620      6926.01  W 52 St & 11 Ave  40.7673 -73.9939
1646     6926.01  W 52 St & 11 Ave  40.7673 -73.9939
      station_id     station_name      lat      lng
420      7020.09  1 Ave & E 78 St  40.7714 -73.9535
1648     7020.09  1 Ave & E 78 St  40.7714 -73.9535
      station_id                 station_name      lat      lng
13       4996.08  McKibbin St & Manhattan Ave  40.7051 -73.9441
1649     4996.08  McKibbin St & Manhattan Ave  40.7051 -73.9441
      station_id     station_name      lat      lng
123      6422.09  E 44 St & 2 Ave  40.7512 -73.9714
1652     6422.09  E 44 St & 2 Ave  40.7512 -73.9714
      station_id         station_name      lat      lng
283      5561.04  Mott St & Prince St  40.7232 -73.9948
1653     5561.04  Mott St & Prince St  40.7232 -73.9948
      station_id           station_name      lat      lng
303       5137.1  Spruce St & Nassau St  40.7115 -74.0055
1657      5137.1  Spruce St & Nassau St  40.7115 -74.0055
      station_id            station_name      lat      lng
426      5125.07  Broadway & Roebling St  40.7092 -73.9606
1659     5125.07  Broadway & Roebling St  40.7092 -73.9606
      station_id      station_name      lat      lng
391      6890.01  W 53 St & 10 Ave  40.7667 -73.9906
1662     6890.01  W 53 St & 10 Ave  40.7667 -73.9906
      station_id   station_name      lat      lng
97       5794.05  India St Pier  40.7317 -73.9612
1663     5794.05  India St Pier  40.7317 -73.9612
      station_id       station_name      lat      lng
850      5489.03  Kent Ave & N 7 St  40.7204 -73.9617
1664     5489.03  Kent Ave & N 7 St  40.7204 -73.9617
      station_id     station_name      lat      lng
742      6753.08  1 Ave & E 62 St  40.7612 -73.9609
1665     6753.08  1 Ave & E 62 St  40.7612 -73.9609
      station_id           station_name      lat      lng
900      5721.14  LaGuardia Pl & W 3 St  40.7292 -73.9981
1667     5721.14  LaGuardia Pl & W 3 St  40.7292 -73.9981
      station_id               station_name      lat      lng
78       5721.07  Thompson St & Bleecker St  40.7284 -73.9997
1668     5721.07  Thompson St & Bleecker St  40.7284 -73.9997
      station_id     station_name      lat      lng
186       6960.1  3 Ave & E 71 St  40.7687 -73.9612
1672      6960.1  3 Ave & E 71 St  40.7687 -73.9612
      station_id     station_name      lat      lng
55       7154.07  E 81 St & 3 Ave  40.7757 -73.9568
1673     7154.07  E 81 St & 3 Ave  40.7757 -73.9568
      station_id     station_name      lat      lng
75       4546.05  Washington Park  40.6918 -73.9737
1674     4546.05  Washington Park  40.6918 -73.9737
      station_id       station_name     lat      lng
604      4193.14  1 Pl & Clinton St  40.681 -73.9991
1676     4193.14  1 Pl & Clinton St  40.681 -73.9991
      station_id          station_name      lat      lng
131      6179.07  Center Blvd & 51 Ave  40.7434 -73.9596
1677     6179.07  Center Blvd & 51 Ave  40.7434 -73.9596
      station_id             station_name      lat      lng
385      5445.02  Suffolk St & Stanton St  40.7207 -73.9852
1678     5445.02  Suffolk St & Stanton St  40.7207 -73.9852
2155     5445.02  Suffolk St & Stanton St  40.7207 -73.9852
      station_id                station_name      lat      lng
343      5453.01  Rivington St & Chrystie St  40.7211 -73.9919
1679     5453.01  Rivington St & Chrystie St  40.7211 -73.9919
      station_id      station_name      lat      lng
611      4895.09  Jay St & York St  40.7014 -73.9867
1680     4895.09  Jay St & York St  40.7014 -73.9867
      station_id     station_name      lat      lng
463      6626.01  E 48 St & 5 Ave  40.7572 -73.9781
1681     6626.01  E 48 St & 5 Ave  40.7572 -73.9781
      station_id     station_name      lat      lng
1158     6566.01  Southpoint Park  40.7537 -73.9587
1682     6566.01  Southpoint Park  40.7537 -73.9587
      station_id      station_name      lat      lng
564      6382.05  W 26 St & 10 Ave  40.7497 -74.0030
1683     6382.05  W 26 St & 10 Ave  40.7497 -74.0029
      station_id             station_name      lat      lng
345      6233.05  W 16 St & The High Line  40.7433 -74.0068
1684     6233.05  W 16 St & The High Line  40.7433 -74.0068
      station_id         station_name      lat      lng
640      3978.13  Garfield Pl & 8 Ave  40.6712 -73.9748
1685     3978.13  Garfield Pl & 8 Ave  40.6712 -73.9748
      station_id                station_name      lat     lng
157       4157.1  Bergen St & Vanderbilt Ave  40.6794 -73.968
1686      4157.1  Bergen St & Vanderbilt Ave  40.6794 -73.968
      station_id              station_name      lat      lng
865      4319.07  Halsey St & Tompkins Ave  40.6824 -73.9441
1687     4319.07  Halsey St & Tompkins Ave  40.6824 -73.9441
      station_id        station_name      lat      lng
298      6998.08  E 72 St & Park Ave  40.7712 -73.9641
1690     6998.08  E 72 St & Park Ave  40.7712 -73.9641
      station_id   station_name      lat      lng
159      6137.04  5 St & 51 Ave  40.7424 -73.9566
1692     6137.04  5 St & 51 Ave  40.7424 -73.9566
      station_id                    station_name      lat      lng
1240     7741.04  Morningside Dr & Amsterdam Ave  40.8103 -73.9574
1693     7741.04  Morningside Dr & Amsterdam Ave  40.8103 -73.9574
      station_id            station_name     lat      lng
231      7382.04  W 84 St & Columbus Ave  40.785 -73.9728
1694     7382.04  W 84 St & Columbus Ave  40.785 -73.9728
      station_id               station_name      lat      lng
575      7577.27  Central Park W & W 103 St  40.7956 -73.9619
1695     7577.27  Central Park W & W 103 St  40.7956 -73.9619
      station_id     station_name      lat      lng
1180     6464.08  E 45 St & 3 Ave  40.7526 -73.9728
1697     6464.08  E 45 St & 3 Ave  40.7526 -73.9728
      station_id                     station_name      lat      lng
624      4656.03  Pulaski St & Marcus Garvey Blvd  40.6934 -73.9399
1698     4656.03  Pulaski St & Marcus Garvey Blvd  40.6934 -73.9399
      station_id           station_name      lat      lng
180      5838.09  Washington Pl & 6 Ave  40.7322 -74.0003
1699     5838.09  Washington Pl & 6 Ave  40.7322 -74.0003
      station_id                   station_name      lat      lng
354      4665.02  Willoughby Ave & Tompkins Ave  40.6943 -73.9463
1701     4665.02  Willoughby Ave & Tompkins Ave  40.6943 -73.9463
      station_id            station_name      lat      lng
162      5382.07  Forsyth St\t& Grand St  40.7178 -73.9932
1702     5382.07  Forsyth St\t& Grand St  40.7178 -73.9932
      station_id station_name      lat      lng
1044     6814.01    Motorgate  40.7639 -73.9477
1703     6814.01    Motorgate  40.7639 -73.9477
      station_id     station_name      lat      lng
54       6004.07  E 25 St & 1 Ave  40.7382 -73.9774
1704     6004.07  E 25 St & 1 Ave  40.7382 -73.9774
      station_id     station_name      lat      lng
284      6416.06  W 29 St & 9 Ave  40.7501 -73.9984
1705     6416.06  W 29 St & 9 Ave  40.7501 -73.9984
      station_id          station_name      lat      lng
623      5406.04  Pitt St & Stanton St  40.7193 -73.9818
1706     5406.04  Pitt St & Stanton St  40.7193 -73.9818
      station_id               station_name      lat      lng
356      4095.03  Van Brunt St & Wolcott St  40.6773 -74.0128
1709     4095.03  Van Brunt St & Wolcott St  40.6773 -74.0128
      station_id        station_name      lat     lng
550      6584.12  E 47 St & Park Ave  40.7551 -73.975
1710     6584.12  E 47 St & Park Ave  40.7551 -73.975
      station_id     station_name      lat      lng
287      7286.05  1 Ave & E 94 St  40.7817 -73.9459
1711     7286.05  1 Ave & E 94 St  40.7817 -73.9459
      station_id          station_name      lat      lng
208      5004.02  Boerum St & Broadway  40.7054 -73.9498
1712     5004.02  Boerum St & Broadway  40.7054 -73.9498
      station_id         station_name      lat      lng
566      4993.13  Old Slip & South St  40.7034 -74.0079
1713     4993.13  Old Slip & South St  40.7034 -74.0079
      station_id     station_name      lat      lng
759      6140.05  W 21 St & 6 Ave  40.7417 -73.9942
1715     6140.05  W 21 St & 6 Ave  40.7417 -73.9942
      station_id   station_name      lat     lng
509      3731.11  14 St & 7 Ave  40.6638 -73.984
1716     3731.11  14 St & 7 Ave  40.6638 -73.984
      station_id             station_name      lat    lng
540      5414.06  Allen St & Rivington St  40.7202 -73.99
1718     5414.06  Allen St & Rivington St  40.7202 -73.99
      station_id          station_name      lat      lng
529       5359.1  Hudson St & Reade St  40.7163 -74.0091
1719      5359.1  Hudson St & Reade St  40.7163 -74.0091
      station_id               station_name      lat     lng
714      7680.03  Cathedral Pkwy & Broadway  40.8042 -73.967
1720     7680.03  Cathedral Pkwy & Broadway  40.8042 -73.967
      station_id           station_name      lat      lng
615      4228.02  Fulton St & Utica Ave  40.6794 -73.9299
1721     4228.02  Fulton St & Utica Ave  40.6794 -73.9299
      station_id        station_name      lat      lng
693      6289.06  Broadway & W 29 St  40.7462 -73.9886
1723     6289.06  Broadway & W 29 St  40.7462 -73.9886
      station_id             station_name      lat      lng
1073      5332.1  Jackson St & Leonard St  40.7164 -73.9482

1834     5847.08  Washington St & Barrow St  40.7319 -74.0088
      station_id        station_name      lat      lng
300      5659.05  E 10 St & Avenue A  40.7274 -73.9814
1835     5659.05  E 10 St & Avenue A  40.7274 -73.9814
      station_id             station_name      lat      lng
1379     6617.09  E 53 St & Lexington Ave  40.7583 -73.9707
1836     6617.09  E 53 St & Lexington Ave  40.7583 -73.9707
      station_id          station_name      lat      lng
755      6170.02  Vernon Blvd & 50 Ave  40.7423 -73.9541
1837     6170.02  Vernon Blvd & 50 Ave  40.7423 -73.9541
      station_id        station_name      lat      lng
331      4019.06  Carroll St & 6 Ave  40.6741 -73.9787
1838     4019.06  Carroll St & 6 Ave  40.6741 -73.9787
      station_id       station_name      lat      lng
1813     3972.08  Henry St & Bay St  40.6725 -74.0049
1839     3972.08  Henry St & Bay St  40.6725 -74.0049
      station_id    station_name      lat      lng
176      6605.08  34 St & 35 Ave  40.7569 -73.9262
1842     6605.08  34 St & 35 Ave  40.7569 -73.9262
      station_id             station_name      lat      lng
1034     6659.01  E 51 St & Lexington Ave  40.7571 -73.9721
1843     6659.01  E 51 St & Lexington Ave  40.7571 -73.9721
      station_id     station_name     lat      lng
351      6762.02  E 58 St & 3 Ave  40.761 -73.9672
1844     6762.02  E 58 St & 3 Ave  40.761 -73.9672
      station_id             station_name      lat     lng
1350     5400.05  Harrison St & Hudson St  40.7187 -74.009
1845     5400.05  Harrison St & Hudson St  40.7187 -74.009
      station_id             station_name      lat      lng
173      7207.08  W 70 St & Amsterdam Ave  40.7775 -73.9829
1846     7207.08  W 70 St & Amsterdam Ave  40.7775 -73.9829
      station_id           station_name      lat      lng
1193     5805.05  Barrow St & Hudson St  40.7317 -74.0067
1847     5805.05  Barrow St & Hudson St  40.7317 -74.0067
      station_id      station_name      lat      lng
1005     6611.02  W 37 St & 10 Ave  40.7566 -73.9979
1848     6611.02  W 37 St & 10 Ave  40.7566 -73.9979
      station_id                  station_name      lat      lng
570      7606.01  W 106 St & Central Park West  40.7982 -73.9606
1849     7606.01  W 106 St & Central Park West  40.7982 -73.9606
      station_id                        station_name      lat      lng
443      7658.13  Frederick Douglass Blvd & W 115 St  40.8039 -73.9559
1850     7658.13  Frederick Douglass Blvd & W 115 St  40.8039 -73.9559
      station_id            station_name      lat      lng
1248     7432.09  W 89 St & Columbus Ave  40.7882 -73.9704
1851     7432.09  W 89 St & Columbus Ave  40.7882 -73.9704
      station_id       station_name      lat      lng
1203     6743.06  Newton Rd & 44 St  40.7596 -73.9143
1852     6743.06  Newton Rd & 44 St  40.7596 -73.9143
      station_id     station_name      lat      lng
1031     7286.01  E 91 St & 2 Ave  40.7812 -73.9496
1853     7286.01  E 91 St & 2 Ave  40.7812 -73.9496
2095     7286.01  E 91 St & 2 Ave  40.7812 -73.9496
      station_id      station_name      lat      lng
937      7522.02  1 Ave & E 110 St  40.7923 -73.9383
1854     7522.02  1 Ave & E 110 St  40.7923 -73.9383
      station_id                station_name     lat      lng
793      4565.04  Schermerhorn St & Court St  40.691 -73.9918
1855     4565.04  Schermerhorn St & Court St  40.691 -73.9918
      station_id          station_name      lat      lng
1093     4077.07  Court St & Nelson St  40.6764 -73.9987
1859     4077.07  Court St & Nelson St  40.6764 -73.9987
      station_id         station_name      lat      lng
325      8018.09  W 146 St & Broadway  40.8270 -73.9497
1860     8018.09  W 146 St & Broadway  40.8291 -73.9504
      station_id    station_name     lat      lng
147      7047.07  35 St & 23 Ave  40.773 -73.9112
1861     7047.07  35 St & 23 Ave  40.773 -73.9112
      station_id     station_name     lat      lng
187      6345.08  E 39 St & 2 Ave  40.748 -73.9738
1862     6345.08  E 39 St & 2 Ave  40.748 -73.9738
      station_id     station_name      lat      lng
314       7386.1  2 Ave & E 99 St  40.7863 -73.9455
1863      7386.1  2 Ave & E 99 St  40.7863 -73.9455
      station_id        station_name      lat      lng
1317     7541.01  W 95 St & Broadway  40.7938 -73.9719
1864     7541.01  W 95 St & Broadway  40.7938 -73.9719
      station_id                 station_name      lat      lng
395      4461.04  DeKalb Ave & Vanderbilt Ave  40.6894 -73.9689
1865     4461.04  DeKalb Ave & Vanderbilt Ave  40.6894 -73.9689
      station_id     station_name      lat      lng
397      6717.06  9 Ave & W 45 St  40.7602 -73.9913
1866     6717.06  9 Ave & W 45 St  40.7602 -73.9913
      station_id         station_name      lat      lng
153       5669.1  St Marks Pl & 2 Ave  40.7284 -73.9871
1867      5669.1  St Marks Pl & 2 Ave  40.7284 -73.9871
      station_id     station_name      lat      lng
587      7057.07  E 78 St & 2 Ave  40.7728 -73.9558
1868     7057.07  E 78 St & 2 Ave  40.7728 -73.9558
      station_id                station_name      lat      lng
206      5365.02  Columbia St & Rivington St  40.7174 -73.9802
1869     5365.02  Columbia St & Rivington St  40.7174 -73.9802
      station_id         station_name      lat      lng
1309     8507.02  Dyckman St & 10 Ave  40.8589 -73.9231
1870     8507.02  Dyckman St & 10 Ave  40.8589 -73.9231
      station_id                station_name      lat      lng
985      4205.06  Kingston Ave & Herkimer St  40.6789 -73.9414
1871     4205.06  Kingston Ave & Herkimer St  40.6789 -73.9414
      station_id    station_name      lat      lng
899      6850.01  38 St & 30 Ave  40.7642 -73.9158
1872     6850.01  38 St & 30 Ave  40.7642 -73.9158
      station_id            station_name      lat      lng
1337     7599.02  E 115 St & Madison Ave  40.7989 -73.9448
1873     7599.02  E 115 St & Madison Ave  40.7989 -73.9448
      station_id            station_name      lat      lng
1209     5755.14  University Pl & E 8 St  40.7314 -73.9949
1874     5755.14  University Pl & E 8 St  40.7314 -73.9949
      station_id     station_name      lat      lng
227      6650.08  2 Ave & E 55 St  40.7579 -73.9664
1875     6650.08  2 Ave & E 55 St  40.7579 -73.9664
      station_id     station_name      lat      lng
637      6925.09  2 Ave & E 72 St  40.7688 -73.9584
1876     6925.09  2 Ave & E 72 St  40.7688 -73.9584
      station_id     station_name     lat     lng
499      6650.07  E 55 St & 2 Ave  40.758 -73.966
1877     6650.07  E 55 St & 2 Ave  40.758 -73.966
      station_id                station_name     lat      lng
319      4042.08  Underhill Ave & Lincoln Pl  40.674 -73.9671
1878     4042.08  Underhill Ave & Lincoln Pl  40.674 -73.9671
      station_id       station_name     lat      lng
493      5379.09  Berry St & N 8 St  40.719 -73.9585
1879     5379.09  Berry St & N 8 St  40.719 -73.9585
      station_id     station_name      lat      lng
836      7286.02  E 93 St & 2 Ave  40.7825 -73.9489
1882     7286.02  E 93 St & 2 Ave  40.7825 -73.9489
      station_id     station_name      lat      lng
266      6762.04  3 Ave & E 62 St  40.7631 -73.9653
1883     6762.04  3 Ave & E 62 St  40.7631 -73.9653
      station_id            station_name      lat     lng
439      4362.04  Pacific St & Nevins St  40.6854 -73.983
1884     4362.04  Pacific St & Nevins St  40.6854 -73.983
      station_id            station_name      lat     lng
1083     4645.09  Hicks St & Montague St  40.6951 -73.996
1885     4645.09  Hicks St & Montague St  40.6951 -73.996
      station_id  station_name      lat      lng
263      4028.03  3 St & 3 Ave  40.6751 -73.9878
1886     4028.03  3 St & 3 Ave  40.6751 -73.9878
      station_id                        station_name      lat      lng
962      7795.09  Frederick Douglass Blvd & W 129 St  40.8126 -73.9492
1887     7795.09  Frederick Douglass Blvd & W 129 St  40.8126 -73.9492
      station_id          station_name      lat      lng
237      5065.12  William St & Pine St  40.7072 -74.0089
1888     5065.12  William St & Pine St  40.7072 -74.0089
      station_id        station_name      lat      lng
348      5659.11  E 11 St & Avenue B  40.7275 -73.9795
1889     5659.11  E 11 St & Avenue B  40.7275 -73.9795
      station_id          station_name      lat      lng
1371      5342.1  Allen St & Hester St  40.7161 -73.9919
1890      5342.1  Allen St & Hester St  40.7161 -73.9919
      station_id     station_name      lat     lng
691      5914.03  W 11 St & 6 Ave  40.7353 -73.998
1891     5914.03  W 11 St & 6 Ave  40.7353 -73.998
      station_id        station_name      lat      lng
646      6932.14  E 67 St & Park Ave  40.7678 -73.9659
1892     6932.14  E 67 St & Park Ave  40.7678 -73.9659
      station_id          station_name      lat      lng
766      4119.04  Clinton St & 4 Place  40.6784 -74.0001
1893     4119.04  Clinton St & 4 Place  40.6784 -74.0001
      station_id             station_name     lat      lng
918      8631.03  Decatur Ave & Oliver Pl  40.867 -73.8858
1894     8631.03  Decatur Ave & Oliver Pl  40.867 -73.8858
      station_id         station_name      lat      lng
1273     7783.18  Broadway & W 122 St  40.8121 -73.9613
1895     7783.18  Broadway & W 122 St  40.8121 -73.9613
      station_id                 station_name      lat      lng
654      5721.01  Sullivan St & Washington Sq  40.7305 -73.9991
1896     5721.01  Sullivan St & Washington Sq  40.7305 -73.9991
      station_id         station_name      lat      lng
916      4166.08  Prospect Pl & 6 Ave  40.6793 -73.9752
1897     4166.08  Prospect Pl & 6 Ave  40.6793 -73.9752
      station_id     station_name      lat      lng
1316     6740.01  W 52 St & 6 Ave  40.7613 -73.9798
1898     6740.01  W 52 St & 6 Ave  40.7613 -73.9798
      station_id    station_name      lat     lng
602      6857.09  31 Ave & 30 St  40.7647 -73.924
1899     6857.09  31 Ave & 30 St  40.7647 -73.924
      station_id           station_name      lat      lng
355      4124.04  Verona Pl & Fulton St  40.6804 -73.9477
1900     4124.04  Verona Pl & Fulton St  40.6804 -73.9477
      station_id     station_name     lat      lng
406      6364.07  6 Ave & W 33 St  40.749 -73.9885
1902     6364.07  6 Ave & W 33 St  40.749 -73.9885
      station_id       station_name      lat      lng
295      5436.09  Avenue D & E 3 St  40.7208 -73.9779
1903     5436.09  Avenue D & E 3 St  40.7208 -73.9779
      station_id              station_name     lat      lng
812      4611.03  Willoughby Ave & Hall St  40.692 -73.9654
1905     4611.03  Willoughby Ave & Hall St  40.692 -73.9654
      station_id             station_name     lat      lng
1037     5550.09  Leonard St & Nassau Ave  40.724 -73.9498
1906     5550.09  Leonard St & Nassau Ave  40.724 -73.9498
      station_id            station_name      lat      lng
292      5105.09  Liberty St & Nassau St  40.7086 -74.0094
1907     5105.09  Liberty St & Nassau St  40.7086 -74.0094
      station_id     station_name      lat      lng
379      6896.16  E 68 St & 3 Ave  40.7671 -73.9622
1908     6896.16  E 68 St & 3 Ave  40.7671 -73.9622
      station_id                   station_name      lat      lng
630      4428.02  Cumberland St & Lafayette Ave  40.6875 -73.9727
1909     4428.02  Cumberland St & Lafayette Ave  40.6875 -73.9727
      station_id            station_name      lat      lng
841      4033.06  Park Pl & Franklin Ave  40.6742 -73.9565
1910     4033.06  Park Pl & Franklin Ave  40.6742 -73.9565
      station_id       station_name      lat      lng
485      4446.05  Dean St & Hoyt St  40.6864 -73.9876
1911     4446.05  Dean St & Hoyt St  40.6864 -73.9876
      station_id          station_name      lat      lng
363      4380.08  Henry St & Degraw St  40.6848 -73.9992
1912     4380.08  Henry St & Degraw St  40.6848 -73.9992
      station_id          station_name      lat      lng
1041     6131.13  E 27 St & Park Ave S  40.7428 -73.9847
1913     6131.13  E 27 St & Park Ave S  40.7428 -73.9847
      station_id             station_name      lat      lng
1413     4748.07  Clinton St & Tillary St  40.6962 -73.9914
1914     4748.07  Clinton St & Tillary St  40.6962 -73.9914
      station_id   station_name      lat     lng
533      3842.08  10 St & 5 Ave  40.6686 -73.987
1915     3842.08  10 St & 5 Ave  40.6686 -73.987
      station_id              station_name      lat      lng
524      7636.05  E 123 St & Lexington Ave  40.8029 -73.9379
1916     7636.05  E 123 St & Lexington Ave  40.8029 -73.9379
      station_id                   station_name      lat      lng
429      5300.05  Metropolitan Ave & Meeker Ave  40.7141 -73.9523
1917     5300.05  Metropolitan Ave & Meeker Ave  40.7141 -73.9523
      station_id        station_name      lat      lng
799      5062.01  Kent Ave & S 11 St  40.7076 -73.9684
1918     5062.01  Kent Ave & S 11 St  40.7076 -73.9684
2185     5062.01  Kent Ave & S 11 St  40.7076 -73.9684
      station_id           station_name      lat      lng
195      6237.01  47 Ave & Skillman Ave  40.7438 -73.9418
1919     6237.01  47 Ave & Skillman Ave  40.7438 -73.9418
      station_id                station_name      lat      lng
377      5108.01  Scholes St & Manhattan Ave  40.7087 -73.9449
1920     5108.01  Scholes St & Manhattan Ave  40.7087 -73.9449
      station_id station_name      lat      lng
1511     5181.04    Cherry St  40.7122 -73.9795
1921     5181.04    Cherry St  40.7122 -73.9795
      station_id          station_name      lat      lng
731      4298.05  Degraw St & Smith St  40.6829 -73.9932
1922     4298.05  Degraw St & Smith St  40.6829 -73.9932
      station_id              station_name      lat     lng
1115     4700.06  Park Ave & St Edwards St  40.6961 -73.978
1923     4700.06  Park Ave & St Edwards St  40.6961 -73.978
      station_id       station_name      lat      lng
128      4086.06  Henry St & W 9 St  40.6764 -74.0032
1925     4086.06  Henry St & W 9 St  40.6764 -74.0032
      station_id             station_name      lat      lng
60       5190.07  Madison St & Clinton St  40.7127 -73.9878
1928     5190.07  Madison St & Clinton St  40.7127 -73.9878
      station_id              station_name      lat      lng
941      5128.04  Catherine St & Monroe St  40.7112 -73.9968
1929     5128.04  Catherine St & Monroe St  40.7112 -73.9968
      station_id                 station_name      lat     lng
1336      5854.1  Stuyvesant Walk & 1 Av Loop  40.7323 -73.979
1930      5854.1  Stuyvesant Walk & 1 Av Loop  40.7323 -73.979
      station_id          station_name      lat      lng
569      4413.08  Warren St & Court St  40.6864 -73.9938
1931     4413.08  Warren St & Court St  40.6864 -73.9938
      station_id                 station_name      lat      lng
1375     6700.14  W 51 St & Rockefeller Plaza  40.7597 -73.9781
1932     6700.14  W 51 St & Rockefeller Plaza  40.7597 -73.9781
      station_id             station_name      lat      lng
1054     3125.09  Ocean Pkwy & Church Ave  40.6447 -73.9745
1933     3125.09  Ocean Pkwy & Church Ave  40.6447 -73.9745
      station_id             station_name      lat      lng
160      5847.06  W 10 St & Washington St  40.7334 -74.0085
1934     5847.06  W 10 St & Washington St  40.7334 -74.0085
      station_id       station_name      lat      lng
1024     5584.04  E 6 St & Avenue B  40.7245 -73.9819
1935     5584.04  E 6 St & Avenue B  40.7245 -73.9819
      station_id    station_name      lat      lng
46       5636.11  Great Jones St  40.7274 -73.9938
1936     5636.11  Great Jones St  40.7274 -73.9938
      station_id  station_name      lat      lng
541      3905.15  3 St & 7 Ave  40.6704 -73.9784
1937     3905.15  3 St & 7 Ave  40.6704 -73.9784
      station_id     station_name      lat      lng
346      5854.09  1 Ave & E 18 St  40.7338 -73.9805
1938     5854.09  1 Ave & E 18 St  40.7338 -73.9805
      station_id       station_name      lat      lng
674      4208.11  Baltic St & 5 Ave  40.6796 -73.9785
1939     4208.11  Baltic St & 5 Ave  40.6796 -73.9785
      station_id            station_name      lat      lng
797      4045.01  Clinton St & Centre St  40.6743 -74.0019
1940     4045.01  Clinton St & Centre St  40.6743 -74.0019
      station_id           station_name      lat     lng
181      5303.06  Clinton St & Grand St  40.7156 -73.987
1941     5303.06  Clinton St & Grand St  40.7156 -73.987
      station_id        station_name      lat     lng
1576      7293.1  E 88 St & Park Ave  40.7814 -73.956
1942      7293.1  E 88 St & Park Ave  40.7814 -73.956
      station_id             station_name     lat      lng
103      5403.04  Graham Ave & Withers St  40.717 -73.9449
1943     5403.04  Graham Ave & Withers St  40.717 -73.9449
      station_id         station_name      lat      lng
1088     4217.02  Douglass St & 3 Ave  40.6802 -73.9843
1944     4217.02  Douglass St & 3 Ave  40.6802 -73.9843
      station_id  station_name      lat      lng
700      3996.01  7 St & 3 Ave  40.6726 -73.9898
1945     3996.01  7 St & 3 Ave  40.6726 -73.9898
      station_id         station_name     lat      lng
889       4404.1  Bond St & Bergen St  40.685 -73.9862
1947      4404.1  Bond St & Bergen St  40.685 -73.9862
      station_id     station_name      lat      lng
579      4077.04  Smith St & 9 St  40.6747 -73.9979
1948     4077.04  Smith St & 9 St  40.6747 -73.9979
      station_id          station_name      lat      lng
1465     5270.05  Pike St & E Broadway  40.7141 -73.9929
1949     5270.05  Pike St & E Broadway  40.7141 -73.9929
      station_id  station_name      lat      lng
521       3834.1  6 St & 7 Ave  40.6687 -73.9799
1950      3834.1  6 St & 7 Ave  40.6687 -73.9799
      station_id          station_name      lat      lng
1321     8732.04  W 218 St & Indian Rd  40.8731 -73.9184
1951     8732.04  W 218 St & Indian Rd  40.8731 -73.9184
      station_id     station_name      lat      lng
475      5788.12  E 12 St & 3 Ave  40.7322 -73.9889
1952     5788.12  E 12 St & 3 Ave  40.7322 -73.9889
      station_id            station_name      lat      lng
902      3879.04  Union St & Bedford Ave  40.6692 -73.9554
1953     3879.04  Union St & Bedford Ave  40.6692 -73.9554
      station_id            station_name      lat      lng
127      5167.06  St James Pl & Pearl St  40.7112 -74.0002
1954     5167.06  St James Pl & Pearl St  40.7112 -74.0002
      station_id             station_name      lat      lng
595      5400.08  Duane St & Greenwich St  40.7175 -74.0105
1955     5400.08  Duane St & Greenwich St  40.7175 -74.0105
      station_id               station_name      lat      lng
536      3665.06  Sterling St & Bedford Ave  40.6627 -73.9569
1956     3665.06  Sterling St & Bedford Ave  40.6627 -73.9569
      station_id      station_name      lat      lng
642      6670.03  43 St & Broadway  40.7577 -73.9166
1957     6670.03  43 St & Broadway  40.7577 -73.9166
      station_id           station_name      lat      lng
747      5303.08  Canal St & Rutgers St  40.7143 -73.9899
1958     5303.08  Canal St & Rutgers St  40.7143 -73.9899
      station_id                 station_name      lat      lng
323       7756.1  St. Nicholas Ave & W 126 St  40.8114 -73.9519
1959      7756.1  St. Nicholas Ave & W 126 St  40.8114 -73.9519
      station_id                station_name      lat      lng
881      4231.04  Underhill Ave & Pacific St  40.6805 -73.9647
1960     4231.04  Underhill Ave & Pacific St  40.6805 -73.9647
      station_id              station_name      lat      lng
64       4677.06  Montague St & Clinton St  40.6943 -73.9923
1961     4677.06  Montague St & Clinton St  40.6943 -73.9923
      station_id   station_name     lat      lng
983      7098.05  27 Ave & 9 St  40.774 -73.9309
1962     7098.05  27 Ave & 9 St  40.774 -73.9309
      station_id        station_name      lat      lng
47       5763.03  Carmine St & 6 Ave  40.7304 -74.0021
228      5763.03  Carmine St & 6 Ave  40.7304 -74.0022
1963     5763.03  Carmine St & 6 Ave  40.7284 -73.9997
      station_id             station_name      lat      lng

2054     6164.09  Lexington Ave & E 29 St  40.7431 -73.9822
      station_id   station_name      lat      lng
1385     3882.01  12 St & 4 Ave  40.6686 -73.9904
2055     3882.01  12 St & 4 Ave  40.6686 -73.9904
      station_id           station_name      lat      lng
1271     4266.03  Clinton St & Union St  40.6831 -73.9979
2056     4266.03  Clinton St & Union St  40.6831 -73.9979
      station_id     station_name      lat      lng
818      6197.02  2 Ave & E 31 St  40.7429 -73.9771
2057     6197.02  2 Ave & E 31 St  40.7429 -73.9771
      station_id         station_name      lat     lng
486      7625.18  E 118 St & Park Ave  40.8005 -73.942
2058     7625.18  E 118 St & Park Ave  40.8005 -73.942
      station_id                  station_name      lat      lng
1393     4553.04  Kosciuszko St & Tompkins Ave  40.6913 -73.9452
2059     4553.04  Kosciuszko St & Tompkins Ave  40.6913 -73.9452
      station_id    station_name      lat      lng
910      6679.11  35 St & 34 Ave  40.7581 -73.9243
2060     6679.11  35 St & 34 Ave  40.7581 -73.9243
      station_id         station_name     lat      lng
117      7903.02  Broadway & W 133 St  40.819 -73.9562
2061     7903.02  Broadway & W 133 St  40.819 -73.9562
      station_id           station_name      lat      lng
1095     6495.17  31 St & Northern Blvd  40.7519 -73.9335
2062     6495.17  31 St & Northern Blvd  40.7519 -73.9335
      station_id    station_name      lat      lng
1449     6798.01  34 Ave & 21 St  40.7628 -73.9343
2063     6798.01  34 Ave & 21 St  40.7628 -73.9343
      station_id          station_name      lat      lng
1042     5065.04  John St & William St  40.7086 -74.0072
2064     5065.04  John St & William St  40.7086 -74.0072
      station_id              station_name      lat      lng
1364     4818.03  Union Ave & Wallabout St  40.7003 -73.9503
2065     4818.03  Union Ave & Wallabout St  40.7003 -73.9503
      station_id              station_name      lat      lng
124       4455.1  Congress St & Clinton St  40.6883 -73.9955
2066      4455.1  Congress St & Clinton St  40.6883 -73.9955
      station_id    station_name      lat      lng
869      6395.01  21 St & 43 Ave  40.7505 -73.9459
2067     6395.01  21 St & 43 Ave  40.7505 -73.9459
      station_id       station_name      lat      lng
528       5553.1  E 2 St & Avenue A  40.7231 -73.9858
2068      5553.1  E 2 St & Avenue A  40.7231 -73.9858
      station_id            station_name      lat      lng
842      5148.03  Leonard St & Maujer St  40.7104 -73.9471
2069     5148.03  Leonard St & Maujer St  40.7104 -73.9471
      station_id              station_name      lat     lng
1655     4255.05  Hancock St & Bedford Ave  40.6822 -73.954
2070     4255.05  Hancock St & Bedford Ave  40.6822 -73.954
      station_id          station_name      lat      lng
695      6958.06  Crescent St & 30 Ave  40.7687 -73.9250
2071     6958.06  Crescent St & 30 Ave  40.7687 -73.9250
2179     6958.06  Crescent St & 30 Ave  40.7704 -73.9286
      station_id    station_name      lat      lng
931      7186.15  19 St & 24 Ave  40.7775 -73.9225
2072     7186.15  19 St & 24 Ave  40.7775 -73.9225
      station_id         station_name      lat      lng
5        7026.08  Newtown Ave & 23 St  40.7714 -73.9246
2073     7026.08  Newtown Ave & 23 St  40.7714 -73.9246
      station_id          station_name      lat      lng
994      6989.07  31 St & Astoria Blvd  40.7699 -73.9184
2074     6989.07  31 St & Astoria Blvd  40.7699 -73.9184
      station_id         station_name      lat      lng
414      5922.08  Bank St & Hudson St  40.7365 -74.0062
2075     5922.08  Bank St & Hudson St  40.7365 -74.0062
      station_id    station_name      lat      lng
927      7144.01  31 St & 23 Ave  40.7748 -73.9126
2076     7144.01  31 St & 23 Ave  40.7748 -73.9126
      station_id                station_name      lat      lng
610      4074.03  Classon Ave & St Marks Ave  40.6765 -73.9596
1809     4074.03  Classon Ave & St Marks Ave  40.6765 -73.9596
2077     4074.03  Classon Ave & St Marks Ave  40.6765 -73.9596
      station_id         station_name      lat     lng
250      4330.09  Hoyt St & Warren St  40.6844 -73.989
2078     4330.09  Hoyt St & Warren St  40.6844 -73.989
      station_id     station_name     lat      lng
643      7338.02  2 Ave & E 96 St  40.784 -73.9472
2079     7338.02  2 Ave & E 96 St  40.784 -73.9472
      station_id     station_name      lat      lng
805       7265.1  E 89 St & 3 Ave  40.7806 -73.9522
2080      7265.1  E 89 St & 3 Ave  40.7806 -73.9522
      station_id           station_name      lat      lng
1509     7443.01  Madison Ave & E 99 St  40.7895 -73.9524
2081     7443.01  Madison Ave & E 99 St  40.7895 -73.9524
      station_id       station_name     lat    lng
1451     5545.04  E 5 St & Avenue C  40.723 -73.98
2082     5545.04  E 5 St & Avenue C  40.723 -73.98
      station_id               station_name      lat      lng
730      8748.02  E Mosholu Pkwy & E 204 St  40.8741 -73.8834
2083     8748.02  E Mosholu Pkwy & E 204 St  40.8741 -73.8834
      station_id              station_name      lat      lng
447      7567.06  Lexington Ave & E 111 St  40.7954 -73.9441
2084     7567.06  Lexington Ave & E 111 St  40.7954 -73.9441
      station_id         station_name      lat      lng
111      6212.08  Vernon Blvd & 47 Rd  40.7449 -73.9535
2085     6212.08  Vernon Blvd & 47 Rd  40.7449 -73.9535
      station_id                station_name      lat      lng
142      8021.11  Grand Concourse & E 161 St  40.8271 -73.9227
2086     8021.11  Grand Concourse & E 161 St  40.8271 -73.9227
      station_id         station_name      lat      lng
1218     6514.08  Vernon Blvd & 41 Rd  40.7552 -73.9486
2087     6514.08  Vernon Blvd & 41 Rd  40.7552 -73.9486
      station_id          station_name      lat      lng
901       5379.1  N 6 St & Bedford Ave  40.7175 -73.9585
2088      5379.1  N 6 St & Bedford Ave  40.7175 -73.9585
      station_id    station_name      lat      lng
145       5872.1  E 9 St & 5 Ave  40.7328 -73.9958
2089      5872.1  E 9 St & 5 Ave  40.7328 -73.9958
2198      5872.1  E 9 St & 5 Ave  40.7328 -73.9958
      station_id      station_name      lat      lng
996      7436.11  2 Ave & E 104 St  40.7892 -73.9437
2090     7436.11  2 Ave & E 104 St  40.7892 -73.9437
      station_id          station_name      lat      lng
1498     7291.06  Ditmars Blvd & 19 St  40.7814 -73.9183
2091     7291.06  Ditmars Blvd & 19 St  40.7814 -73.9183
      station_id             station_name     lat    lng
627      4214.03  Macon St & Nostrand Ave  40.681 -73.95
2092     4214.03  Macon St & Nostrand Ave  40.681 -73.95
      station_id                  station_name      lat      lng
879      5335.03  Bialystoker Pl & Delancey St  40.7162 -73.9826
2093     5335.03  Bialystoker Pl & Delancey St  40.7162 -73.9826
      station_id          station_name      lat      lng
1014     7003.06  Vernon Blvd & 31 Ave  40.7692 -73.9355
2094     7003.06  Vernon Blvd & 31 Ave  40.7692 -73.9355
      station_id     station_name      lat      lng
1031     7286.01  E 91 St & 2 Ave  40.7812 -73.9496
1853     7286.01  E 91 St & 2 Ave  40.7812 -73.9496
2095     7286.01  E 91 St & 2 Ave  40.7812 -73.9496
      station_id     station_name      lat      lng
1058     6691.11  E 56 St & 3 Ave  40.7593 -73.9676
2096     6691.11  E 56 St & 3 Ave  40.7593 -73.9676
      station_id          station_name     lat      lng
1485     4645.04  Henry St & Remsen St  40.694 -73.9947
2097     4645.04  Henry St & Remsen St  40.694 -73.9947
      station_id               station_name      lat      lng
982      4707.04  Nostrand Ave & Myrtle Ave  40.6953 -73.9524
2098     4707.04  Nostrand Ave & Myrtle Ave  40.6953 -73.9524
      station_id           station_name      lat      lng
835      6432.09  Pershing Square North  40.7519 -73.9777
2099     6432.09  Pershing Square North  40.7516 -73.9779
      station_id            station_name      lat      lng
1056     7113.08  East End Ave & E 86 St  40.7752 -73.9445
2100     7113.08  East End Ave & E 86 St  40.7752 -73.9445
      station_id             station_name      lat      lng
451      5406.02  Rivington St & Ridge St  40.7185 -73.9833
2101     5406.02  Rivington St & Ridge St  40.7185 -73.9833
      station_id                 station_name      lat      lng
568      4596.05  Duffield St & Willoughby St  40.6922 -73.9843
2102     4596.05  Duffield St & Willoughby St  40.6922 -73.9843
      station_id   station_name      lat      lng
1857     7082.01  23 Rd & 29 St  40.7741 -73.9149
2103     7082.01  23 Rd & 29 St  40.7741 -73.9149
      station_id              station_name     lat      lng
1977     4348.07  Carroll St & Columbia St  40.683 -74.0035
2104     4348.07  Carroll St & Columbia St  40.683 -74.0035
      station_id             station_name      lat      lng
681      4692.01  Clermont Ave & Park Ave  40.6957 -73.9713
2105     4692.01  Clermont Ave & Park Ave  40.6957 -73.9713
      station_id    station_name      lat     lng
1162     6529.02  37 Ave & 35 St  40.7531 -73.928
2106     6529.02  37 Ave & 35 St  40.7531 -73.928
      station_id    station_name      lat      lng
997      6887.03  35 St & 30 Ave  40.7655 -73.9181
2107     6887.03  35 St & 30 Ave  40.7655 -73.9181
      station_id                        station_name     lat      lng
270      7876.07  Frederick Douglass Blvd & W 139 St  40.819 -73.9448
2108     7876.07  Frederick Douglass Blvd & W 139 St  40.819 -73.9448
      station_id         station_name      lat      lng
271      7682.01  Park Ave & E 124 St  40.8046 -73.9397
2109     7682.01  Park Ave & E 124 St  40.8046 -73.9397
      station_id    station_name      lat      lng
1027     6966.04  31 Ave & 14 St  40.7682 -73.9323
2110     6966.04  31 Ave & 14 St  40.7682 -73.9323
      station_id            station_name      lat      lng
1431     4107.13  Dean St & Franklin Ave  40.6776 -73.9556
2111     4107.13  Dean St & Franklin Ave  40.6776 -73.9556
      station_id   station_name      lat      lng
430      6319.01  45 Rd & 11 St  40.7471 -73.9498
2112     6319.01  45 Rd & 11 St  40.7471 -73.9498
      station_id             station_name      lat      lng
50       7650.05  West End Ave & W 107 St  40.8021 -73.9682
2113     7650.05  West End Ave & W 107 St  40.8021 -73.9682
      station_id             station_name      lat      lng
321      7619.05  W 107 St & Columbus Ave  40.7998 -73.9621
2114     7619.05  W 107 St & Columbus Ave  40.7998 -73.9621
      station_id                 station_name      lat      lng
1557     4452.03  Lexington Ave & Classon Ave  40.6868 -73.9593
2115     4452.03  Lexington Ave & Classon Ave  40.6868 -73.9593
      station_id          station_name      lat      lng
1363     7009.02  Steinway St & 23 Ave  40.7714 -73.9077
2116     7009.02  Steinway St & 23 Ave  40.7714 -73.9077
      station_id            station_name      lat      lng
1318     5453.05  Forsyth St & Broome St  40.7189 -73.9927
2117     5453.05  Forsyth St & Broome St  40.7189 -73.9927
      station_id       station_name      lat      lng
1979     5476.03  E 2 St & Avenue C  40.7209 -73.9809
2118     5476.03  E 2 St & Avenue C  40.7209 -73.9809
      station_id               station_name      lat      lng
1351     4850.04  Tompkins Ave & Hopkins St  40.6996 -73.9471
2119     4850.04  Tompkins Ave & Hopkins St  40.6996 -73.9471
      station_id       station_name      lat      lng
1717     8679.03  10 Ave & W 215 St  40.8693 -73.9152
2120     8679.03  10 Ave & W 215 St  40.8693 -73.9152
      station_id   station_name      lat      lng
754      4903.08  Old Fulton St  40.7028 -73.9938
2121     4903.08  Old Fulton St  40.7028 -73.9938
      station_id      station_name      lat      lng
831      7504.12  E 109 St & 3 Ave  40.7933 -73.9432
2122     7504.12  E 109 St & 3 Ave  40.7933 -73.9432
      station_id           station_name      lat      lng
213      4883.03  Broadway & Whipple St  40.7017 -73.9437
2123     4883.03  Broadway & Whipple St  40.7017 -73.9437
      station_id  station_name      lat      lng
461      3955.05  4 Ave & 9 St  40.6705 -73.9888
2124     3955.05  4 Ave & 9 St  40.6705 -73.9888
      station_id               station_name      lat      lng
725      3736.04  Sullivan Pl & Bedford Ave  40.6642 -73.9575
2125     3736.04  Sullivan Pl & Bedford Ave  40.6642 -73.9575
      station_id         station_name      lat      lng
719      4134.06  Berkeley Pl & 6 Ave  40.6765 -73.9785
2126     4134.06  Berkeley Pl & 6 Ave  40.6765 -73.9785
      station_id               station_name      lat      lng
1374     4476.03  Marcy Ave & Lafayette Ave  40.6901 -73.9479
2127     4476.03  Marcy Ave & Lafayette Ave  40.6901 -73.9479
      station_id              station_name      lat      lng
765      4202.04  Richards St & Delavan St  40.6794 -74.0079
2128     4202.04  Richards St & Delavan St  40.6794 -74.0079
      station_id            station_name      lat      lng
178       4821.1  Adams St & Prospect St  40.7008 -73.9887
2129      4821.1  Adams St & Prospect St  40.7008 -73.9887
      station_id    station_name     lat      lng
434      5593.02  E 2 St & 2 Ave  40.725 -73.9907
2130     5593.02  E 2 St & 2 Ave  40.725 -73.9907
      station_id           station_name      lat     lng
1474     6932.15  E 68 St & Madison Ave  40.7692 -73.967
2131     6932.15  E 68 St & Madison Ave  40.7692 -73.967
      station_id      station_name      lat      lng
437      6901.01  Broadway & 12 St  40.7668 -73.9348
2132     6901.01  Broadway & 12 St  40.7668 -73.9348
      station_id                station_name      lat      lng
1768     3940.04  Sigourney St & Columbia St  40.6727 -74.0088
2133     3940.04  Sigourney St & Columbia St  40.6727 -74.0088
      station_id             station_name      lat      lng
413       7360.1  Amsterdam Ave & W 82 St  40.7852 -73.9767
2134      7360.1  Amsterdam Ave & W 82 St  40.7852 -73.9767
      station_id              station_name      lat      lng
1803     8167.04  Charlotte St & Boston Rd  40.8359 -73.8931
2135     8167.04  Charlotte St & Boston Rd  40.8359 -73.8931
      station_id       station_name      lat      lng
134      5616.01  E 9 St & Avenue C  40.7252 -73.9777
1160     5616.01  E 9 St & Avenue C  40.7252 -73.9777
2136     5616.01  E 9 St & Avenue C  40.7230 -73.9800
      station_id  station_name      lat      lng
393      3874.01  5 St & 6 Ave  40.6705 -73.9821
2137     3874.01  5 St & 6 Ave  40.6705 -73.9821
      station_id             station_name      lat      lng
1378     4620.02  Adelphi St & Myrtle Ave  40.6931 -73.9718
2138     4620.02  Adelphi St & Myrtle Ave  40.6931 -73.9718
      station_id      station_name      lat      lng
782      7414.17  3 Ave & E 100 St  40.7877 -73.9473
2139     7414.17  3 Ave & E 100 St  40.7877 -73.9473
      station_id            station_name      lat      lng
1100     7818.17  W 129 St & Convent Ave  40.8144 -73.9532
2140     7818.17  W 129 St & Convent Ave  40.8144 -73.9532
      station_id          station_name      lat      lng
1373     4455.11  Kane St & Clinton St  40.6862 -73.9965
2141     4455.11  Kane St & Clinton St  40.6862 -73.9965
      station_id             station_name      lat      lng
806      4847.03  Wyckoff Ave & Gates Ave  40.6999 -73.9117
2142     4847.03  Wyckoff Ave & Gates Ave  40.6999 -73.9117
      station_id          station_name      lat      lng
886      6688.01  Crescent St & 35 Ave  40.7596 -73.9321
2143     6688.01  Crescent St & 35 Ave  40.7596 -73.9321
      station_id              station_name      lat     lng
1411     5084.03  Division Ave & Marcy Ave  40.7071 -73.958
2144     5084.03  Division Ave & Marcy Ave  40.7071 -73.958
      station_id     station_name      lat      lng
1129     6991.12  E 75 St & 3 Ave  40.7711 -73.9577
2145     6991.12  E 75 St & 3 Ave  40.7711 -73.9577
      station_id              station_name     lat      lng
743      7610.13  W 104 St & Amsterdam Ave  40.799 -73.9665
2146     7610.13  W 104 St & Amsterdam Ave  40.799 -73.9665
      station_id               station_name      lat      lng
1689     4617.01  Lewis Ave & Kosciuszko St  40.6924 -73.9371
2147     4617.01  Lewis Ave & Kosciuszko St  40.6924 -73.9371
2199     4617.01  Lewis Ave & Kosciuszko St  40.6924 -73.9371
      station_id       station_name      lat      lng
741      4322.06  Bergen St & 4 Ave  40.6826 -73.9799
2148     4322.06  Bergen St & 4 Ave  40.6826 -73.9799
      station_id            station_name      lat      lng
667      3579.04  Windsor Pl & Howard Pl  40.6595 -73.9801
2149     3579.04  Windsor Pl & Howard Pl  40.6595 -73.9801
      station_id     station_name      lat      lng
1122     6541.03  E 48 St & 3 Ave  40.7546 -73.9719
2150     6541.03  E 48 St & 3 Ave  40.7546 -73.9719
      station_id   station_name      lat      lng
618      3501.01  39 St & 2 Ave  40.6554 -74.0106
2151     3501.01  39 St & 2 Ave  40.6554 -74.0106
      station_id         station_name      lat     lng
200      4479.06  Bond St & Fulton St  40.6896 -73.983
2152     4479.06  Bond St & Fulton St  40.6896 -73.983
      station_id            station_name      lat      lng
549      4781.03  Concord St & Bridge St  40.6977 -73.9848
2153     4781.03  Concord St & Bridge St  40.6977 -73.9848
      station_id               station_name      lat      lng
764      4718.08  Pierrepont St & Monroe Pl  40.6954 -73.9934
2154     4718.08  Pierrepont St & Monroe Pl  40.6954 -73.9934
      station_id             station_name      lat      lng
385      5445.02  Suffolk St & Stanton St  40.7207 -73.9852
1678     5445.02  Suffolk St & Stanton St  40.7207 -73.9852
2155     5445.02  Suffolk St & Stanton St  40.7207 -73.9852
      station_id               station_name      lat      lng
1644     4013.08  Columbia St & Lorraine St  40.6747 -74.0076
2156     4013.08  Columbia St & Lorraine St  40.6747 -74.0076
      station_id      station_name      lat      lng
1039     6750.16  35 St & Broadway  40.7603 -73.9222
2157     6750.16  35 St & Broadway  40.7603 -73.9222
      station_id    station_name      lat      lng
1831     6720.07  34 Ave & 31 St  40.7596 -73.9271
2158     6720.07  34 Ave & 31 St  40.7596 -73.9271
      station_id                station_name      lat      lng
1343     7233.05  Crescent St & Ditmars Blvd  40.7787 -73.9146
2159     7233.05  Crescent St & Ditmars Blvd  40.7787 -73.9146
      station_id             station_name      lat     lng
1237     5403.05  Graham Ave & Herbert St  40.7193 -73.945
2160     5403.05  Graham Ave & Herbert St  40.7193 -73.945
      station_id         station_name      lat     lng
735      8474.02  W 190 St & Broadway  40.8565 -73.933
2161     8474.02  W 190 St & Broadway  40.8565 -73.933
      station_id             station_name      lat      lng
1013     8535.09  Aqueduct Ave & North St  40.8605 -73.9057
2162     8535.09  Aqueduct Ave & North St  40.8605 -73.9057
      station_id                station_name      lat      lng
455      4222.02  Lefferts Pl & Franklin Ave  40.6803 -73.9558
2163     4222.02  Lefferts Pl & Franklin Ave  40.6803 -73.9558
      station_id             station_name      lat      lng
1927     8811.01  Paul Ave & Mosholu Pkwy  40.8803 -73.8861
2164     8811.01  Paul Ave & Mosholu Pkwy  40.8803 -73.8861
      station_id                  station_name      lat      lng
1284     3776.05  Montgomery St & Franklin Ave  40.6664 -73.9606
2165     3776.05  Montgomery St & Franklin Ave  40.6664 -73.9606
      station_id                    station_name      lat      lng
1404     8282.13  W 169 St & Fort Washington Ave  40.8428 -73.9421
2166     8282.13  W 169 St & Fort Washington Ave  40.8428 -73.9421
      station_id          station_name     lat      lng
1507     4339.01  Butler St & Court St  40.685 -73.9944
2167     4339.01  Butler St & Court St  40.685 -73.9944
      station_id           station_name      lat     lng
30       5198.04  Market St & Cherry St  40.7108 -73.994
2168     5198.04  Market St & Cherry St  40.7108 -73.994

IndexError: list index out of range

In [273]:
station_id.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2221 entries, 0 to 2220
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   station_id    2221 non-null   float64
 1   station_name  2221 non-null   object
 2   lat           2221 non-null   float64
 3   lng           2221 non-null   float64
dtypes: float64(3), object(1)
memory usage: 69.5+ KB

In [278]:
station_id = station_id.drop_duplicates(subset='station_id')

In [279]:
station_id.station_id.duplicated().sum()

0

In [280]:
station_id.station_name.duplicated().sum()

0

In [283]:
station_id_location = station_id[['lat', 'lng']]

In [284]:
#station_id_location['lat'] = station_id_location['lat'].apply(lambda x: float("{:.4f}".format(x)))
#station_id_location['lng'] = station_id_location['lng'].apply(lambda x: float("{:.4f}".format(x)))

In [285]:
station_id_location.duplicated().sum()

0

In [289]:
station_id_location.reset_index().drop(columns=['index'])

          lat      lng
0     40.7399 -73.9896
1     40.7315 -73.9853
2     40.7849 -73.9505
3     40.7781 -73.9607
4     40.7690 -73.9548
...       ...      ...
1484  40.7177 -73.9405
1485  40.8583 -73.9101
1486  40.8714 -73.8929
1487  40.7805 -73.9122
1488  40.8733 -73.9066

[1489 rows x 2 columns]

In [286]:
station_id_location_list = []

for i in range(0, len(station_id_location)):
    if station_id_location.duplicated()[i] == True:
        station_id_location_list.append(station_id_location.lat[i])
        station_id_location_list.append(station_id_location.lng[i])

KeyError: 86

In [169]:
station_id_location_list

[40.81687039466032,
 -73.92798498272896,
 40.755293,
 -73.967641,
 40.7987859,
 -73.9523,
 40.755293,
 -73.967641,
 40.829114,
 -73.950426,
 40.6711978,
 -73.97484126,
 40.751581,
 -73.97791,
 40.698477,
 -73.98384,
 40.78057799010334,
 -73.98562431335449,
 40.71754834,
 -74.01322069,
 40.751581,
 -73.97791,
 40.74025878,
 -73.98409214]

In [103]:
station_id_duplicated = []

for i in range(0, len(station_id)):
    if station_id.station_id.duplicated()[i] == True:
        station_id_duplicated.append(station_id.loc[i])

In [104]:
station_id_duplicated = pd.DataFrame(station_id_duplicated, columns=['station_id', 'station_name', 'lat', 'lng'])
station_id_duplicated

      station_id                 station_name        lat        lng
86       6098.10           Broadway & E 21 St  40.739888 -73.989586
88       5938.01              E 19 St & 3 Ave  40.736245 -73.984738
191      5001.08        Little West St & 1 Pl  40.705693 -74.016777
228      5763.03           Carmine St & 6 Ave  40.730386 -74.002150
278      4677.01  Cadman Plaza E & Tillary St  40.695977 -73.990149
...          ...                          ...        ...        ...
2216     6227.02          31 St & Thomson Ave  40.744697 -73.935404
2217     4965.01        Lorimer St & Broadway  40.704118 -73.948186
2218     3850.03                3 Ave & 14 St  40.668546 -73.993333
2219     6951.03               28 Ave & 35 St  40.767100 -73.916986
2220     8072.06       Sherman Ave & E 166 St  40.831305 -73.917448

[732 rows x 4 columns]

In [57]:
station_id.query('station_id == 5938.01')

    station_id     station_name        lat        lng
28     5938.01  E 19 St & 3 Ave  40.736245 -73.984738
88     5938.01  E 19 St & 3 Ave  40.736245 -73.984738

In [59]:
station_id.query('station_name == "Broadway & E 21 St"')

    station_id        station_name        lat        lng
0       6098.1  Broadway & E 21 St  40.739888 -73.989586
86      6098.1  Broadway & E 21 St  40.739888 -73.989586

In [61]:
station_id.station_name.duplicated().sum()

727

In [73]:
station_name_duplicated = []

for i in range(0, len(station_id)):
    if station_id.station_name.duplicated()[i] == True:
        station_name_duplicated.append(station_id.loc[i])

In [75]:
station_name_duplicated = pd.DataFrame(station_name_duplicated, columns=['station_id', 'station_name', 'lat', 'lng'])
station_name_duplicated

      station_id                 station_name        lat        lng
86       6098.10           Broadway & E 21 St  40.739888 -73.989586
88       5938.01              E 19 St & 3 Ave  40.736245 -73.984738
191      5001.08        Little West St & 1 Pl  40.705693 -74.016777
228      5763.03           Carmine St & 6 Ave  40.730386 -74.002150
278      4677.01  Cadman Plaza E & Tillary St  40.695977 -73.990149
...          ...                          ...        ...        ...
2216     6227.02          31 St & Thomson Ave  40.744697 -73.935404
2217     4965.01        Lorimer St & Broadway  40.704118 -73.948186
2218     3850.03                3 Ave & 14 St  40.668546 -73.993333
2219     6951.03               28 Ave & 35 St  40.767100 -73.916986
2220     8072.06       Sherman Ave & E 166 St  40.831305 -73.917448

[727 rows x 4 columns]

In [62]:
station_id.lat.duplicated().sum()

49

In [63]:
station_id.lng.duplicated().sum()

58

### Test

In [ ]:
data_clean.info()