# Bike sharing

In [1]:
# Import libaries
import pandas as pd
import numpy as np
import plotly.express as px

## Gather data

In [2]:
data = pd.read_csv('202108-citibike-tripdata.csv')

/Users/anneruhnke/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

## Assess data

In [3]:
data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,FB6B89D05B67EBED,classic_bike,2021-08-24 15:59:57,2021-08-24 16:42:07,Broadway & E 21 St,6098.10,Central Park North & Adam Clayton Powell Blvd,7617.07,40.739888,-73.989586,40.799484,-73.955613,member
1,E13DA3E30CEF8DFC,classic_bike,2021-08-18 13:12:01,2021-08-18 13:21:26,E 13 St & 2 Ave,5820.08,Henry St & Grand St,5294.04,40.731539,-73.985302,40.714211,-73.981095,member
2,56617490AB8AE69C,classic_bike,2021-08-17 14:31:23,2021-08-17 14:35:34,E 95 St & 3 Ave,7365.13,E 84 St & Park Ave,7243.04,40.784903,-73.950503,40.778627,-73.957721,member
3,CA908B271C7D6663,classic_bike,2021-08-11 10:00:12,2021-08-11 10:31:01,Madison Ave & E 82 St,7188.13,E 84 St & Park Ave,7243.04,40.778131,-73.960694,40.778627,-73.957721,casual
4,3E170CE1F4FE179D,classic_bike,2021-08-12 19:28:38,2021-08-12 19:48:50,E 74 St & 1 Ave,6953.08,E 84 St & Park Ave,7243.04,40.768974,-73.954823,40.778627,-73.957721,casual

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3072478 entries, 0 to 3072477
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    float64
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(5), object(8)
memory usage: 304.7+ MB

In [5]:
data.describe()

,start_station_id,start_lat,start_lng,end_lat,end_lng
count,3.072438e+06,3.072478e+06,3.072478e+06,3.065275e+06,3.065275e+06
mean,6.013897e+03,4.074000e+01,-7.397585e+01,4.073975e+01,-7.397591e+01
std,1.073682e+03,3.849345e-02,2.554804e-02,3.847201e-02,2.560477e-02
min,2.733030e+03,4.063338e+01,-7.402747e+01,4.063338e+01,-7.407146e+01
25%,5.303080e+03,4.071535e+01,-7.399405e+01,4.071535e+01,-7.399416e+01
50%,6.004070e+03,4.073805e+01,-7.398169e+01,4.073726e+01,-7.398185e+01
75%,6.779040e+03,4.076229e+01,-7.395943e+01,4.076227e+01,-7.395922e+01
max,8.841030e+03,4.088226e+01,-7.388145e+01,4.088226e+01,-7.388000e+01

In [6]:
data.isnull().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name       40
start_station_id         40
end_station_name      13628
end_station_id        13628
start_lat                 0
start_lng                 0
end_lat                7203
end_lng                7203
member_casual             0
dtype: int64

In [7]:
data.ride_id.duplicated().sum()

0

In [8]:
columns = data.columns
columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [9]:
x = data['rideable_type'].value_counts()
x = pd.DataFrame(x)
x

               rideable_type
classic_bike         3039351
docked_bike            33087
electric_bike             40

In [10]:
x = data['start_station_name'].value_counts()
x = pd.DataFrame(x)
x

                                 start_station_name
E 17 St & Broadway                            13629
West St & Chambers St                         13505
W 21 St & 6 Ave                               13320
Cleveland Pl & Spring St                      11764
West St & Liberty St                          11518
...                                             ...
Sedgwick Ave & Hall of Fame Tce                  27
Boerum Pl\t& Pacific St                          17
49 St & 25 Ave                                    9
49 St & 31 Ave                                    6
Nassau St\t& Duffield St                          2

[1493 rows x 1 columns]

In [11]:
x = data['end_station_name'].value_counts()
x = pd.DataFrame(x)
x

                                              end_station_name
E 17 St & Broadway                                       13746
West St & Chambers St                                    13585
W 21 St & 6 Ave                                          13334
Cleveland Pl & Spring St                                 11775
West St & Liberty St                                     11569
...                                                        ...
Forrest WH station                                           1
Brunswick St                                                 1
Warren St                                                    1
South Waterfront Walkway - Sinatra Dr & 1 St                 1
Pier 40 X2                                                   1

[1522 rows x 1 columns]

In [12]:
x = data['member_casual'].value_counts()
x = pd.DataFrame(x)
x

        member_casual
member        1864076
casual        1208402

In [13]:
data.corr()

                  start_station_id  start_lat  start_lng   end_lat   end_lng
start_station_id          1.000000   0.989959   0.323812  0.869186  0.274138
start_lat                 0.989959   1.000000   0.372379  0.881327  0.319014
start_lng                 0.323812   0.372379   1.000000  0.322717  0.793248
end_lat                   0.869186   0.881327   0.322717  1.000000  0.374903
end_lng                   0.274138   0.319014   0.793248  0.374903  1.000000

#### Summarize issues
- started_at wrong data type
- ended_at wrong data type
- start_station_id wrong data type
- end_station_id wrong data type
- start station name and start station id, start_lat, start_lng in separate table
- end station name and end station id, end_lat, end_lng in separate table
- wrong column name member_casual

- investigate na values
- check similar writing for start and end station

## Clean data

In [14]:
data_clean = data.copy()

#### Summarize to dos

- change data type started_at 
- change data type ended_at
- change data type start_station_id 
- change data type end_station_id 
- rename member_casual column
- create tables for start station name and start station id, start_lat, start_lng
- create tables for end station name and end station id, end_lat, end_lng

- investigate na values
- check similar writing for start and end station

### Define

In [15]:
data_clean.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,FB6B89D05B67EBED,classic_bike,2021-08-24 15:59:57,2021-08-24 16:42:07,Broadway & E 21 St,6098.10,Central Park North & Adam Clayton Powell Blvd,7617.07,40.739888,-73.989586,40.799484,-73.955613,member
1,E13DA3E30CEF8DFC,classic_bike,2021-08-18 13:12:01,2021-08-18 13:21:26,E 13 St & 2 Ave,5820.08,Henry St & Grand St,5294.04,40.731539,-73.985302,40.714211,-73.981095,member
2,56617490AB8AE69C,classic_bike,2021-08-17 14:31:23,2021-08-17 14:35:34,E 95 St & 3 Ave,7365.13,E 84 St & Park Ave,7243.04,40.784903,-73.950503,40.778627,-73.957721,member
3,CA908B271C7D6663,classic_bike,2021-08-11 10:00:12,2021-08-11 10:31:01,Madison Ave & E 82 St,7188.13,E 84 St & Park Ave,7243.04,40.778131,-73.960694,40.778627,-73.957721,casual
4,3E170CE1F4FE179D,classic_bike,2021-08-12 19:28:38,2021-08-12 19:48:50,E 74 St & 1 Ave,6953.08,E 84 St & Park Ave,7243.04,40.768974,-73.954823,40.778627,-73.957721,casual

### Code

In [16]:
# Replace nan in start_station_id
data_clean.start_station_id = data_clean.start_station_id.replace('nan',np.nan)

In [17]:
# Change data type of started_at
data_clean['started_at'] = pd.to_datetime(data_clean['started_at'])

In [18]:
# Change data type of ended_at
data_clean['ended_at'] = pd.to_datetime(data_clean['ended_at'])

In [19]:
# Change data type of start_station_id
data_clean['start_station_id'] = data_clean['start_station_id'].astype(float)

In [20]:
# Clean end station id
abc = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [21]:
contained_letters = []

for i in abc:
    if data_clean.end_station_id.str.contains(i).sum() > 0:
        contained_letters.append(i)

In [22]:
end_station_id_unique = pd.DataFrame(data_clean.end_station_id.unique(), columns=['end_station_id'])

In [23]:
contained_letter_index = []

for j in contained_letters:
    for i in range(0, len(end_station_id_unique)):
        if end_station_id_unique.end_station_id.str.contains(j)[i] == True:
            contained_letter_index.append(i)

In [24]:
end_station_id_index_unique = pd.DataFrame(contained_letter_index, columns=['indices']).drop_duplicates()

In [25]:
end_station_id_index_list = end_station_id_index_unique.indices.to_list()

In [26]:
end_station_id_non_numeric = end_station_id_unique.loc[end_station_id_index_list].drop_duplicates().sort_values(by='end_station_id')['end_station_id'].to_list()

In [27]:
end_station_id_non_numeric_index_list = []

for i in range(0, len(data_clean)):
    for j in end_station_id_non_numeric:
        if data_clean.end_station_id[i] == j:
            end_station_id_non_numeric_index_list.append(i)

#### Drop rows with index

In [28]:
# drop rows with certain index
data_clean = data_clean.drop(index=end_station_id_non_numeric_index_list)
# data_clean = data_clean.drop([end_station_id_non_numeric_index_list], axis=0)

In [29]:
# Change data type of end_station_id
data_clean['end_station_id'] = data_clean['end_station_id'].astype(float)

In [30]:
# Start station id

In [31]:
df_start_station = data_clean.iloc[:,4:6].sort_values(by='start_station_id').dropna().drop_duplicates().reset_index().drop(columns=['index'])

In [94]:
duplicated_start_id = []

for i in range(0, len(df_start_station)):
    if df_start_station.start_station_id.duplicated()[i] == True:
        duplicated_start_id.append(df_start_station.start_station_id[i])

KeyError: 249

#### Different query method

In [84]:
start_station_dup_df = pd.DataFrame(columns=['start_station_name', 'start_station_id'])

for i in range(0, len(duplicated_start_id)):
    x = df_start_station[df_start_station.start_station_id == duplicated_start_id[i]]
    start_station_dup_df = start_station_dup_df.append(x)

start_station_dup_df_df

               start_station_name  start_station_id
248       Boerum Pl\t& Pacific St           4488.09
334      Nassau St\t& Duffield St           4781.05
458       Clinton St\t& Cherry St           5190.09
514        Forsyth St\t& Grand St           5382.07
1163  Grand Concourse & E 144  St           7845.10

In [95]:
# doesn't work for query (only other query method [][])
df_start_station.query('start_station_id == duplicated_start_id[0]')

UndefinedVariableError: name 'duplicated_start_id' is not defined

In [34]:
df_start_station_list = []

for i in range(0, len(duplicated_start_id)):
    df_start_station_list.append(df_start_station[df_start_station.start_station_id == duplicated_start_id[i]])

In [35]:
index_list = []
drop_index_list = []

for i in range(0, len(df_start_station_list)):
    index_list.append(df_start_station_list[i].index)
    
for i in range(0, len(index_list)):
    drop_index_list.append(index_list[i][1])
    
for i in range(0, len(drop_index_list)):
    df_start_station.drop(drop_index_list[i], axis=0, inplace=True)

In [36]:
df_start_station.start_station_name.duplicated().sum()

0

In [37]:
# End station id

In [38]:
df_end_station = data_clean.iloc[:,6:8].sort_values(by='end_station_id').dropna().drop_duplicates().reset_index().drop(columns=['index'])

In [39]:
duplicated_end_id = []

for i in range(0, len(df_end_station)):
    if df_end_station.end_station_id.duplicated()[i] == True:
        duplicated_end_id.append(df_end_station.end_station_id[i])

In [40]:
df_end_station_list = []

for i in range(0, len(duplicated_end_id)):
    df_end_station_list.append(df_end_station[df_end_station.end_station_id == duplicated_end_id[i]])

In [41]:
index_list = []
drop_index_list = []

for i in range(0, len(df_end_station_list)):
    index_list.append(df_end_station_list[i].index)
    
for i in range(0, len(index_list)):
    drop_index_list.append(index_list[i][1])
    
for i in range(0, len(drop_index_list)):
    df_end_station.drop(drop_index_list[i], axis=0, inplace=True)

In [42]:
df_end_station.end_station_name.duplicated().sum()

0

In [43]:
# Rename member_casual column
data_clean = data_clean.rename(columns={'member_casual':'user'})

In [44]:
# Create table for station id
station_id_start = data_clean[['start_station_id', 'start_station_name', 'start_lat', 'start_lng']]
station_id_start = station_id_start.rename(columns={'start_station_id':'station_id', 'start_station_name':'station_name', 'start_lat':'lat', 'start_lng':'lng'})

In [45]:
station_id_end = data_clean[['end_station_id', 'end_station_name', 'end_lat', 'end_lng']]
station_id_end = station_id_end.rename(columns={'end_station_id':'station_id', 'end_station_name':'station_name', 'end_lat':'lat', 'end_lng':'lng'})

In [46]:
station_id = pd.concat([station_id_start, station_id_end])

In [48]:
station_id = station_id.drop_duplicates()
station_id = station_id.dropna()
station_id = station_id.reset_index()
station_id = station_id.drop(columns=['index'])

#### Drop rows with index

In [50]:
station_id_short = station_id.drop(columns=['lat', 'lng'])
station_id_short

      station_id            station_name
0        6098.10      Broadway & E 21 St
1        5820.08         E 13 St & 2 Ave
2        7365.13         E 95 St & 3 Ave
3        7188.13   Madison Ave & E 82 St
4        6953.08         E 74 St & 1 Ave
...          ...                     ...
2216     6227.02     31 St & Thomson Ave
2217     4965.01   Lorimer St & Broadway
2218     3850.03           3 Ave & 14 St
2219     6951.03          28 Ave & 35 St
2220     8072.06  Sherman Ave & E 166 St

[2221 rows x 2 columns]

In [51]:
station_id_short = station_id_short.drop_duplicates()

In [52]:
station_id_short.station_id.duplicated().sum()

5

In [96]:
for i in range(0, len(station_id_short)):
    if station_id_short.station_id.duplicated().iloc[i] == True:
        print(station_id_short.station_id.iloc[i])
        print(station_id_short.station_name.iloc[i])

7845.1
Grand Concourse & E 144  St
5190.09
Clinton St	& Cherry St
5382.07
Forsyth St	& Grand St
4488.09
Boerum Pl	& Pacific St
4781.05
Nassau St	& Duffield St

In [97]:
station_id_short.query('station_id == 7845.1')

      station_id                 station_name
687       7845.1   Grand Concourse & E 144 St
1233      7845.1  Grand Concourse & E 144  St

In [108]:
for i in range(0, len(station_id_short)):
    if station_id_short.station_id.duplicated().iloc[i] == True:
        print(station_id_short.iloc[i])

station_id                           7845.1
station_name    Grand Concourse & E 144  St
Name: 1233, dtype: object
station_id                      5190.09
station_name    Clinton St\t& Cherry St
Name: 1461, dtype: object
station_id                     5382.07
station_name    Forsyth St\t& Grand St
Name: 1702, dtype: object
station_id                      4488.09
station_name    Boerum Pl\t& Pacific St
Name: 1736, dtype: object
station_id                       4781.05
station_name    Nassau St\t& Duffield St
Name: 2169, dtype: object

In [56]:
# Check duplicated values for station id and station name

In [57]:
station_id.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2221 entries, 0 to 2220
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   station_id    2221 non-null   float64
 1   station_name  2221 non-null   object
 2   lat           2221 non-null   float64
 3   lng           2221 non-null   float64
dtypes: float64(3), object(1)
memory usage: 69.5+ KB

In [58]:
station_id.station_id = station_id.station_id.astype(float)
station_id.station_name = station_id.station_name.astype(str)
station_id.lat = station_id.lat.astype(float)
station_id.lng = station_id.lng.astype(float)

In [59]:
station_id.duplicated().sum()

0

In [60]:
station_id.station_id.duplicated().sum()

732

In [61]:
station_id_dup = []

for i in range(0, len(station_id)):
    if station_id.station_id.duplicated()[i] == True:
        station_id_dup.append(station_id.station_id[i])
        
station_id_dup

[6098.1,
 5938.01,
 5001.08,
 5763.03,
 4677.01,
 4237.01,
 4715.01,
 5532.01,
 7409.08,
 5279.03,
 7372.1,
 6072.14,
 5687.04,
 7121.05,
 4060.09,
 5500.02,
 6297.02,
 6765.01,
 5329.03,
 4968.03,
 4546.04,
 7323.09,
 3919.07,
 5593.01,
 7079.06,
 6756.01,
 5687.11,
 6450.05,
 6889.12,
 5114.06,
 4110.1,
 7175.05,
 6055.08,
 6322.01,
 4605.04,
 4846.01,
 6915.02,
 4936.01,
 7141.07,
 6560.01,
 5679.05,
 6224.03,
 7340.06,
 5329.06,
 3651.04,
 5553.03,
 6115.09,
 5204.05,
 5679.08,
 7178.02,
 6203.02,
 5523.02,
 3928.08,
 5779.08,
 6876.04,
 5578.02,
 6212.04,
 6352.01,
 5288.12,
 6839.04,
 5712.03,
 6313.1,
 4668.08,
 7538.18,
 7281.09,
 7161.08,
 7052.01,
 7524.09,
 6854.05,
 5616.01,
 5159.04,
 6441.01,
 7745.07,
 6398.06,
 6912.01,
 6782.01,
 7627.1,
 6569.09,
 5335.07,
 6948.1,
 5247.1,
 5980.07,
 6747.07,
 5024.09,
 6839.1,
 5235.05,
 6182.02,
 7288.04,
 6937.07,
 5626.07,
 5481.04,
 7622.12,
 4590.01,
 6847.02,
 7845.1,
 7845.1,
 7634.01,
 4494.04,
 6190.08,
 7623.13,
 7260.09,
 4440.02,
 4374.01,
 7123.04,
 7602.05,
 7528.31,
 4789.03,
 5216.06,
 3803.09,
 6953.08,
 5207.01,
 5250.05,
 6224.05,
 6578.01,
 5391.06,
 6239.08,
 6726.01,
 6602.05,
 5297.02,
 8624.01,
 6157.04,
 7456.03,
 6920.03,
 7388.1,
 6190.03,
 6257.03,
 7183.03,
 7511.19,
 6379.03,
 7243.04,
 4148.07,
 6602.03,
 4199.12,
 4962.08,
 5492.05,
 6816.07,
 4010.15,
 4637.06,
 5506.14,
 4285.09,
 5847.01,
 5374.01,
 4614.04,
 5569.06,
 5964.01,
 4829.01,
 6747.06,
 6890.06,
 4683.02,
 6173.08,
 6827.11,
 6740.1,
 4953.04,
 5820.08,
 6560.15,
 5696.03,
 7753.13,
 4528.01,
 7188.13,
 6115.06,
 6206.08,
 5117.05,
 5561.06,
 5270.09,
 5422.04,
 5065.1,
 5190.09,
 5880.02,
 6278.04,
 8699.01,
 6498.09,
 7580.01,
 5036.06,
 6801.01,
 4116.08,
 6459.04,
 6569.07,
 6667.1,
 6659.03,
 7100.07,
 5905.12,
 5187.03,
 5300.06,
 4962.01,
 5746.14,
 4531.05,
 3771.06,
 4054.02,
 3722.04,
 5288.08,
 7540.02,
 5470.12,
 4345.11,
 4993.02,
 4395.07,
 5068.02,
 5593.04,
 7230.1,
 6197.08,
 5797.01,
 5489.04,
 7311.02,
 4461.01,
 4010.13,
 5653.12,
 4001.09,
 5371.07,
 4243.01,
 6676.02,
 6306.06,
 6532.06,
 6644.07,
 7146.04,
 5326.06,
 7453.01,
 5506.1,
 6498.1,
 5270.07,
 7253.04,
 6215.04,
 5989.02,
 6711.13,
 6230.04,
 7116.04,
 3865.05,
 4821.06,
 6148.02,
 4812.02,
 4249.1,
 5267.08,
 6407.07,
 7611.02,
 5137.11,
 5216.04,
 6131.12,
 7092.06,
 7028.04,
 7719.13,
 5971.08,
 6030.06,
 5430.08,
 5575.13,
 6474.11,
 5788.13,
 6569.08,
 6926.01,
 7020.09,
 4996.08,
 6422.09,
 5561.04,
 5137.1,
 5125.07,
 6890.01,
 5794.05,
 5489.03,
 6753.08,
 5721.14,
 5721.07,
 6960.1,
 7154.07,
 4546.05,
 4193.14,
 6179.07,
 5445.02,
 5453.01,
 4895.09,
 6626.01,
 6566.01,
 6382.05,
 6233.05,
 3978.13,
 4157.1,
 4319.07,
 6998.08,
 6137.04,
 7741.04,
 7382.04,
 7577.27,
 6464.08,
 4656.03,
 5838.09,
 4665.02,
 5382.07,
 6814.01,
 6004.07,
 6416.06,
 5406.04,
 4095.03,
 6584.12,
 7286.05,
 5004.02,
 4993.13,
 6140.05,
 3731.11,
 5414.06,
 5359.1,
 7680.03,
 4228.02,
 6289.06,
 5332.1,
 6248.06,
 6923.2,
 5164.04,
 7018.01,
 4095.1,
 4596.09,
 6079.03,
 5886.02,
 4488.09,
 5922.07,
 5626.13,
 7212.05,
 6969.08,
 5626.15,
 6737.03,
 5779.09,
 4307.13,
 6563.12,
 7180.02,
 4488.08,
 6064.08,
 5736.09,
 5515.02,
 3704.08,
 5929.01,
 6860.12,
 7704.04,
 4151.01,
 5539.06,
 4354.07,
 6462.05,
 7823.03,
 5666.04,
 5137.13,
 7652.04,
 6551.02,
 5442.05,
 6824.07,
 4422.04,
 6795.01,
 5561.06,
 6046.02,
 5351.03,
 3960.01,
 5922.07,
 7595.17,
 6682.03,
 5411.08,
 5826.02,
 6266.06,
 7524.16,
 6429.01,
 6022.04,
 5755.01,
 7049.04,
 4853.06,
 7720.03,
 6572.08,
 4074.03,
 5288.09,
 5506.14,
 6030.04,
 7235.13,
 7068.07,
 7128.08,
 7084.12,
 7204.08,
 6432.08,
 4762.04,
 8226.06,
 7655.22,
 6441.02,
 6122.09,
 6389.09,
 5847.08,
 5659.05,
 6617.09,
 6170.02,
 4019.06,
 3972.08,
 6605.08,
 6659.01,
 6762.02,
 5400.05,
 7207.08,
 5805.05,
 6611.02,
 7606.01,
 7658.13,
 7432.09,
 6743.06,
 7286.01,
 7522.02,
 4565.04,
 4077.07,
 8018.09,
 7047.07,
 6345.08,
 7386.1,
 7541.01,
 4461.04,
 6717.06,
 5669.1,
 7057.07,
 5365.02,
 8507.02,
 4205.06,
 6850.01,
 7599.02,
 5755.14,
 6650.08,
 6925.09,
 6650.07,
 4042.08,
 5379.09,
 7286.02,
 6762.04,
 4362.04,
 4645.09,
 4028.03,
 7795.09,
 5065.12,
 5659.11,
 5342.1,
 5914.03,
 6932.14,
 4119.04,
 8631.03,
 7783.18,
 5721.01,
 4166.08,
 6740.01,
 6857.09,
 4124.04,
 6364.07,
 5436.09,
 4611.03,
 5550.09,
 5105.09,
 6896.16,
 4428.02,
 4033.06,
 4446.05,
 4380.08,
 6131.13,
 4748.07,
 3842.08,
 7636.05,
 5300.05,
 5062.01,
 6237.01,
 5108.01,
 5181.04,
 4298.05,
 4700.06,
 4086.06,
 5190.07,
 5128.04,
 5854.1,
 4413.08,
 6700.14,
 3125.09,
 5847.06,
 5584.04,
 5636.11,
 3905.15,
 5854.09,
 4208.11,
 4045.01,
 5303.06,
 7293.1,
 5403.04,
 4217.02,
 3996.01,
 4404.1,
 4077.04,
 5270.05,
 3834.1,
 8732.04,
 5788.12,
 3879.04,
 5167.06,
 5400.08,
 3665.06,
 6670.03,
 5303.08,
 7756.1,
 4231.04,
 4677.06,
 7098.05,
 5763.03,
 7432.04,
 7365.13,
 7587.14,
 7407.13,
 3981.1,
 4128.08,
 7692.11,
 7727.08,
 7463.09,
 4628.05,
 6779.04,
 7344.05,
 7488.24,
 4371.01,
 4437.01,
 3696.05,
 4051.01,
 4010.01,
 5623.03,
 6822.09,
 5450.04,
 5259.06,
 4497.09,
 6474.12,
 5093.01,
 5308.04,
 4762.05,
 7059.01,
 6280.12,
 4237.02,
 8344.09,
 7520.07,
 7579.01,
 7149.05,
 5938.11,
 4225.14,
 7365.08,
 4392.04,
 3803.05,
 3762.08,
 4107.05,
 4143.03,
 4125.07,
 4258.07,
 4281.08,
 4395.04,
 3987.06,
 7855.03,
 5550.05,
 5045.05,
 4479.08,
 6471.02,
 8605.06,
 4724.03,
 8665.02,
 4956.02,
 4422.05,
 5238.05,
 4175.14,
 4634.02,
 7741.01,
 4707.03,
 4729.01,
 4510.04,
 4354.05,
 4446.01,
 6089.07,
 4519.04,
 4419.03,
 3887.03,
 4519.02,
 4368.05,
 4157.15,
 3460.01,
 4184.07,
 6164.09,
 3882.01,
 4266.03,
 6197.02,
 7625.18,
 4553.04,
 6679.11,
 7903.02,
 6495.17,
 6798.01,
 5065.04,
 4818.03,
 4455.1,
 6395.01,
 5553.1,
 5148.03,
 4255.05,
 6958.06,
 7186.15,
 7026.08,
 6989.07,
 5922.08,
 7144.01,
 4074.03,
 4330.09,
 7338.02,
 7265.1,
 7443.01,
 5545.04,
 8748.02,
 7567.06,
 6212.08,
 8021.11,
 6514.08,
 5379.1,
 5872.1,
 7436.11,
 7291.06,
 4214.03,
 5335.03,
 7003.06,
 7286.01,
 6691.11,
 4645.04,
 4707.04,
 6432.09,
 7113.08,
 5406.02,
 4596.05,
 7082.01,
 4348.07,
 4692.01,
 6529.02,
 6887.03,
 7876.07,
 7682.01,
 6966.04,
 4107.13,
 6319.01,
 7650.05,
 7619.05,
 4452.03,
 7009.02,
 5453.05,
 5476.03,
 4850.04,
 8679.03,
 4903.08,
 7504.12,
 4883.03,
 3955.05,
 3736.04,
 4134.06,
 4476.03,
 4202.04,
 4821.1,
 5593.02,
 6932.15,
 6901.01,
 3940.04,
 7360.1,
 8167.04,
 5616.01,
 3874.01,
 4620.02,
 7414.17,
 7818.17,
 4455.11,
 4847.03,
 6688.01,
 5084.03,
 6991.12,
 7610.13,
 4617.01,
 4322.06,
 3579.04,
 6541.03,
 3501.01,
 4479.06,
 4781.03,
 4718.08,
 5445.02,
 4013.08,
 6750.16,
 6720.07,
 7233.05,
 5403.05,
 8474.02,
 8535.09,
 4222.02,
 8811.01,
 3776.05,
 8282.13,
 4339.01,
 5198.04,
 4781.05,
 7643.18,
 5068.02,
 6981.16,
 3914.02,
 4565.06,
 7188.1,
 6030.06,
 4452.01,
 6879.04,
 6958.06,
 4962.08,
 6873.01,
 6836.07,
 6996.01,
 6656.05,
 5062.01,
 6438.04,
 6230.04,
 8226.07,
 8543.01,
 4336.01,
 5980.07,
 4086.05,
 5500.07,
 7738.04,
 4175.15,
 4659.02,
 6072.06,
 5872.1,
 4617.01,
 8594.02,
 4732.04,
 6893.1,
 7450.05,
 5433.03,
 8795.03,
 7062.07,
 4697.01,
 7640.04,
 8156.03,
 3847.04,
 8766.03,
 6076.01,
 8649.03,
 4921.04,
 6227.02,
 4965.01,
 3850.03,
 6951.03,
 8072.06]

In [122]:
station_id_dub_df = pd.DataFrame(columns=('station_id', 'station_name'))

for i in range(0, len(station_id_dup)):
    df = station_id[station_id.station_id == station_id_dup[i]]
    station_id_dub_df = station_id_dub_df.append(df)

station_id_dub_df

      station_id            station_name        lat        lng
0        6098.10      Broadway & E 21 St  40.739888 -73.989586
86       6098.10      Broadway & E 21 St  40.739888 -73.989586
28       5938.01         E 19 St & 3 Ave  40.736245 -73.984738
88       5938.01         E 19 St & 3 Ave  40.736245 -73.984738
136      5001.08   Little West St & 1 Pl  40.705693 -74.016777
...          ...                     ...        ...        ...
2218     3850.03           3 Ave & 14 St  40.668546 -73.993333
1654     6951.03          28 Ave & 35 St  40.767100 -73.916986
2219     6951.03          28 Ave & 35 St  40.767100 -73.916986
1400     8072.06  Sherman Ave & E 166 St  40.831305 -73.917448
2220     8072.06  Sherman Ave & E 166 St  40.831305 -73.917448

[1500 rows x 4 columns]

In [124]:
for i in range(0, len(station_id)):
    print(station_id[station_id.station_id == station_id_dup[i]])

    station_id        station_name        lat        lng
0       6098.1  Broadway & E 21 St  40.739888 -73.989586
86      6098.1  Broadway & E 21 St  40.739888 -73.989586
    station_id     station_name        lat        lng
28     5938.01  E 19 St & 3 Ave  40.736245 -73.984738
88     5938.01  E 19 St & 3 Ave  40.736245 -73.984738
     station_id           station_name        lat        lng
136     5001.08  Little West St & 1 Pl  40.705693 -74.016777
191     5001.08  Little West St & 1 Pl  40.705693 -74.016777
      station_id        station_name        lat        lng
47       5763.03  Carmine St & 6 Ave  40.730386 -74.002150
228      5763.03  Carmine St & 6 Ave  40.730386 -74.002150
1963     5763.03  Carmine St & 6 Ave  40.728400 -73.999687
     station_id                 station_name        lat        lng
63      4677.01  Cadman Plaza E & Tillary St  40.695977 -73.990149
278     4677.01  Cadman Plaza E & Tillary St  40.695977 -73.990149
     station_id            station_name       lat        lng
408     4237.01  Lewis Ave & Decatur St  40.68146 -73.934903
417     4237.01  Lewis Ave & Decatur St  40.68146 -73.934903
     station_id               station_name        lat        lng
87      4715.01  Franklin Ave & Myrtle Ave  40.694546 -73.958014
471     4715.01  Franklin Ave & Myrtle Ave  40.694546 -73.958014
     station_id           station_name        lat        lng
369     5532.01  Mercer St & Spring St  40.723627 -73.999496
503     5532.01  Mercer St & Spring St  40.723627 -73.999496
     station_id        station_name        lat        lng
120     7409.08  W 84 St & Broadway  40.786795 -73.977112
534     7409.08  W 84 St & Broadway  40.786795 -73.977112
     station_id          station_name        lat        lng
269     5279.03  Centre St & Worth St  40.714948 -74.002345
572     5279.03  Centre St & Worth St  40.714948 -74.002345
     station_id     station_name        lat        lng
207      7372.1  5 Ave & E 93 St  40.785785 -73.957481
593      7372.1  5 Ave & E 93 St  40.785785 -73.957481
     station_id               station_name        lat       lng
258     6072.14  Gansevoort St & Hudson St  40.739448 -74.00507
629     6072.14  Gansevoort St & Hudson St  40.739448 -74.00507
     station_id              station_name        lat        lng
344     5687.04  MacDougal St & Prince St  40.727103 -74.002971
673     5687.04  MacDougal St & Prince St  40.727103 -74.002971
     station_id     station_name        lat        lng
634     7121.05  E 81 St & 2 Ave  40.774779 -73.954275
677     7121.05  E 81 St & 2 Ave  40.774779 -73.954275
     station_id        station_name        lat        lng
121     4060.09  Carroll St & 5 Ave  40.675162 -73.981483
696     4060.09  Carroll St & 5 Ave  40.675162 -73.981483
     station_id          station_name      lat        lng
196     5500.02  Grand St & Greene St  40.7217 -74.002381
707     5500.02  Grand St & Greene St  40.7217 -74.002381
     station_id     station_name        lat        lng
49      6297.02  W 26 St & 8 Ave  40.747348 -73.997236
720     6297.02  W 26 St & 8 Ave  40.747348 -73.997236
     station_id      station_name        lat        lng
72      6765.01  12 Ave & W 40 St  40.760875 -74.002777
733     6765.01  12 Ave & W 40 St  40.760875 -74.002777
     station_id           station_name        lat        lng
9       5329.03  West St & Chambers St  40.717548 -74.013221
752     5329.03  West St & Chambers St  40.717548 -74.013221
     station_id          station_name        lat        lng
751     4968.03  Bridge St & Water St  40.702969 -73.984691
756     4968.03  Bridge St & Water St  40.702969 -73.984691
     station_id                 station_name       lat        lng
185     4546.04  DeKalb Ave & S Portland Ave  40.68981 -73.974931
790     4546.04  DeKalb Ave & S Portland Ave  40.68981 -73.974931
     station_id     station_name        lat        lng
400     7323.09  5 Ave & E 87 St  40.782314 -73.959805
804     7323.09  5 Ave & E 87 St  40.782314 -73.959805
     station_id                 station_name        lat       lng
38      3919.07  Eastern Pkwy & Franklin Ave  40.670777 -73.95768
810     3919.07  Eastern Pkwy & Franklin Ave  40.670777 -73.95768
     station_id    station_name        lat       lng
254     5593.01  E 1 St & 1 Ave  40.723356 -73.98865
811     5593.01  E 1 St & 1 Ave  40.723356 -73.98865
     station_id                 station_name        lat        lng
158     7079.06  Central Park West & W 68 St  40.773407 -73.977825
848     7079.06  Central Park West & W 68 St  40.773407 -73.977825
     station_id      station_name        lat        lng
174     6756.01  W 43 St & 10 Ave  40.760094 -73.994618
849     6756.01  W 43 St & 10 Ave  40.760094 -73.994618
     station_id         station_name        lat        lng
866     5687.11  King St & Varick St  40.727897 -74.005363
874     5687.11  King St & Varick St  40.727897 -74.005363
     station_id     station_name        lat        lng
190     6450.05  8 Ave & W 31 St  40.750585 -73.994685
885     6450.05  8 Ave & W 31 St  40.750585 -73.994685
     station_id        station_name        lat        lng
223     6889.12  E 72 St & York Ave  40.766638 -73.953483
890     6889.12  E 72 St & York Ave  40.766638 -73.953483
     station_id    station_name        lat        lng
129     5114.06  West Thames St  40.708347 -74.017134
894     5114.06  West Thames St  40.708347 -74.017134
     station_id    station_name        lat        lng
57       4110.1  3 St & Hoyt St  40.677729 -73.993641
895      4110.1  3 St & Hoyt St  40.677729 -73.993641
     station_id            station_name        lat        lng
335     7175.05  Columbus Ave & W 72 St  40.777057 -73.978985
908     7175.05  Columbus Ave & W 72 St  40.777058 -73.978985
     station_id        station_name        lat       lng
106     6055.08  E 20 St & Park Ave  40.738274 -73.98752
909     6055.08  E 20 St & Park Ave  40.738274 -73.98752
     station_id     station_name        lat        lng
296     6322.01  E 33 St & 5 Ave  40.747659 -73.984907
914     6322.01  E 33 St & 5 Ave  40.747659 -73.984907
     station_id               station_name        lat        lng
915     4605.04  Clinton St & Joralemon St  40.692395 -73.993379
919     4605.04  Clinton St & Joralemon St  40.692395 -73.993379
     station_id             station_name        lat        lng
217     4846.01  South St & Whitehall St  40.701221 -74.012342
923     4846.01  South St & Whitehall St  40.701221 -74.012342
     station_id          station_name        lat        lng
116     6915.02  Steinway St & 28 Ave  40.765625 -73.913669
930     6915.02  Steinway St & 28 Ave  40.765625 -73.913670
     station_id              station_name        lat        lng
163     4936.01  Front St & Washington St  40.702551 -73.989402
932     4936.01  Front St & Washington St  40.702551 -73.989402
     station_id                 station_name        lat        lng
238     7141.07  Central Park West & W 72 St  40.775794 -73.976206
949     7141.07  Central Park West & W 72 St  40.775794 -73.976206
     station_id        station_name        lat       lng
71      6560.01  Broadway & W 41 St  40.755136 -73.98658
951     6560.01  Broadway & W 41 St  40.755136 -73.98658
     station_id             station_name        lat        lng
229     5679.05  Mercer St & Bleecker St  40.727064 -73.996621
977     5679.05  Mercer St & Bleecker St  40.727064 -73.996621
     station_id     station_name        lat        lng
342     6224.03  W 22 St & 8 Ave  40.744751 -73.999154
978     6224.03  W 22 St & 8 Ave  40.744751 -73.999154
     station_id            station_name        lat        lng
95      7340.06  Riverside Dr & W 78 St  40.784145 -73.983625
988     7340.06  Riverside Dr & W 78 St  40.784145 -73.983625
     station_id         station_name        lat        lng
211     5329.06  Murray St & West St  40.714979 -74.013012
989     5329.06  Murray St & West St  40.714979 -74.013012
     station_id                     station_name        lat        lng
557     3651.04  West Drive & Prospect Park West  40.661063 -73.979453
992     3651.04  West Drive & Prospect Park West  40.661063 -73.979453
     station_id    station_name        lat        lng
109     5553.03  E 3 St & 1 Ave  40.724677 -73.987834
998     5553.03  E 3 St & 1 Ave  40.724677 -73.987834
      station_id      station_name        lat        lng
268      6115.09  W 15 St & 10 Ave  40.742754 -74.007474
1000     6115.09  W 15 St & 10 Ave  40.742754 -74.007474
      station_id        station_name        lat        lng
112      5204.05  S 4 St & Wythe Ave  40.712859 -73.965903
1007     5204.05  S 4 St & Wythe Ave  40.712859 -73.965903
      station_id             station_name        lat        lng
18       5679.08  Bleecker St & Crosby St  40.726156 -73.995102
1012     5679.08  Bleecker St & Crosby St  40.726156 -73.995102
      station_id    station_name        lat        lng
938      7178.02  23 Ave & 27 St  40.776165 -73.915318
1020     7178.02  23 Ave & 27 St  40.776165 -73.915318
      station_id         station_name        lat        lng
132      6203.02  Jackson Ave & 46 Rd  40.745248 -73.947333
1025     6203.02  Jackson Ave & 46 Rd  40.745248 -73.947333
      station_id              station_name        lat        lng
244      5523.02  Stanton St & Chrystie St  40.722293 -73.991475
1043     5523.02  Stanton St & Chrystie St  40.722293 -73.991475
      station_id                   station_name        lat        lng
863      3928.08  Eastern Pkwy & Washington Ave  40.671649 -73.963115
1059     3928.08  Eastern Pkwy & Washington Ave  40.671649 -73.963115
      station_id     station_name        lat        lng
171      5779.08  1 Ave & E 16 St  40.732219 -73.981656
1074     5779.08  1 Ave & E 16 St  40.732219 -73.981656
      station_id            station_name        lat        lng
966      6876.04  Central Park S & 6 Ave  40.765909 -73.976342
1087     6876.04  Central Park S & 6 Ave  40.765909 -73.976342
      station_id             station_name        lat       lng
394      5578.02  Watts St & Greenwich St  40.724055 -74.00966
1104     5578.02  Watts St & Greenwich St  40.724055 -74.00966
      station_id   station_name        lat        lng
101      6212.04  48 Ave & 5 St  40.744363 -73.955873
1108     6212.04  48 Ave & 5 St  40.744363 -73.955873
      station_id         station_name        lat        lng
66       6352.01  44 Dr & Jackson Ave  40.747182 -73.943264
1110     6352.01  44 Dr & Jackson Ave  40.747182 -73.943264
      station_id              station_name        lat        lng
67       5288.12  Murray St & Greenwich St  40.714852 -74.011223
1112     5288.12  Murray St & Greenwich St  40.714852 -74.011223
      station_id           station_name        lat        lng
73       6839.04  E 58 St & Madison Ave  40.763026 -73.972095
1116     6839.04  E 58 St & Madison Ave  40.763026 -73.972095
      station_id              station_name        lat        lng
538      5712.03  Cooper Square & Astor Pl  40.729515 -73.990753
1120     5712.03  Cooper Square & Astor Pl  40.729515 -73.990753
      station_id             station_name        lat        lng
888       6313.1  Lexington Ave & E 36 St  40.747574 -73.978801
1125      6313.1  Lexington Ave & E 36 St  40.747574 -73.978801
      station_id          station_name        lat        lng
119      4668.08  Johnson St & Gold St  40.694749 -73.983625
1128     4668.08  Johnson St & Gold St  40.694749 -73.983625
      station_id              station_name        lat        lng
449      7538.18  Central Park W & W 97 St  40.792495 -73.964171
1130     7538.18  Central Park W & W 97 St  40.792495 -73.964171
      station_id            station_name        lat        lng
41       7281.09  W 76 St & Columbus Ave  40.780184 -73.977285
1143     7281.09  W 76 St & Columbus Ave  40.780184 -73.977285
      station_id     station_name        lat        lng
100      7161.08  5 Ave & E 78 St  40.776321 -73.964274
1146     7161.08  5 Ave & E 78 St  40.776321 -73.964274
      station_id        station_name        lat        lng
265      7052.01  W 63 St & Broadway  40.771639 -73.982614
1148     7052.01  W 63 St & Broadway  40.771639 -73.982614
      station_id            station_name        lat        lng
93       7524.09  West End Ave & W 94 St  40.794165 -73.974124
1151     7524.09  West End Ave & W 94 St  40.794165 -73.974124
      station_id     station_name        lat       lng
380      6854.05  W 50 St & 9 Ave  40.763605 -73.98918
1155     6854.05  W 50 St & 9 Ave  40.763605 -73.98918
      station_id       station_name        lat        lng
134      5616.01  E 9 St & Avenue C  40.725213 -73.977688
1160     5616.01  E 9 St & Avenue C  40.725213 -73.977688
2136     5616.01  E 9 St & Avenue C  40.722992 -73.979954
      station_id         station_name        lat       lng
468      5159.04  Pike St & Monroe St  40.711731 -73.99193
1167     5159.04  Pike St & Monroe St  40.711731 -73.99193
      station_id        station_name        lat        lng
897      6441.01  Broadway & W 36 St  40.750977 -73.987654
1168     6441.01  Broadway & W 36 St  40.750977 -73.987654
      station_id              station_name        lat      lng
621      7745.07  W 120 St & Claremont Ave  40.810949 -73.9634
1174     7745.07  W 120 St & Claremont Ave  40.810949 -73.9634
      station_id     station_name       lat       lng
498      6398.06  W 37 St & 5 Ave  40.75038 -73.98339
1179     6398.06  W 37 St & 5 Ave  40.75038 -73.98339
      station_id                station_name        lat        lng
299      6912.01  7 Ave & Central Park South  40.766741 -73.979069
1185     6912.01  7 Ave & Central Park South  40.766741 -73.979069
      station_id          station_name        lat        lng
644      6782.01  31 Ave & Steinway St  40.761149 -73.917007
1191     6782.01  31 Ave & Steinway St  40.761149 -73.917007
      station_id          station_name        lat        lng
201       7627.1  Lenox Ave & W 115 St  40.801194 -73.950074
1195      7627.1  Lenox Ave & W 115 St  40.801194 -73.950074
      station_id     station_name        lat        lng
202      6569.09  W 35 St & 9 Ave  40.754145 -73.996089
1196     6569.09  W 35 St & 9 Ave  40.754145 -73.996089
      station_id                       station_name        lat        lng
62       5335.07  Grand St & Samuel Dickstein Plaza  40.715119 -73.984171
1197     5335.07  Grand St & Samuel Dickstein Plaza  40.715119 -73.984171
      station_id        station_name        lat        lng
193       6948.1  Broadway & W 58 St  40.766953 -73.981693
1199      6948.1  Broadway & W 58 St  40.766953 -73.981693
      station_id         station_name        lat        lng
8         5247.1  Reade St & Broadway  40.714505 -74.005628
1200      5247.1  Reade St & Broadway  40.714505 -74.005628
      station_id        station_name        lat        lng
79       5980.07  E 17 St & Broadway  40.737050 -73.990093
1201     5980.07  E 17 St & Broadway  40.737050 -73.990093
2191     5980.07  E 17 St & Broadway  40.740259 -73.984092
      station_id     station_name        lat        lng
603      6747.07  8 Ave & W 49 St  40.761712 -73.986551
1202     6747.07  8 Ave & W 49 St  40.761712 -73.986551
      station_id          station_name        lat        lng
582      5024.09  Fulton St & Pearl St  40.707722 -74.004386
1204     5024.09  Fulton St & Pearl St  40.707722 -74.004386
      station_id                       station_name        lat        lng
670       6839.1  Grand Army Plaza & Central Park S  40.764397 -73.973715
1205      6839.1  Grand Army Plaza & Central Park S  40.764397 -73.973715
      station_id          station_name        lat        lng
166      5235.05  S 3 St & Bedford Ave  40.712605 -73.962644
1208     5235.05  S 3 St & Bedford Ave  40.712605 -73.962644
      station_id     station_name        lat        lng
98       6182.02  W 20 St & 7 Ave  40.742388 -73.997262
1210     6182.02  W 20 St & 7 Ave  40.742388 -73.997262
      station_id            station_name        lat        lng
470      7288.04  Riverside Dr & W 72 St  40.780578 -73.985624
1211     7288.04  Riverside Dr & W 72 St  40.780578 -73.985624
      station_id         station_name        lat        lng
140      6937.07  Vernon Blvd & 10 St  40.767186 -73.937355
1212     6937.07  Vernon Blvd & 10 St  40.767186 -73.937355
      station_id       station_name        lat        lng
118      5626.07  E 7 St & Avenue A  40.726218 -73.983799
1214     5626.07  E 7 St & Avenue A  40.726218 -73.983799
      station_id             station_name        lat        lng
83       5481.04  Driggs Ave & Lorimer St  40.721791 -73.950415
1216     5481.04  Driggs Ave & Lorimer St  40.721791 -73.950415
      station_id      station_name        lat      lng
878      7622.12  2 Ave & E 122 St  40.800672 -73.9349
1217     7622.12  2 Ave & E 122 St  40.800672 -73.9349
      station_id      station_name        lat        lng
312      4590.01  Soissons Landing  40.692317 -74.014866
1222     4590.01  Soissons Landing  40.692317 -74.014866
      station_id        station_name        lat        lng
280      6847.02  Broadway & W 56 St  40.765265 -73.981923
1231     6847.02  Broadway & W 56 St  40.765265 -73.981923
      station_id                 station_name       lat        lng
687       7845.1   Grand Concourse & E 144 St  40.81687 -73.927985
1232      7845.1   Grand Concourse & E 144 St  40.81687 -73.927985
1233      7845.1  Grand Concourse & E 144  St  40.81687 -73.927985
      station_id                 station_name       lat        lng
687       7845.1   Grand Concourse & E 144 St  40.81687 -73.927985
1232      7845.1   Grand Concourse & E 144 St  40.81687 -73.927985
1233      7845.1  Grand Concourse & E 144  St  40.81687 -73.927985
      station_id              station_name        lat        lng
247      7634.01  W 106 St & Amsterdam Ave  40.800836 -73.966449
1235     7634.01  W 106 St & Amsterdam Ave  40.800836 -73.966449
      station_id                 station_name        lat        lng
456      4494.04  Lafayette Ave & St James Pl  40.688515 -73.964763
1236     4494.04  Lafayette Ave & St James Pl  40.688515 -73.964763
      station_id     station_name        lat        lng
333      6190.08  9 Ave & W 18 St  40.743174 -74.003664
1242     6190.08  9 Ave & W 18 St  40.743174 -74.003664
      station_id             station_name        lat        lng
662      7623.13  Riverside Dr & W 104 St  40.801343 -73.971146
1244     7623.13  Riverside Dr & W 104 St  40.801343 -73.971146
      station_id             station_name        lat       lng
488      7260.09  Amsterdam Ave & W 73 St  40.779668 -73.98093
1249     7260.09  Amsterdam Ave & W 73 St  40.779668 -73.98093
      station_id           station_name        lat        lng
1251     4440.02  Yankee Ferry Terminal  40.687066 -74.016756
1252     4440.02  Yankee Ferry Terminal  40.687066 -74.016756
      station_id  station_name        lat        lng
1234     4374.01  Picnic Point  40.685126 -74.025353
1253     4374.01  Picnic Point  40.685126 -74.025353
      station_id                      station_name       lat        lng
242      7123.04  W 64 St & Thelonious Monk Circle  40.77516 -73.989187
1256     7123.04  W 64 St & Thelonious Monk Circle  40.77516 -73.989187
      station_id          station_name        lat      lng
148      7602.05  Lenox Ave & W 111 St  40.798786 -73.9523
1257     7602.05  Lenox Ave & W 111 St  40.798786 -73.9523
      station_id            station_name        lat       lng
327      7528.31  E 106 St & Madison Ave  40.793434 -73.94945
1260     7528.31  E 106 St & Madison Ave  40.793434 -73.94945
      station_id         station_name        lat        lng
446      4789.03  Clark St & Henry St  40.697601 -73.993446
1261     4789.03  Clark St & Henry St  40.697601 -73.993446
      station_id          station_name       lat        lng
253      5216.06  Vesey St & Church St  40.71222 -74.010472
1262     5216.06  Vesey St & Church St  40.71222 -74.010472
      station_id  station_name        lat        lng

      station_id               station_name        lat        lng
24       3722.04  Prospect Park West & 8 St  40.665147 -73.976376
1534     3722.04  Prospect Park West & 8 St  40.665147 -73.976376
      station_id         station_name        lat        lng
141      5288.08  Park Pl & Church St  40.713342 -74.009355
1535     5288.08  Park Pl & Church St  40.713342 -74.009355
      station_id      station_name        lat        lng
542      7540.02  E 114 St & 1 Ave  40.794566 -73.936254
1536     7540.02  E 114 St & 1 Ave  40.794566 -73.936254
      station_id                   station_name        lat        lng
641      5470.12  North Moore St & Greenwich St  40.720195 -74.010301
1539     5470.12  North Moore St & Greenwich St  40.720195 -74.010301
      station_id             station_name        lat        lng
80       4345.11  Fulton St & Waverly Ave  40.683239 -73.965996
1540     4345.11  Fulton St & Waverly Ave  40.683239 -73.965996
      station_id               station_name        lat       lng
474      4993.02  Pearl St & Hanover Square  40.704718 -74.00926
1541     4993.02  Pearl St & Hanover Square  40.704718 -74.00926
      station_id            station_name        lat        lng
777      4395.07  Hanson Pl & Ashland Pl  40.685068 -73.977908
1542     4395.07  Hanson Pl & Ashland Pl  40.685068 -73.977908
      station_id                 station_name        lat        lng
74       5068.02  Montrose Ave & Bushwick Ave  40.707678 -73.940162
1544     5068.02  Montrose Ave & Bushwick Ave  40.707678 -73.940162
2171     5068.02  Montrose Ave & Bushwick Ave  40.707677 -73.940161
      station_id    station_name        lat       lng
410      5593.04  E 4 St & 2 Ave  40.726281 -73.98978
1546     5593.04  E 4 St & 2 Ave  40.726281 -73.98978
      station_id            station_name        lat       lng
467       7230.1  W 74 St & Columbus Ave  40.778567 -73.97755
1547      7230.1  W 74 St & Columbus Ave  40.778567 -73.97755
      station_id     station_name        lat        lng
352      6197.08  E 33 St & 1 Ave  40.743227 -73.974498
1548     6197.08  E 33 St & 1 Ave  40.743227 -73.974498
      station_id                  station_name        lat        lng
632      5797.01  MacDougal St & Washington Sq  40.732264 -73.998522
1549     5797.01  MacDougal St & Washington Sq  40.732264 -73.998522
      station_id        station_name        lat        lng
1380     5489.04  N 11 St & Kent Ave  40.722482 -73.959219
1550     5489.04  N 11 St & Kent Ave  40.722482 -73.959219
      station_id             station_name        lat        lng
407      7311.02  Amsterdam Ave & W 79 St  40.782939 -73.978652
1551     7311.02  Amsterdam Ave & W 79 St  40.782939 -73.978652
      station_id                  station_name        lat        lng
70       4461.01  Clermont Ave & Lafayette Ave  40.687645 -73.969689
1552     4461.01  Clermont Ave & Lafayette Ave  40.687645 -73.969689
      station_id                  station_name        lat        lng
821      4010.13  Plaza St West & Flatbush Ave  40.675021 -73.971115
1553     4010.13  Plaza St West & Flatbush Ave  40.675021 -73.971115
      station_id           station_name       lat        lng
1366     5653.12  Spring St & Hudson St  40.72584 -74.007653
1558     5653.12  Spring St & Hudson St  40.72584 -74.007653
      station_id                  station_name        lat        lng
221      4001.09  St Johns Pl & Washington Ave  40.673724 -73.963161
1559     4001.09  St Johns Pl & Washington Ave  40.673724 -73.963161
      station_id           station_name        lat      lng
188      5371.07  Frost St & Meeker Ave  40.717662 -73.9488
1560     5371.07  Frost St & Meeker Ave  40.717662 -73.9488
      station_id                station_name        lat        lng
666      4243.01  Commerce St & Van Brunt St  40.681212 -74.008609
1563     4243.01  Commerce St & Van Brunt St  40.681212 -74.008609
      station_id     station_name        lat        lng
302      6676.02  W 45 St & 8 Ave  40.759291 -73.988597
1568     6676.02  W 45 St & 8 Ave  40.759291 -73.988597
      station_id      station_name       lat        lng
373      6306.06  W 22 St & 10 Ave  40.74692 -74.004519
1569     6306.06  W 22 St & 10 Ave  40.74692 -74.004519
      station_id     station_name        lat       lng
1036     6532.06  E 51 St & 1 Ave  40.754557 -73.96593
1571     6532.06  E 51 St & 1 Ave  40.754557 -73.96593
      station_id        station_name        lat      lng
375      6644.07  W 42 St & Dyer Ave  40.758985 -73.9938
1572     6644.07  W 42 St & Dyer Ave  40.758985 -73.9938
      station_id        station_name        lat        lng
864      7146.04  E 85 St & York Ave  40.775369 -73.948034
1573     7146.04  E 85 St & York Ave  40.775369 -73.948034
      station_id            station_name        lat        lng
220      5326.06  Stanton St & Mangin St  40.717821 -73.976289
1578     5326.06  Stanton St & Mangin St  40.717821 -73.976289
      station_id              station_name        lat        lng
219      7453.01  Central Park W & W 91 St  40.788665 -73.966801
1579     7453.01  Central Park W & W 91 St  40.788665 -73.966801
      station_id    station_name        lat        lng
614       5506.1  Ave D & E 8 St  40.723684 -73.975748
1580      5506.1  Ave D & E 8 St  40.723684 -73.975748
      station_id     station_name        lat        lng
107       6498.1  E 47 St & 2 Ave  40.753231 -73.970325
1586      6498.1  E 47 St & 2 Ave  40.753231 -73.970325
      station_id           station_name        lat        lng
15       5270.07  Forsyth St & Canal St  40.715815 -73.994224
1587     5270.07  Forsyth St & Canal St  40.715816 -73.994224
      station_id                 station_name        lat        lng
320      7253.04  Central Park West & W 76 St  40.778968 -73.973747
1591     7253.04  Central Park West & W 76 St  40.778968 -73.973747
      station_id     station_name        lat        lng
409      6215.04  W 25 St & 6 Ave  40.743954 -73.991449
1592     6215.04  W 25 St & 6 Ave  40.743954 -73.991449
      station_id     station_name        lat       lng
126      5989.02  W 15 St & 6 Ave  40.738046 -73.99643
1595     5989.02  W 15 St & 6 Ave  40.738046 -73.99643
      station_id            station_name        lat        lng
151      6711.13  Steinway St & Broadway  40.759058 -73.918975
1598     6711.13  Steinway St & Broadway  40.759058 -73.918975
      station_id         station_name        lat        lng
175      6230.04  FDR Drive & E 35 St  40.744219 -73.971212
1600     6230.04  FDR Drive & E 35 St  40.744219 -73.971212
2187     6230.04  FDR Drive & E 35 St  40.751581 -73.977910
      station_id        station_name        lat        lng
167      7116.04  W 67 St & Broadway  40.774925 -73.982666
1603     7116.04  W 67 St & Broadway  40.774925 -73.982666
      station_id               station_name        lat        lng
48       3865.05  3 St & Prospect Park West  40.668132 -73.973638
1605     3865.05  3 St & Prospect Park West  40.668132 -73.973638
      station_id                   station_name        lat        lng
1245     4821.06  Cadman Plaza E & Red Cross Pl  40.699918 -73.989718
1608     4821.06  Cadman Plaza E & Red Cross Pl  40.699918 -73.989718
      station_id     station_name        lat        lng
404      6148.02  W 17 St & 8 Ave  40.741776 -74.001497
1611     6148.02  W 17 St & 8 Ave  40.741776 -74.001497
      station_id         station_name        lat        lng
633      4812.02  Nassau St & Navy St  40.698399 -73.980689
1612     4812.02  Nassau St & Navy St  40.698399 -73.980689
      station_id         station_name        lat       lng
1053      4249.1  St Marks Pl & 4 Ave  40.681778 -73.97989
1613      4249.1  St Marks Pl & 4 Ave  40.681778 -73.97989
      station_id             station_name        lat        lng
399      5267.08  Grand St & Havemeyer St  40.712868 -73.956981
1616     5267.08  Grand St & Havemeyer St  40.712868 -73.956981
      station_id     station_name      lat        lng
36       6407.07  W 33 St & 7 Ave  40.7502 -73.990931
1618     6407.07  W 33 St & 7 Ave  40.7502 -73.990931
      station_id      station_name        lat        lng
609      7611.02  E 118 St & 3 Ave  40.799139 -73.938915
1620     7611.02  E 118 St & 3 Ave  40.799139 -73.938915
      station_id            station_name        lat        lng
286      5137.11  Fulton St & William St  40.709601 -74.006551
1622     5137.11  Fulton St & William St  40.709601 -74.006551
      station_id            station_name        lat        lng
32       5216.04  Barclay St & Church St  40.712912 -74.010202
1623     5216.04  Barclay St & Church St  40.712912 -74.010202
      station_id           station_name        lat        lng
43       6131.12  Madison Ave & E 26 St  40.742685 -73.986713
1625     6131.12  Madison Ave & E 26 St  40.742685 -73.986713
      station_id     station_name        lat        lng
830      7092.06  E 77 St & 3 Ave  40.773142 -73.958562
1626     7092.06  E 77 St & 3 Ave  40.773142 -73.958562
      station_id     station_name        lat        lng
469      7028.04  3 Ave & E 72 St  40.769943 -73.960607
1627     7028.04  3 Ave & E 72 St  40.769943 -73.960607
      station_id              station_name        lat        lng
1530     7719.13  Southern Blvd & E 142 St  40.807347 -73.908098
1628     7719.13  Southern Blvd & E 142 St  40.807347 -73.908098
      station_id     station_name        lat       lng
527      5971.08  E 20 St & 2 Ave  40.735877 -73.98205
1631     5971.08  E 20 St & 2 Ave  40.735877 -73.98205
      station_id     station_name        lat        lng
622      6030.06  W 15 St & 7 Ave  40.739355 -73.999318
1633     6030.06  W 15 St & 7 Ave  40.739355 -73.999318
2176     6030.06  W 15 St & 7 Ave  40.780578 -73.985624
      station_id              station_name        lat        lng
115      5430.08  Franklin St & W Broadway  40.719116 -74.006667
1636     5430.08  Franklin St & W Broadway  40.719116 -74.006667
      station_id        station_name        lat        lng
508      5575.13  Avenue D & E 10 St  40.725066 -73.975158
1637     5575.13  Avenue D & E 10 St  40.725066 -73.975158
      station_id     station_name        lat        lng
59       6474.11  E 40 St & 5 Ave  40.752062 -73.981632
1639     6474.11  E 40 St & 5 Ave  40.752062 -73.981632
      station_id           station_name        lat        lng
423      5788.13  Lafayette St & E 8 St  40.730207 -73.991026
1640     5788.13  Lafayette St & E 8 St  40.730207 -73.991026
      station_id        station_name        lat        lng
310      6569.08  W 35 St & Dyer Ave  40.754692 -73.997402
1641     6569.08  W 35 St & Dyer Ave  40.754692 -73.997402
      station_id      station_name        lat        lng
620      6926.01  W 52 St & 11 Ave  40.767272 -73.993929
1646     6926.01  W 52 St & 11 Ave  40.767272 -73.993929
      station_id     station_name        lat        lng
420      7020.09  1 Ave & E 78 St  40.771404 -73.953517
1648     7020.09  1 Ave & E 78 St  40.771404 -73.953517
      station_id                 station_name        lat        lng
13       4996.08  McKibbin St & Manhattan Ave  40.705109 -73.944073
1649     4996.08  McKibbin St & Manhattan Ave  40.705109 -73.944073
      station_id     station_name        lat        lng
123      6422.09  E 44 St & 2 Ave  40.751184 -73.971387
1652     6422.09  E 44 St & 2 Ave  40.751184 -73.971387
      station_id         station_name       lat      lng
283      5561.04  Mott St & Prince St  40.72318 -73.9948
1653     5561.04  Mott St & Prince St  40.72318 -73.9948
      station_id           station_name        lat        lng
303       5137.1  Spruce St & Nassau St  40.711464 -74.005524
1657      5137.1  Spruce St & Nassau St  40.711464 -74.005524
      station_id            station_name        lat        lng
426      5125.07  Broadway & Roebling St  40.709248 -73.960631
1659     5125.07  Broadway & Roebling St  40.709248 -73.960631
      station_id      station_name        lat        lng
391      6890.01  W 53 St & 10 Ave  40.766697 -73.990617
1662     6890.01  W 53 St & 10 Ave  40.766697 -73.990617
      station_id   station_name        lat        lng
97       5794.05  India St Pier  40.731735 -73.961239
1663     5794.05  India St Pier  40.731735 -73.961239
      station_id       station_name        lat        lng
850      5489.03  Kent Ave & N 7 St  40.720368 -73.961651
1664     5489.03  Kent Ave & N 7 St  40.720368 -73.961651
      station_id     station_name        lat       lng
742      6753.08  1 Ave & E 62 St  40.761227 -73.96094
1665     6753.08  1 Ave & E 62 St  40.761227 -73.96094
      station_id           station_name       lat        lng
900      5721.14  LaGuardia Pl & W 3 St  40.72917 -73.998102
1667     5721.14  LaGuardia Pl & W 3 St  40.72917 -73.998102
      station_id               station_name        lat        lng
78       5721.07  Thompson St & Bleecker St  40.728401 -73.999688
1668     5721.07  Thompson St & Bleecker St  40.728401 -73.999688
      station_id     station_name        lat        lng
186       6960.1  3 Ave & E 71 St  40.768737 -73.961199
1672      6960.1  3 Ave & E 71 St  40.768737 -73.961199
      station_id     station_name       lat        lng
55       7154.07  E 81 St & 3 Ave  40.77573 -73.956753
1673     7154.07  E 81 St & 3 Ave  40.77573 -73.956753
      station_id     station_name        lat       lng
75       4546.05  Washington Park  40.691782 -73.97373
1674     4546.05  Washington Park  40.691782 -73.97373
      station_id       station_name        lat        lng
604      4193.14  1 Pl & Clinton St  40.680959 -73.999057
1676     4193.14  1 Pl & Clinton St  40.680959 -73.999057
      station_id          station_name        lat        lng
131      6179.07  Center Blvd & 51 Ave  40.743366 -73.959607
1677     6179.07  Center Blvd & 51 Ave  40.743366 -73.959607
      station_id             station_name        lat        lng
385      5445.02  Suffolk St & Stanton St  40.720664 -73.985180
1678     5445.02  Suffolk St & Stanton St  40.720664 -73.985180
2155     5445.02  Suffolk St & Stanton St  40.720664 -73.985179
      station_id                station_name        lat        lng
343      5453.01  Rivington St & Chrystie St  40.721101 -73.991925
1679     5453.01  Rivington St & Chrystie St  40.721101 -73.991925
      station_id      station_name        lat        lng
611      4895.09  Jay St & York St  40.701403 -73.986727
1680     4895.09  Jay St & York St  40.701403 -73.986727
      station_id     station_name        lat        lng
463      6626.01  E 48 St & 5 Ave  40.757246 -73.978059
1681     6626.01  E 48 St & 5 Ave  40.757246 -73.978059
      station_id     station_name        lat        lng
1158     6566.01  Southpoint Park  40.753702 -73.958652
1682     6566.01  Southpoint Park  40.753702 -73.958652
      station_id      station_name        lat       lng
564      6382.05  W 26 St & 10 Ave  40.749718 -74.00295
1683     6382.05  W 26 St & 10 Ave  40.749718 -74.00295
      station_id             station_name        lat        lng
345      6233.05  W 16 St & The High Line  40.743349 -74.006818
1684     6233.05  W 16 St & The High Line  40.743349 -74.006818
      station_id         station_name        lat        lng
640      3978.13  Garfield Pl & 8 Ave  40.671198 -73.974841
1685     3978.13  Garfield Pl & 8 Ave  40.671198 -73.974841
      station_id                station_name        lat        lng
157       4157.1  Bergen St & Vanderbilt Ave  40.679439 -73.968044
1686      4157.1  Bergen St & Vanderbilt Ave  40.679439 -73.968044
      station_id              station_name        lat        lng
865      4319.07  Halsey St & Tompkins Ave  40.682369 -73.944118
1687     4319.07  Halsey St & Tompkins Ave  40.682369 -73.944118
      station_id        station_name        lat        lng
298      6998.08  E 72 St & Park Ave  40.771183 -73.964094
1690     6998.08  E 72 St & Park Ave  40.771183 -73.964094
      station_id   station_name        lat      lng
159      6137.04  5 St & 51 Ave  40.742374 -73.9566
1692     6137.04  5 St & 51 Ave  40.742374 -73.9566
      station_id                    station_name        lat        lng
1240     7741.04  Morningside Dr & Amsterdam Ave  40.810285 -73.957365
1693     7741.04  Morningside Dr & Amsterdam Ave  40.810285 -73.957365
      station_id            station_name     lat        lng
231      7382.04  W 84 St & Columbus Ave  40.785 -73.972834
1694     7382.04  W 84 St & Columbus Ave  40.785 -73.972834
      station_id               station_name       lat        lng
575      7577.27  Central Park W & W 103 St  40.79559 -73.961884
1695     7577.27  Central Park W & W 103 St  40.79559 -73.961884
      station_id     station_name        lat        lng
1180     6464.08  E 45 St & 3 Ave  40.752554 -73.972826
1697     6464.08  E 45 St & 3 Ave  40.752554 -73.972826
      station_id                     station_name        lat        lng
624      4656.03  Pulaski St & Marcus Garvey Blvd  40.693398 -73.939877
1698     4656.03  Pulaski St & Marcus Garvey Blvd  40.693398 -73.939877
      station_id           station_name        lat        lng
180      5838.09  Washington Pl & 6 Ave  40.732241 -74.000264
1699     5838.09  Washington Pl & 6 Ave  40.732241 -74.000264
      station_id                   station_name        lat        lng
354      4665.02  Willoughby Ave & Tompkins Ave  40.694254 -73.946269
1701     4665.02  Willoughby Ave & Tompkins Ave  40.694254 -73.946269
      station_id            station_name        lat        lng
162      5382.07  Forsyth St\t& Grand St  40.717798 -73.993161
1702     5382.07  Forsyth St\t& Grand St  40.717798 -73.993161
      station_id station_name        lat        lng
1044     6814.01    Motorgate  40.763909 -73.947721
1703     6814.01    Motorgate  40.763909 -73.947721
      station_id     station_name        lat        lng
54       6004.07  E 25 St & 1 Ave  40.738177 -73.977387
1704     6004.07  E 25 St & 1 Ave  40.738177 -73.977387
      station_id     station_name        lat        lng
284      6416.06  W 29 St & 9 Ave  40.750073 -73.998393
1705     6416.06  W 29 St & 9 Ave  40.750073 -73.998393
      station_id          station_name        lat       lng
623      5406.04  Pitt St & Stanton St  40.719261 -73.98178
1706     5406.04  Pitt St & Stanton St  40.719261 -73.98178
      station_id               station_name        lat        lng
356      4095.03  Van Brunt St & Wolcott St  40.677343 -74.012751
1709     4095.03  Van Brunt St & Wolcott St  40.677343 -74.012751
      station_id        station_name        lat        lng
550      6584.12  E 47 St & Park Ave  40.755103 -73.974987
1710     6584.12  E 47 St & Park Ave  40.755103 -73.974987
      station_id     station_name        lat       lng
287      7286.05  1 Ave & E 94 St  40.781721 -73.94594
1711     7286.05  1 Ave & E 94 St  40.781721 -73.94594
      station_id          station_name        lat        lng
208      5004.02  Boerum St & Broadway  40.705381 -73.949765
1712     5004.02  Boerum St & Broadway  40.705381 -73.949765
      station_id         station_name        lat        lng
566      4993.13  Old Slip & South St  40.703367 -74.007868
1713     4993.13  Old Slip & South St  40.703367 -74.007868
      station_id     station_name       lat        lng
759      6140.05  W 21 St & 6 Ave  40.74174 -73.994156
1715     6140.05  W 21 St & 6 Ave  40.74174 -73.994156
      station_id   station_name        lat        lng
509      3731.11  14 St & 7 Ave  40.663779 -73.983968
1716     3731.11  14 St & 7 Ave  40.663779 -73.983968
      station_id             station_name        lat        lng
540      5414.06  Allen St & Rivington St  40.720196 -73.989978
1718     5414.06  Allen St & Rivington St  40.720196 -73.989978
      station_id          station_name       lat        lng
529       5359.1  Hudson St & Reade St  40.71625 -74.009106
1719      5359.1  Hudson St & Reade St  40.71625 -74.009106
      station_id               station_name        lat        lng
714      7680.03  Cathedral Pkwy & Broadway  40.804213 -73.966991

1842     6605.08  34 St & 35 Ave  40.756933 -73.926223
      station_id             station_name        lat        lng
1034     6659.01  E 51 St & Lexington Ave  40.757148 -73.972078
1843     6659.01  E 51 St & Lexington Ave  40.757148 -73.972078
      station_id     station_name        lat        lng
351      6762.02  E 58 St & 3 Ave  40.760958 -73.967245
1844     6762.02  E 58 St & 3 Ave  40.760958 -73.967245
      station_id             station_name       lat        lng
1350     5400.05  Harrison St & Hudson St  40.71871 -74.009001
1845     5400.05  Harrison St & Hudson St  40.71871 -74.009001
      station_id             station_name       lat        lng
173      7207.08  W 70 St & Amsterdam Ave  40.77748 -73.982886
1846     7207.08  W 70 St & Amsterdam Ave  40.77748 -73.982886
      station_id           station_name        lat        lng
1193     5805.05  Barrow St & Hudson St  40.731724 -74.006744
1847     5805.05  Barrow St & Hudson St  40.731724 -74.006744
      station_id      station_name        lat        lng
1005     6611.02  W 37 St & 10 Ave  40.756604 -73.997901
1848     6611.02  W 37 St & 10 Ave  40.756604 -73.997901
      station_id                  station_name        lat        lng
570      7606.01  W 106 St & Central Park West  40.798186 -73.960591
1849     7606.01  W 106 St & Central Park West  40.798186 -73.960591
      station_id                        station_name        lat        lng
443      7658.13  Frederick Douglass Blvd & W 115 St  40.803865 -73.955931
1850     7658.13  Frederick Douglass Blvd & W 115 St  40.803865 -73.955931
      station_id            station_name        lat        lng
1248     7432.09  W 89 St & Columbus Ave  40.788221 -73.970416
1851     7432.09  W 89 St & Columbus Ave  40.788221 -73.970416
      station_id       station_name       lat        lng
1203     6743.06  Newton Rd & 44 St  40.75957 -73.914268
1852     6743.06  Newton Rd & 44 St  40.75957 -73.914268
      station_id     station_name        lat       lng
1031     7286.01  E 91 St & 2 Ave  40.781153 -73.94963
1853     7286.01  E 91 St & 2 Ave  40.781153 -73.94963
2095     7286.01  E 91 St & 2 Ave  40.781152 -73.94963
      station_id      station_name        lat      lng
937      7522.02  1 Ave & E 110 St  40.792327 -73.9383
1854     7522.02  1 Ave & E 110 St  40.792327 -73.9383
      station_id                station_name        lat        lng
793      4565.04  Schermerhorn St & Court St  40.691029 -73.991834
1855     4565.04  Schermerhorn St & Court St  40.691029 -73.991834
      station_id          station_name        lat        lng
1093     4077.07  Court St & Nelson St  40.676395 -73.998699
1859     4077.07  Court St & Nelson St  40.676395 -73.998699
      station_id         station_name        lat        lng
325      8018.09  W 146 St & Broadway  40.826969 -73.949738
1860     8018.09  W 146 St & Broadway  40.829114 -73.950426
      station_id    station_name        lat       lng
147      7047.07  35 St & 23 Ave  40.773015 -73.91119
1861     7047.07  35 St & 23 Ave  40.773015 -73.91119
      station_id     station_name        lat        lng
187      6345.08  E 39 St & 2 Ave  40.748033 -73.973828
1862     6345.08  E 39 St & 2 Ave  40.748033 -73.973828
      station_id     station_name        lat        lng
314       7386.1  2 Ave & E 99 St  40.786259 -73.945526
1863      7386.1  2 Ave & E 99 St  40.786259 -73.945526
      station_id        station_name       lat        lng
1317     7541.01  W 95 St & Broadway  40.79377 -73.971888
1864     7541.01  W 95 St & Broadway  40.79377 -73.971888
      station_id                 station_name        lat        lng
395      4461.04  DeKalb Ave & Vanderbilt Ave  40.689407 -73.968855
1865     4461.04  DeKalb Ave & Vanderbilt Ave  40.689407 -73.968855
      station_id     station_name        lat        lng
397      6717.06  9 Ave & W 45 St  40.760193 -73.991255
1866     6717.06  9 Ave & W 45 St  40.760193 -73.991255
      station_id         station_name        lat       lng
153       5669.1  St Marks Pl & 2 Ave  40.728419 -73.98714
1867      5669.1  St Marks Pl & 2 Ave  40.728419 -73.98714
      station_id     station_name        lat        lng
587      7057.07  E 78 St & 2 Ave  40.772797 -73.955778
1868     7057.07  E 78 St & 2 Ave  40.772797 -73.955778
      station_id                station_name      lat        lng
206      5365.02  Columbia St & Rivington St  40.7174 -73.980166
1869     5365.02  Columbia St & Rivington St  40.7174 -73.980166
      station_id         station_name        lat        lng
1309     8507.02  Dyckman St & 10 Ave  40.858904 -73.923094
1870     8507.02  Dyckman St & 10 Ave  40.858904 -73.923094
      station_id                station_name        lat        lng
985      4205.06  Kingston Ave & Herkimer St  40.678907 -73.941428
1871     4205.06  Kingston Ave & Herkimer St  40.678907 -73.941428
      station_id    station_name        lat       lng
899      6850.01  38 St & 30 Ave  40.764175 -73.91584
1872     6850.01  38 St & 30 Ave  40.764175 -73.91584
      station_id            station_name        lat        lng
1337     7599.02  E 115 St & Madison Ave  40.798944 -73.944846
1873     7599.02  E 115 St & Madison Ave  40.798945 -73.944846
      station_id            station_name        lat        lng
1209     5755.14  University Pl & E 8 St  40.731437 -73.994903
1874     5755.14  University Pl & E 8 St  40.731437 -73.994903
      station_id     station_name       lat        lng
227      6650.08  2 Ave & E 55 St  40.75792 -73.966382
1875     6650.08  2 Ave & E 55 St  40.75792 -73.966382
      station_id     station_name        lat        lng
637      6925.09  2 Ave & E 72 St  40.768762 -73.958408
1876     6925.09  2 Ave & E 72 St  40.768762 -73.958408
      station_id     station_name        lat        lng
499      6650.07  E 55 St & 2 Ave  40.757973 -73.966033
1877     6650.07  E 55 St & 2 Ave  40.757973 -73.966033
      station_id                station_name        lat        lng
319      4042.08  Underhill Ave & Lincoln Pl  40.674012 -73.967146
1878     4042.08  Underhill Ave & Lincoln Pl  40.674012 -73.967146
      station_id       station_name        lat        lng
493      5379.09  Berry St & N 8 St  40.719009 -73.958525
1879     5379.09  Berry St & N 8 St  40.719010 -73.958525
      station_id     station_name        lat       lng
836      7286.02  E 93 St & 2 Ave  40.782454 -73.94892
1882     7286.02  E 93 St & 2 Ave  40.782454 -73.94892
      station_id     station_name        lat        lng
266      6762.04  3 Ave & E 62 St  40.763126 -73.965269
1883     6762.04  3 Ave & E 62 St  40.763126 -73.965269
      station_id            station_name        lat        lng
439      4362.04  Pacific St & Nevins St  40.685376 -73.983021
1884     4362.04  Pacific St & Nevins St  40.685376 -73.983021
      station_id            station_name        lat        lng
1083     4645.09  Hicks St & Montague St  40.695128 -73.995951
1885     4645.09  Hicks St & Montague St  40.695128 -73.995951
      station_id  station_name        lat        lng
263      4028.03  3 St & 3 Ave  40.675070 -73.987752
1886     4028.03  3 St & 3 Ave  40.675071 -73.987752
      station_id                        station_name        lat        lng
962      7795.09  Frederick Douglass Blvd & W 129 St  40.812551 -73.949229
1887     7795.09  Frederick Douglass Blvd & W 129 St  40.812551 -73.949229
      station_id          station_name        lat        lng
237      5065.12  William St & Pine St  40.707179 -74.008873
1888     5065.12  William St & Pine St  40.707179 -74.008873
      station_id        station_name        lat        lng
348      5659.11  E 11 St & Avenue B  40.727464 -73.979504
1889     5659.11  E 11 St & Avenue B  40.727464 -73.979504
      station_id          station_name        lat        lng
1371      5342.1  Allen St & Hester St  40.716059 -73.991908
1890      5342.1  Allen St & Hester St  40.716059 -73.991908
      station_id     station_name        lat        lng
691      5914.03  W 11 St & 6 Ave  40.735324 -73.998004
1891     5914.03  W 11 St & 6 Ave  40.735324 -73.998004
      station_id        station_name        lat        lng
646      6932.14  E 67 St & Park Ave  40.767801 -73.965921
1892     6932.14  E 67 St & Park Ave  40.767801 -73.965921
      station_id          station_name        lat        lng
766      4119.04  Clinton St & 4 Place  40.678356 -74.000145
1893     4119.04  Clinton St & 4 Place  40.678356 -74.000145
      station_id             station_name     lat        lng
918      8631.03  Decatur Ave & Oliver Pl  40.867 -73.885776
1894     8631.03  Decatur Ave & Oliver Pl  40.867 -73.885776
      station_id         station_name        lat        lng
1273     7783.18  Broadway & W 122 St  40.812056 -73.961255
1895     7783.18  Broadway & W 122 St  40.812056 -73.961255
      station_id                 station_name        lat        lng
654      5721.01  Sullivan St & Washington Sq  40.730477 -73.999061
1896     5721.01  Sullivan St & Washington Sq  40.730477 -73.999061
      station_id         station_name        lat        lng
916      4166.08  Prospect Pl & 6 Ave  40.679331 -73.975195
1897     4166.08  Prospect Pl & 6 Ave  40.679331 -73.975195
      station_id     station_name       lat       lng
1316     6740.01  W 52 St & 6 Ave  40.76133 -73.97982
1898     6740.01  W 52 St & 6 Ave  40.76133 -73.97982
      station_id    station_name      lat        lng
602      6857.09  31 Ave & 30 St  40.7647 -73.924031
1899     6857.09  31 Ave & 30 St  40.7647 -73.924031
      station_id           station_name        lat        lng
355      4124.04  Verona Pl & Fulton St  40.680356 -73.947679
1900     4124.04  Verona Pl & Fulton St  40.680356 -73.947679
      station_id     station_name        lat        lng
406      6364.07  6 Ave & W 33 St  40.749013 -73.988484
1902     6364.07  6 Ave & W 33 St  40.749013 -73.988484
      station_id       station_name        lat        lng
295      5436.09  Avenue D & E 3 St  40.720828 -73.977932
1903     5436.09  Avenue D & E 3 St  40.720828 -73.977932
      station_id              station_name       lat        lng
812      4611.03  Willoughby Ave & Hall St  40.69196 -73.965369
1905     4611.03  Willoughby Ave & Hall St  40.69196 -73.965369
      station_id             station_name        lat        lng
1037     5550.09  Leonard St & Nassau Ave  40.723957 -73.949844
1906     5550.09  Leonard St & Nassau Ave  40.723957 -73.949844
      station_id            station_name        lat        lng
292      5105.09  Liberty St & Nassau St  40.708589 -74.009355
1907     5105.09  Liberty St & Nassau St  40.708589 -74.009355
      station_id     station_name        lat        lng
379      6896.16  E 68 St & 3 Ave  40.767128 -73.962246
1908     6896.16  E 68 St & 3 Ave  40.767128 -73.962246
      station_id                   station_name        lat        lng
630      4428.02  Cumberland St & Lafayette Ave  40.687534 -73.972652
1909     4428.02  Cumberland St & Lafayette Ave  40.687534 -73.972652
      station_id            station_name        lat        lng
841      4033.06  Park Pl & Franklin Ave  40.674181 -73.956495
1910     4033.06  Park Pl & Franklin Ave  40.674181 -73.956495
      station_id       station_name        lat        lng
485      4446.05  Dean St & Hoyt St  40.686444 -73.987591
1911     4446.05  Dean St & Hoyt St  40.686444 -73.987591
      station_id          station_name        lat        lng
363      4380.08  Henry St & Degraw St  40.684751 -73.999173
1912     4380.08  Henry St & Degraw St  40.684751 -73.999173
      station_id          station_name        lat        lng
1041     6131.13  E 27 St & Park Ave S  40.742752 -73.984716
1913     6131.13  E 27 St & Park Ave S  40.742752 -73.984716
      station_id             station_name        lat        lng
1413     4748.07  Clinton St & Tillary St  40.696233 -73.991421
1914     4748.07  Clinton St & Tillary St  40.696233 -73.991421
      station_id   station_name        lat        lng
533      3842.08  10 St & 5 Ave  40.668627 -73.987001
1915     3842.08  10 St & 5 Ave  40.668627 -73.987001
      station_id              station_name        lat      lng
524      7636.05  E 123 St & Lexington Ave  40.802926 -73.9379
1916     7636.05  E 123 St & Lexington Ave  40.802926 -73.9379
      station_id                   station_name        lat        lng
429      5300.05  Metropolitan Ave & Meeker Ave  40.714133 -73.952344
1917     5300.05  Metropolitan Ave & Meeker Ave  40.714133 -73.952344
      station_id        station_name        lat        lng
799      5062.01  Kent Ave & S 11 St  40.707645 -73.968415
1918     5062.01  Kent Ave & S 11 St  40.707645 -73.968415
2185     5062.01  Kent Ave & S 11 St  40.707644 -73.968415
      station_id           station_name        lat        lng
195      6237.01  47 Ave & Skillman Ave  40.743752 -73.941765
1919     6237.01  47 Ave & Skillman Ave  40.743752 -73.941765
      station_id                station_name        lat        lng
377      5108.01  Scholes St & Manhattan Ave  40.708704 -73.944862
1920     5108.01  Scholes St & Manhattan Ave  40.708704 -73.944863
      station_id station_name        lat        lng
1511     5181.04    Cherry St  40.712199 -73.979481
1921     5181.04    Cherry St  40.712199 -73.979481
      station_id          station_name        lat        lng
731      4298.05  Degraw St & Smith St  40.682915 -73.993182
1922     4298.05  Degraw St & Smith St  40.682915 -73.993182
      station_id              station_name        lat        lng
1115     4700.06  Park Ave & St Edwards St  40.696089 -73.978034
1923     4700.06  Park Ave & St Edwards St  40.696089 -73.978034
      station_id       station_name        lat       lng
128      4086.06  Henry St & W 9 St  40.676374 -74.00325
1925     4086.06  Henry St & W 9 St  40.676374 -74.00325
      station_id             station_name       lat        lng
60       5190.07  Madison St & Clinton St  40.71269 -73.987763
1928     5190.07  Madison St & Clinton St  40.71269 -73.987763
      station_id              station_name        lat        lng
941      5128.04  Catherine St & Monroe St  40.711174 -73.996826
1929     5128.04  Catherine St & Monroe St  40.711174 -73.996826
      station_id                 station_name       lat        lng
1336      5854.1  Stuyvesant Walk & 1 Av Loop  40.73234 -73.978984
1930      5854.1  Stuyvesant Walk & 1 Av Loop  40.73234 -73.978984
      station_id          station_name        lat        lng
569      4413.08  Warren St & Court St  40.686371 -73.993833
1931     4413.08  Warren St & Court St  40.686371 -73.993833
      station_id                 station_name      lat        lng
1375     6700.14  W 51 St & Rockefeller Plaza  40.7597 -73.978082
1932     6700.14  W 51 St & Rockefeller Plaza  40.7597 -73.978082
      station_id             station_name        lat        lng
1054     3125.09  Ocean Pkwy & Church Ave  40.644719 -73.974515
1933     3125.09  Ocean Pkwy & Church Ave  40.644719 -73.974515
      station_id             station_name        lat        lng
160      5847.06  W 10 St & Washington St  40.733424 -74.008515
1934     5847.06  W 10 St & Washington St  40.733424 -74.008515
      station_id       station_name        lat        lng
1024     5584.04  E 6 St & Avenue B  40.724537 -73.981854
1935     5584.04  E 6 St & Avenue B  40.724537 -73.981854
      station_id    station_name        lat       lng
46       5636.11  Great Jones St  40.727434 -73.99379
1936     5636.11  Great Jones St  40.727434 -73.99379
      station_id  station_name        lat        lng
541      3905.15  3 St & 7 Ave  40.670384 -73.978397
1937     3905.15  3 St & 7 Ave  40.670384 -73.978397
      station_id     station_name        lat        lng
346      5854.09  1 Ave & E 18 St  40.733812 -73.980544
1938     5854.09  1 Ave & E 18 St  40.733812 -73.980544
      station_id       station_name        lat       lng
674      4208.11  Baltic St & 5 Ave  40.679577 -73.97855
1939     4208.11  Baltic St & 5 Ave  40.679577 -73.97855
      station_id            station_name       lat        lng
797      4045.01  Clinton St & Centre St  40.67434 -74.001947
1940     4045.01  Clinton St & Centre St  40.67434 -74.001947
      station_id           station_name        lat       lng
181      5303.06  Clinton St & Grand St  40.715595 -73.98703
1941     5303.06  Clinton St & Grand St  40.715595 -73.98703
      station_id        station_name        lat        lng
1576      7293.1  E 88 St & Park Ave  40.781411 -73.955959
1942      7293.1  E 88 St & Park Ave  40.781411 -73.955959
      station_id             station_name        lat        lng
103      5403.04  Graham Ave & Withers St  40.716981 -73.944859
1943     5403.04  Graham Ave & Withers St  40.716981 -73.944859
      station_id         station_name        lat        lng
1088     4217.02  Douglass St & 3 Ave  40.680213 -73.984327
1944     4217.02  Douglass St & 3 Ave  40.680213 -73.984327
      station_id  station_name        lat       lng
700      3996.01  7 St & 3 Ave  40.672603 -73.98983
1945     3996.01  7 St & 3 Ave  40.672603 -73.98983
      station_id         station_name        lat        lng
889       4404.1  Bond St & Bergen St  40.684967 -73.986208
1947      4404.1  Bond St & Bergen St  40.684967 -73.986208
      station_id     station_name        lat        lng
579      4077.04  Smith St & 9 St  40.674696 -73.997858
1948     4077.04  Smith St & 9 St  40.674696 -73.997858
      station_id          station_name        lat        lng
1465     5270.05  Pike St & E Broadway  40.714067 -73.992939
1949     5270.05  Pike St & E Broadway  40.714067 -73.992939
      station_id  station_name        lat        lng
521       3834.1  6 St & 7 Ave  40.668663 -73.979881
1950      3834.1  6 St & 7 Ave  40.668663 -73.979881
      station_id          station_name        lat        lng
1321     8732.04  W 218 St & Indian Rd  40.873055 -73.918372
1951     8732.04  W 218 St & Indian Rd  40.873055 -73.918372
      station_id     station_name        lat      lng
475      5788.12  E 12 St & 3 Ave  40.732233 -73.9889
1952     5788.12  E 12 St & 3 Ave  40.732233 -73.9889
      station_id            station_name        lat        lng
902      3879.04  Union St & Bedford Ave  40.669178 -73.955416
1953     3879.04  Union St & Bedford Ave  40.669178 -73.955416
      station_id            station_name        lat        lng
127      5167.06  St James Pl & Pearl St  40.711174 -74.000165
1954     5167.06  St James Pl & Pearl St  40.711174 -74.000165
      station_id             station_name        lat        lng
595      5400.08  Duane St & Greenwich St  40.717488 -74.010455
1955     5400.08  Duane St & Greenwich St  40.717488 -74.010455
      station_id               station_name        lat        lng
536      3665.06  Sterling St & Bedford Ave  40.662706 -73.956912
1956     3665.06  Sterling St & Bedford Ave  40.662706 -73.956912
      station_id      station_name        lat        lng
642      6670.03  43 St & Broadway  40.757728 -73.916637
1957     6670.03  43 St & Broadway  40.757728 -73.916637
      station_id           station_name        lat      lng
747      5303.08  Canal St & Rutgers St  40.714275 -73.9899
1958     5303.08  Canal St & Rutgers St  40.714275 -73.9899
      station_id                 station_name        lat        lng
323       7756.1  St. Nicholas Ave & W 126 St  40.811432 -73.951878
1959      7756.1  St. Nicholas Ave & W 126 St  40.811432 -73.951878
      station_id                station_name        lat       lng
881      4231.04  Underhill Ave & Pacific St  40.680484 -73.96468
1960     4231.04  Underhill Ave & Pacific St  40.680484 -73.96468
      station_id              station_name        lat        lng
64       4677.06  Montague St & Clinton St  40.694271 -73.992327
1961     4677.06  Montague St & Clinton St  40.694272 -73.992327
      station_id   station_name        lat        lng
983      7098.05  27 Ave & 9 St  40.773983 -73.930913
1962     7098.05  27 Ave & 9 St  40.773983 -73.930913

      station_id                  station_name        lat        lng
1393     4553.04  Kosciuszko St & Tompkins Ave  40.691283 -73.945242
2059     4553.04  Kosciuszko St & Tompkins Ave  40.691283 -73.945242
      station_id    station_name        lat        lng
910      6679.11  35 St & 34 Ave  40.758058 -73.924275
2060     6679.11  35 St & 34 Ave  40.758058 -73.924275
      station_id         station_name        lat        lng
117      7903.02  Broadway & W 133 St  40.819034 -73.956156
2061     7903.02  Broadway & W 133 St  40.819034 -73.956156
      station_id           station_name       lat        lng
1095     6495.17  31 St & Northern Blvd  40.75187 -73.933493
2062     6495.17  31 St & Northern Blvd  40.75187 -73.933493
      station_id    station_name        lat        lng
1449     6798.01  34 Ave & 21 St  40.762814 -73.934286
2063     6798.01  34 Ave & 21 St  40.762814 -73.934286
      station_id          station_name        lat        lng
1042     5065.04  John St & William St  40.708621 -74.007222
2064     5065.04  John St & William St  40.708621 -74.007222
      station_id              station_name        lat        lng
1364     4818.03  Union Ave & Wallabout St  40.700295 -73.950323
2065     4818.03  Union Ave & Wallabout St  40.700295 -73.950323
      station_id              station_name        lat        lng
124       4455.1  Congress St & Clinton St  40.688255 -73.995452
2066      4455.1  Congress St & Clinton St  40.688255 -73.995452
      station_id    station_name        lat        lng
869      6395.01  21 St & 43 Ave  40.750525 -73.945948
2067     6395.01  21 St & 43 Ave  40.750525 -73.945948
      station_id       station_name        lat        lng
528       5553.1  E 2 St & Avenue A  40.723077 -73.985836
2068      5553.1  E 2 St & Avenue A  40.723077 -73.985836
      station_id            station_name        lat       lng
842      5148.03  Leonard St & Maujer St  40.710369 -73.94706
2069     5148.03  Leonard St & Maujer St  40.710369 -73.94706
      station_id              station_name        lat       lng
1655     4255.05  Hancock St & Bedford Ave  40.682166 -73.95399
2070     4255.05  Hancock St & Bedford Ave  40.682166 -73.95399
      station_id          station_name        lat        lng
695      6958.06  Crescent St & 30 Ave  40.768692 -73.924957
2071     6958.06  Crescent St & 30 Ave  40.768692 -73.924957
2179     6958.06  Crescent St & 30 Ave  40.770374 -73.928607
      station_id    station_name        lat       lng
931      7186.15  19 St & 24 Ave  40.777455 -73.92254
2072     7186.15  19 St & 24 Ave  40.777455 -73.92254
      station_id         station_name        lat        lng
5        7026.08  Newtown Ave & 23 St  40.771361 -73.924615
2073     7026.08  Newtown Ave & 23 St  40.771362 -73.924615
      station_id          station_name        lat        lng
994      6989.07  31 St & Astoria Blvd  40.769918 -73.918406
2074     6989.07  31 St & Astoria Blvd  40.769918 -73.918406
      station_id         station_name        lat       lng
414      5922.08  Bank St & Hudson St  40.736529 -74.00618
2075     5922.08  Bank St & Hudson St  40.736529 -74.00618
      station_id    station_name        lat        lng
927      7144.01  31 St & 23 Ave  40.774788 -73.912555
2076     7144.01  31 St & 23 Ave  40.774788 -73.912555
      station_id                station_name        lat        lng
610      4074.03  Classon Ave & St Marks Ave  40.676520 -73.959608
1809     4074.03  Classon Ave & St Marks Ave  40.676519 -73.959608
2077     4074.03  Classon Ave & St Marks Ave  40.676520 -73.959608
      station_id         station_name        lat        lng
250      4330.09  Hoyt St & Warren St  40.684355 -73.989016
2078     4330.09  Hoyt St & Warren St  40.684355 -73.989016
      station_id     station_name        lat        lng
643      7338.02  2 Ave & E 96 St  40.783964 -73.947167
2079     7338.02  2 Ave & E 96 St  40.783964 -73.947167
      station_id     station_name        lat        lng
805       7265.1  E 89 St & 3 Ave  40.780628 -73.952167
2080      7265.1  E 89 St & 3 Ave  40.780628 -73.952167
      station_id           station_name        lat        lng
1509     7443.01  Madison Ave & E 99 St  40.789485 -73.952429
2081     7443.01  Madison Ave & E 99 St  40.789485 -73.952429
      station_id       station_name        lat        lng
1451     5545.04  E 5 St & Avenue C  40.722992 -73.979955
2082     5545.04  E 5 St & Avenue C  40.722992 -73.979955
      station_id               station_name       lat        lng
730      8748.02  E Mosholu Pkwy & E 204 St  40.87407 -73.883365
2083     8748.02  E Mosholu Pkwy & E 204 St  40.87407 -73.883365
      station_id              station_name        lat        lng
447      7567.06  Lexington Ave & E 111 St  40.795412 -73.944123
2084     7567.06  Lexington Ave & E 111 St  40.795412 -73.944123
      station_id         station_name        lat        lng
111      6212.08  Vernon Blvd & 47 Rd  40.744907 -73.953457
2085     6212.08  Vernon Blvd & 47 Rd  40.744907 -73.953457
      station_id                station_name        lat        lng
142      8021.11  Grand Concourse & E 161 St  40.827134 -73.922736
2086     8021.11  Grand Concourse & E 161 St  40.827134 -73.922736
      station_id         station_name        lat        lng
1218     6514.08  Vernon Blvd & 41 Rd  40.755243 -73.948568
2087     6514.08  Vernon Blvd & 41 Rd  40.755243 -73.948568
      station_id          station_name        lat        lng
901       5379.1  N 6 St & Bedford Ave  40.717452 -73.958509
2088      5379.1  N 6 St & Bedford Ave  40.717452 -73.958509
      station_id    station_name        lat        lng
145       5872.1  E 9 St & 5 Ave  40.732759 -73.995817
2089      5872.1  E 9 St & 5 Ave  40.732758 -73.995816
2198      5872.1  E 9 St & 5 Ave  40.732759 -73.995817
      station_id      station_name        lat        lng
996      7436.11  2 Ave & E 104 St  40.789211 -73.943708
2090     7436.11  2 Ave & E 104 St  40.789211 -73.943708
      station_id          station_name       lat       lng
1498     7291.06  Ditmars Blvd & 19 St  40.78145 -73.91833
2091     7291.06  Ditmars Blvd & 19 St  40.78145 -73.91833
      station_id             station_name        lat        lng
627      4214.03  Macon St & Nostrand Ave  40.680983 -73.950048
2092     4214.03  Macon St & Nostrand Ave  40.680983 -73.950048
      station_id                  station_name        lat        lng
879      5335.03  Bialystoker Pl & Delancey St  40.716226 -73.982612
2093     5335.03  Bialystoker Pl & Delancey St  40.716226 -73.982612
      station_id          station_name        lat       lng
1014     7003.06  Vernon Blvd & 31 Ave  40.769247 -73.93545
2094     7003.06  Vernon Blvd & 31 Ave  40.769248 -73.93545
      station_id     station_name        lat       lng
1031     7286.01  E 91 St & 2 Ave  40.781153 -73.94963
1853     7286.01  E 91 St & 2 Ave  40.781153 -73.94963
2095     7286.01  E 91 St & 2 Ave  40.781152 -73.94963
      station_id     station_name        lat        lng
1058     6691.11  E 56 St & 3 Ave  40.759345 -73.967597
2096     6691.11  E 56 St & 3 Ave  40.759345 -73.967597
      station_id          station_name       lat        lng
1485     4645.04  Henry St & Remsen St  40.69401 -73.994651
2097     4645.04  Henry St & Remsen St  40.69401 -73.994651
      station_id               station_name       lat        lng
982      4707.04  Nostrand Ave & Myrtle Ave  40.69527 -73.952381
2098     4707.04  Nostrand Ave & Myrtle Ave  40.69527 -73.952381
      station_id           station_name        lat        lng
835      6432.09  Pershing Square North  40.751873 -73.977706
2099     6432.09  Pershing Square North  40.751581 -73.977910
      station_id            station_name        lat        lng
1056     7113.08  East End Ave & E 86 St  40.775186 -73.944461
2100     7113.08  East End Ave & E 86 St  40.775186 -73.944461
      station_id             station_name        lat        lng
451      5406.02  Rivington St & Ridge St  40.718502 -73.983299
2101     5406.02  Rivington St & Ridge St  40.718502 -73.983299
      station_id                 station_name        lat        lng
568      4596.05  Duffield St & Willoughby St  40.692216 -73.984284
2102     4596.05  Duffield St & Willoughby St  40.692216 -73.984284
      station_id   station_name       lat        lng
1857     7082.01  23 Rd & 29 St  40.77406 -73.914935
2103     7082.01  23 Rd & 29 St  40.77406 -73.914935
      station_id              station_name        lat        lng
1977     4348.07  Carroll St & Columbia St  40.683046 -74.003486
2104     4348.07  Carroll St & Columbia St  40.683046 -74.003486
      station_id             station_name        lat        lng
681      4692.01  Clermont Ave & Park Ave  40.695734 -73.971297
2105     4692.01  Clermont Ave & Park Ave  40.695734 -73.971297
      station_id    station_name        lat        lng
1162     6529.02  37 Ave & 35 St  40.753111 -73.927992
2106     6529.02  37 Ave & 35 St  40.753111 -73.927992
      station_id    station_name        lat        lng
997      6887.03  35 St & 30 Ave  40.765476 -73.918116
2107     6887.03  35 St & 30 Ave  40.765476 -73.918116
      station_id                        station_name        lat        lng
270      7876.07  Frederick Douglass Blvd & W 139 St  40.819006 -73.944769
2108     7876.07  Frederick Douglass Blvd & W 139 St  40.819006 -73.944769
      station_id         station_name        lat        lng
271      7682.01  Park Ave & E 124 St  40.804555 -73.939686
2109     7682.01  Park Ave & E 124 St  40.804556 -73.939686
      station_id    station_name      lat        lng
1027     6966.04  31 Ave & 14 St  40.7682 -73.932266
2110     6966.04  31 Ave & 14 St  40.7682 -73.932266
      station_id            station_name        lat        lng
1431     4107.13  Dean St & Franklin Ave  40.677592 -73.955637
2111     4107.13  Dean St & Franklin Ave  40.677592 -73.955637
      station_id   station_name        lat        lng
430      6319.01  45 Rd & 11 St  40.747086 -73.949772
2112     6319.01  45 Rd & 11 St  40.747086 -73.949772
      station_id             station_name        lat        lng
50       7650.05  West End Ave & W 107 St  40.802117 -73.968181
2113     7650.05  West End Ave & W 107 St  40.802117 -73.968181
      station_id             station_name        lat        lng
321      7619.05  W 107 St & Columbus Ave  40.799757 -73.962113
2114     7619.05  W 107 St & Columbus Ave  40.799757 -73.962113
      station_id                 station_name        lat        lng
1557     4452.03  Lexington Ave & Classon Ave  40.686768 -73.959282
2115     4452.03  Lexington Ave & Classon Ave  40.686768 -73.959282
      station_id          station_name        lat        lng
1363     7009.02  Steinway St & 23 Ave  40.771394 -73.907744
2116     7009.02  Steinway St & 23 Ave  40.771394 -73.907744
      station_id            station_name        lat        lng
1318     5453.05  Forsyth St & Broome St  40.718939 -73.992663
2117     5453.05  Forsyth St & Broome St  40.718939 -73.992663
      station_id       station_name        lat        lng
1979     5476.03  E 2 St & Avenue C  40.720874 -73.980858
2118     5476.03  E 2 St & Avenue C  40.720874 -73.980858
      station_id               station_name        lat        lng
1351     4850.04  Tompkins Ave & Hopkins St  40.699576 -73.947084
2119     4850.04  Tompkins Ave & Hopkins St  40.699576 -73.947084
      station_id       station_name        lat        lng
1717     8679.03  10 Ave & W 215 St  40.869325 -73.915198
2120     8679.03  10 Ave & W 215 St  40.869325 -73.915198
      station_id   station_name        lat        lng
754      4903.08  Old Fulton St  40.702772 -73.993836
2121     4903.08  Old Fulton St  40.702772 -73.993836
      station_id      station_name        lat        lng
831      7504.12  E 109 St & 3 Ave  40.793297 -73.943208
2122     7504.12  E 109 St & 3 Ave  40.793297 -73.943208
      station_id           station_name        lat       lng
213      4883.03  Broadway & Whipple St  40.701666 -73.94373
2123     4883.03  Broadway & Whipple St  40.701666 -73.94373
      station_id  station_name        lat        lng
461      3955.05  4 Ave & 9 St  40.670513 -73.988766
2124     3955.05  4 Ave & 9 St  40.670514 -73.988766
      station_id               station_name        lat        lng
725      3736.04  Sullivan Pl & Bedford Ave  40.664241 -73.957469
2125     3736.04  Sullivan Pl & Bedford Ave  40.664241 -73.957469
      station_id         station_name       lat        lng
719      4134.06  Berkeley Pl & 6 Ave  40.67653 -73.978469
2126     4134.06  Berkeley Pl & 6 Ave  40.67653 -73.978469
      station_id               station_name        lat        lng
1374     4476.03  Marcy Ave & Lafayette Ave  40.690081 -73.947915
2127     4476.03  Marcy Ave & Lafayette Ave  40.690082 -73.947915
      station_id              station_name        lat       lng
765      4202.04  Richards St & Delavan St  40.679433 -74.00785
2128     4202.04  Richards St & Delavan St  40.679433 -74.00785
      station_id            station_name        lat        lng
178       4821.1  Adams St & Prospect St  40.700763 -73.988698
2129      4821.1  Adams St & Prospect St  40.700763 -73.988698
      station_id    station_name        lat        lng
434      5593.02  E 2 St & 2 Ave  40.725029 -73.990697
2130     5593.02  E 2 St & 2 Ave  40.725029 -73.990697
      station_id           station_name        lat        lng
1474     6932.15  E 68 St & Madison Ave  40.769157 -73.967035
2131     6932.15  E 68 St & Madison Ave  40.769157 -73.967035
      station_id      station_name      lat        lng
437      6901.01  Broadway & 12 St  40.7668 -73.934777
2132     6901.01  Broadway & 12 St  40.7668 -73.934777
      station_id                station_name        lat        lng
1768     3940.04  Sigourney St & Columbia St  40.672672 -74.008795
2133     3940.04  Sigourney St & Columbia St  40.672672 -74.008795
      station_id             station_name        lat        lng
413       7360.1  Amsterdam Ave & W 82 St  40.785247 -73.976673
2134      7360.1  Amsterdam Ave & W 82 St  40.785247 -73.976673
      station_id              station_name        lat        lng
1803     8167.04  Charlotte St & Boston Rd  40.835877 -73.893143
2135     8167.04  Charlotte St & Boston Rd  40.835877 -73.893143
      station_id       station_name        lat        lng
134      5616.01  E 9 St & Avenue C  40.725213 -73.977688
1160     5616.01  E 9 St & Avenue C  40.725213 -73.977688
2136     5616.01  E 9 St & Avenue C  40.722992 -73.979954
      station_id  station_name        lat       lng
393      3874.01  5 St & 6 Ave  40.670484 -73.98209
2137     3874.01  5 St & 6 Ave  40.670484 -73.98209
      station_id             station_name        lat        lng
1378     4620.02  Adelphi St & Myrtle Ave  40.693083 -73.971789
2138     4620.02  Adelphi St & Myrtle Ave  40.693083 -73.971789
      station_id      station_name        lat        lng
782      7414.17  3 Ave & E 100 St  40.787721 -73.947283
2139     7414.17  3 Ave & E 100 St  40.787721 -73.947283
      station_id            station_name        lat        lng
1100     7818.17  W 129 St & Convent Ave  40.814394 -73.953247
2140     7818.17  W 129 St & Convent Ave  40.814394 -73.953247
      station_id          station_name        lat        lng
1373     4455.11  Kane St & Clinton St  40.686176 -73.996453
2141     4455.11  Kane St & Clinton St  40.686176 -73.996453
      station_id             station_name        lat        lng
806      4847.03  Wyckoff Ave & Gates Ave  40.699871 -73.911719
2142     4847.03  Wyckoff Ave & Gates Ave  40.699871 -73.911719
      station_id          station_name        lat        lng
886      6688.01  Crescent St & 35 Ave  40.759628 -73.932146
2143     6688.01  Crescent St & 35 Ave  40.759628 -73.932146
      station_id              station_name        lat        lng
1411     5084.03  Division Ave & Marcy Ave  40.707087 -73.957968
2144     5084.03  Division Ave & Marcy Ave  40.707087 -73.957968
      station_id     station_name        lat        lng
1129     6991.12  E 75 St & 3 Ave  40.771129 -73.957723
2145     6991.12  E 75 St & 3 Ave  40.771129 -73.957723
      station_id              station_name        lat        lng
743      7610.13  W 104 St & Amsterdam Ave  40.799041 -73.966495
2146     7610.13  W 104 St & Amsterdam Ave  40.799041 -73.966495
      station_id               station_name        lat        lng
1689     4617.01  Lewis Ave & Kosciuszko St  40.692371 -73.937054
2147     4617.01  Lewis Ave & Kosciuszko St  40.692370 -73.937054
2199     4617.01  Lewis Ave & Kosciuszko St  40.692371 -73.937054
      station_id       station_name        lat        lng
741      4322.06  Bergen St & 4 Ave  40.682564 -73.979898
2148     4322.06  Bergen St & 4 Ave  40.682564 -73.979898
      station_id            station_name        lat        lng
667      3579.04  Windsor Pl & Howard Pl  40.659491 -73.980139
2149     3579.04  Windsor Pl & Howard Pl  40.659491 -73.980139
      station_id     station_name        lat        lng
1122     6541.03  E 48 St & 3 Ave  40.754601 -73.971879
2150     6541.03  E 48 St & 3 Ave  40.754601 -73.971879
      station_id   station_name      lat        lng
618      3501.01  39 St & 2 Ave  40.6554 -74.010628
2151     3501.01  39 St & 2 Ave  40.6554 -74.010628
      station_id         station_name        lat        lng
200      4479.06  Bond St & Fulton St  40.689622 -73.983043
2152     4479.06  Bond St & Fulton St  40.689622 -73.983043
      station_id            station_name        lat        lng
549      4781.03  Concord St & Bridge St  40.697666 -73.984764
2153     4781.03  Concord St & Bridge St  40.697666 -73.984764
      station_id               station_name        lat       lng
764      4718.08  Pierrepont St & Monroe Pl  40.695357 -73.99344
2154     4718.08  Pierrepont St & Monroe Pl  40.695357 -73.99344
      station_id             station_name        lat        lng
385      5445.02  Suffolk St & Stanton St  40.720664 -73.985180
1678     5445.02  Suffolk St & Stanton St  40.720664 -73.985180
2155     5445.02  Suffolk St & Stanton St  40.720664 -73.985179
      station_id               station_name        lat        lng
1644     4013.08  Columbia St & Lorraine St  40.674706 -74.007557
2156     4013.08  Columbia St & Lorraine St  40.674706 -74.007557
      station_id      station_name        lat        lng
1039     6750.16  35 St & Broadway  40.760339 -73.922243
2157     6750.16  35 St & Broadway  40.760339 -73.922243
      station_id    station_name        lat        lng
1831     6720.07  34 Ave & 31 St  40.759604 -73.927144
2158     6720.07  34 Ave & 31 St  40.759604 -73.927144
      station_id                station_name        lat        lng
1343     7233.05  Crescent St & Ditmars Blvd  40.778718 -73.914564
2159     7233.05  Crescent St & Ditmars Blvd  40.778719 -73.914565
      station_id             station_name        lat        lng
1237     5403.05  Graham Ave & Herbert St  40.719293 -73.945004
2160     5403.05  Graham Ave & Herbert St  40.719293 -73.945004
      station_id         station_name        lat       lng
735      8474.02  W 190 St & Broadway  40.856487 -73.93297
2161     8474.02  W 190 St & Broadway  40.856487 -73.93297
      station_id             station_name        lat        lng
1013     8535.09  Aqueduct Ave & North St  40.860479 -73.905717
2162     8535.09  Aqueduct Ave & North St  40.860479 -73.905717
      station_id                station_name        lat        lng
455      4222.02  Lefferts Pl & Franklin Ave  40.680342 -73.955769
2163     4222.02  Lefferts Pl & Franklin Ave  40.680342 -73.955769
      station_id             station_name        lat        lng
1927     8811.01  Paul Ave & Mosholu Pkwy  40.880294 -73.886065
2164     8811.01  Paul Ave & Mosholu Pkwy  40.880295 -73.886065
      station_id                  station_name        lat        lng
1284     3776.05  Montgomery St & Franklin Ave  40.666439 -73.960556

IndexError: list index out of range

In [125]:
station_id = station_id.drop_duplicates(subset='station_id')

In [126]:
station_id.station_id.duplicated().sum()

0

In [127]:
station_id.station_name.duplicated().sum()

0

In [128]:
# Check duplicated values for station location

In [129]:
station_id_location = station_id[['lat', 'lng']]

In [130]:
#station_id_location['lat'] = station_id_location['lat'].apply(lambda x: float("{:.4f}".format(x)))
#station_id_location['lng'] = station_id_location['lng'].apply(lambda x: float("{:.4f}".format(x)))

In [131]:
station_id_location.duplicated().sum()

0

In [132]:
station_id_location = station_id_location.reset_index().drop(columns=['index'])

In [133]:
station_id_location.duplicated().sum()

0

In [134]:
station_id_location_list = []

for i in range(0, len(station_id_location)):
    if station_id_location.duplicated()[i] == True:
        station_id_location_list.append(station_id_location.lat[i])
        station_id_location_list.append(station_id_location.lng[i])

station_id_location_list

[]

In [135]:
# Use different query method

In [137]:
new_df = pd.DataFrame(columns=['station_id', 'station_name', 'lat', 'lng'])
station_id_result = pd.DataFrame(columns=['station_id', 'station_name', 'lat', 'lng'])

for i in range(0, len(station_id_dup)):
    new_df = station_id[station_id.station_id == station_id_dup[i]]
    station_id_result = station_id_result.append(new_df)

station_id_result

      station_id                 station_name        lat        lng
0        6098.10           Broadway & E 21 St  40.739888 -73.989586
28       5938.01              E 19 St & 3 Ave  40.736245 -73.984738
136      5001.08        Little West St & 1 Pl  40.705693 -74.016777
47       5763.03           Carmine St & 6 Ave  40.730386 -74.002150
63       4677.01  Cadman Plaza E & Tillary St  40.695977 -73.990149
...          ...                          ...        ...        ...
844      6227.02          31 St & Thomson Ave  40.744697 -73.935404
556      4965.01        Lorimer St & Broadway  40.704118 -73.948186
924      3850.03                3 Ave & 14 St  40.668546 -73.993333
1654     6951.03               28 Ave & 35 St  40.767100 -73.916986
1400     8072.06       Sherman Ave & E 166 St  40.831305 -73.917448

[732 rows x 4 columns]

In [ ]:
# Find text with Ave and Av in station name

In [138]:
station_id_result[station_id_result['station_name'].str.contains("Av")]

      station_id               station_name        lat        lng
28       5938.01            E 19 St & 3 Ave  40.736245 -73.984738
47       5763.03         Carmine St & 6 Ave  40.730386 -74.002150
408      4237.01     Lewis Ave & Decatur St  40.681460 -73.934903
87       4715.01  Franklin Ave & Myrtle Ave  40.694546 -73.958014
207      7372.10            5 Ave & E 93 St  40.785785 -73.957481
...          ...                        ...        ...        ...
1149     4921.04  Cypress Ave & Palmetto St  40.701573 -73.908763
844      6227.02        31 St & Thomson Ave  40.744697 -73.935404
924      3850.03              3 Ave & 14 St  40.668546 -73.993333
1654     6951.03             28 Ave & 35 St  40.767100 -73.916986
1400     8072.06     Sherman Ave & E 166 St  40.831305 -73.917448

[450 rows x 4 columns]

In [139]:
station_id_result[station_id_result['station_name'].str.contains("Ave")]

      station_id               station_name        lat        lng
28       5938.01            E 19 St & 3 Ave  40.736245 -73.984738
47       5763.03         Carmine St & 6 Ave  40.730386 -74.002150
408      4237.01     Lewis Ave & Decatur St  40.681460 -73.934903
87       4715.01  Franklin Ave & Myrtle Ave  40.694546 -73.958014
207      7372.10            5 Ave & E 93 St  40.785785 -73.957481
...          ...                        ...        ...        ...
1149     4921.04  Cypress Ave & Palmetto St  40.701573 -73.908763
844      6227.02        31 St & Thomson Ave  40.744697 -73.935404
924      3850.03              3 Ave & 14 St  40.668546 -73.993333
1654     6951.03             28 Ave & 35 St  40.767100 -73.916986
1400     8072.06     Sherman Ave & E 166 St  40.831305 -73.917448

[449 rows x 4 columns]

### Test

In [ ]:
data_clean.info()