# Bike sharing

In [1]:
# Import libaries
import pandas as pd
import numpy as np
import plotly.express as px

## Gather data

In [2]:
data = pd.read_csv('202108-citibike-tripdata.csv')

/Users/anneruhnke/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

## Assess data

In [3]:
data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,FB6B89D05B67EBED,classic_bike,2021-08-24 15:59:57,2021-08-24 16:42:07,Broadway & E 21 St,6098.10,Central Park North & Adam Clayton Powell Blvd,7617.07,40.739888,-73.989586,40.799484,-73.955613,member
1,E13DA3E30CEF8DFC,classic_bike,2021-08-18 13:12:01,2021-08-18 13:21:26,E 13 St & 2 Ave,5820.08,Henry St & Grand St,5294.04,40.731539,-73.985302,40.714211,-73.981095,member
2,56617490AB8AE69C,classic_bike,2021-08-17 14:31:23,2021-08-17 14:35:34,E 95 St & 3 Ave,7365.13,E 84 St & Park Ave,7243.04,40.784903,-73.950503,40.778627,-73.957721,member
3,CA908B271C7D6663,classic_bike,2021-08-11 10:00:12,2021-08-11 10:31:01,Madison Ave & E 82 St,7188.13,E 84 St & Park Ave,7243.04,40.778131,-73.960694,40.778627,-73.957721,casual
4,3E170CE1F4FE179D,classic_bike,2021-08-12 19:28:38,2021-08-12 19:48:50,E 74 St & 1 Ave,6953.08,E 84 St & Park Ave,7243.04,40.768974,-73.954823,40.778627,-73.957721,casual

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3072478 entries, 0 to 3072477
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    float64
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(5), object(8)
memory usage: 304.7+ MB

In [5]:
data.describe()

,start_station_id,start_lat,start_lng,end_lat,end_lng
count,3.072438e+06,3.072478e+06,3.072478e+06,3.065275e+06,3.065275e+06
mean,6.013897e+03,4.074000e+01,-7.397585e+01,4.073975e+01,-7.397591e+01
std,1.073682e+03,3.849345e-02,2.554804e-02,3.847201e-02,2.560477e-02
min,2.733030e+03,4.063338e+01,-7.402747e+01,4.063338e+01,-7.407146e+01
25%,5.303080e+03,4.071535e+01,-7.399405e+01,4.071535e+01,-7.399416e+01
50%,6.004070e+03,4.073805e+01,-7.398169e+01,4.073726e+01,-7.398185e+01
75%,6.779040e+03,4.076229e+01,-7.395943e+01,4.076227e+01,-7.395922e+01
max,8.841030e+03,4.088226e+01,-7.388145e+01,4.088226e+01,-7.388000e+01

In [6]:
data.isnull().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name       40
start_station_id         40
end_station_name      13628
end_station_id        13628
start_lat                 0
start_lng                 0
end_lat                7203
end_lng                7203
member_casual             0
dtype: int64

In [7]:
data.ride_id.duplicated().sum()

0

In [8]:
columns = data.columns
columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [9]:
x = data['rideable_type'].value_counts()
x = pd.DataFrame(x)
x

               rideable_type
classic_bike         3039351
docked_bike            33087
electric_bike             40

In [10]:
x = data['start_station_name'].value_counts()
x = pd.DataFrame(x)
x

                                 start_station_name
E 17 St & Broadway                            13629
West St & Chambers St                         13505
W 21 St & 6 Ave                               13320
Cleveland Pl & Spring St                      11764
West St & Liberty St                          11518
...                                             ...
Sedgwick Ave & Hall of Fame Tce                  27
Boerum Pl\t& Pacific St                          17
49 St & 25 Ave                                    9
49 St & 31 Ave                                    6
Nassau St\t& Duffield St                          2

[1493 rows x 1 columns]

In [11]:
x = data['end_station_name'].value_counts()
x = pd.DataFrame(x)
x

                          end_station_name
E 17 St & Broadway                   13746
West St & Chambers St                13585
W 21 St & 6 Ave                      13334
Cleveland Pl & Spring St             11775
West St & Liberty St                 11569
...                                    ...
Brunswick St                             1
Marin Light Rail                         1
Bergen Ave                               1
Warren St                                1
Grove St PATH                            1

[1522 rows x 1 columns]

In [12]:
x = data['member_casual'].value_counts()
x = pd.DataFrame(x)
x

        member_casual
member        1864076
casual        1208402

In [13]:
data.corr()

                  start_station_id  start_lat  start_lng   end_lat   end_lng
start_station_id          1.000000   0.989959   0.323812  0.869186  0.274138
start_lat                 0.989959   1.000000   0.372379  0.881327  0.319014
start_lng                 0.323812   0.372379   1.000000  0.322717  0.793248
end_lat                   0.869186   0.881327   0.322717  1.000000  0.374903
end_lng                   0.274138   0.319014   0.793248  0.374903  1.000000

#### Summarize issues
- started_at wrong data type
- ended_at wrong data type
- start_station_id wrong data type
- start station name and start station id, start_lat, start_lng in separate table
- end station name and end station id, end_lat, end_lng in separate table
- wrong column name member_casual

- investigate na values
- check similar writing for start and end station

## Clean data

In [49]:
data_clean = data.copy()

#### Summarize to dos

- change data type started_at 
- change data type ended_at
- change data type start_station_id 
- rename member_casual column
- create tables for start station name and start station id, start_lat, start_lng
- create tables for end station name and end station id, end_lat, end_lng

- investigate na values
- check similar writing for start and end station

### Define

In [50]:
data_clean.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,FB6B89D05B67EBED,classic_bike,2021-08-24 15:59:57,2021-08-24 16:42:07,Broadway & E 21 St,6098.10,Central Park North & Adam Clayton Powell Blvd,7617.07,40.739888,-73.989586,40.799484,-73.955613,member
1,E13DA3E30CEF8DFC,classic_bike,2021-08-18 13:12:01,2021-08-18 13:21:26,E 13 St & 2 Ave,5820.08,Henry St & Grand St,5294.04,40.731539,-73.985302,40.714211,-73.981095,member
2,56617490AB8AE69C,classic_bike,2021-08-17 14:31:23,2021-08-17 14:35:34,E 95 St & 3 Ave,7365.13,E 84 St & Park Ave,7243.04,40.784903,-73.950503,40.778627,-73.957721,member
3,CA908B271C7D6663,classic_bike,2021-08-11 10:00:12,2021-08-11 10:31:01,Madison Ave & E 82 St,7188.13,E 84 St & Park Ave,7243.04,40.778131,-73.960694,40.778627,-73.957721,casual
4,3E170CE1F4FE179D,classic_bike,2021-08-12 19:28:38,2021-08-12 19:48:50,E 74 St & 1 Ave,6953.08,E 84 St & Park Ave,7243.04,40.768974,-73.954823,40.778627,-73.957721,casual

### Code

In [51]:
data_clean['started_at'] = pd.to_datetime(data_clean['started_at'])

In [52]:
data_clean['ended_at'] = pd.to_datetime(data_clean['ended_at'])

In [53]:
data_clean['start_station_id'] = data_clean['start_station_id'].astype(str)

In [54]:
data_clean = data_clean.rename(columns={'member_casual':'user'})

In [55]:
data_clean.start_station_id = data_clean.start_station_id.replace('nan',np.nan)

In [56]:
# start id

In [57]:
df_start_station = data_clean.iloc[:,4:6].sort_values(by='start_station_id').dropna().drop_duplicates().reset_index().drop(columns=['index'])

In [58]:
# df_start_station = data_clean.iloc[:,4:6]
# df_start_station = df_start_station.sort_values(by='start_station_id').dropna()
# df_start_station = df_start_station.drop_duplicates()
# df_start_station = df_start_station.reset_index()
# df_start_station = df_start_station.drop(columns=['index'])

In [59]:
duplicated_start_id = []

for i in range(0, len(df_start_station)):
    if df_start_station.start_station_id.duplicated()[i] == True:
        duplicated_start_id.append(df_start_station.start_station_id[i])

In [60]:
# for i in range(0, len(duplicated_start_id)):
#     print(df_start_station.query('start_station_id == duplicated_start_id[i]'))

In [61]:
df_start_station_list = []

for i in range(0, len(duplicated_start_id)):
    df_start_station_list.append(df_start_station[df_start_station.start_station_id == duplicated_start_id[i]])

[          start_station_name start_station_id
 248  Boerum Pl\t& Pacific St          4488.09
 249  Boerum Pl\t& Pacific St          4488.09,
            start_station_name start_station_id
 334  Nassau St\t& Duffield St          4781.05
 335  Nassau St\t& Duffield St          4781.05,
           start_station_name start_station_id
 458  Clinton St\t& Cherry St          5190.09
 459  Clinton St\t& Cherry St          5190.09,
          start_station_name start_station_id
 514  Forsyth St\t& Grand St          5382.07
 515  Forsyth St\t& Grand St          5382.07,
                start_station_name start_station_id
 1163   Grand Concourse & E 144 St           7845.1
 1164  Grand Concourse & E 144  St           7845.1]

In [62]:
index_list = []
drop_index_list = []

for i in range(0, len(df_start_station_list)):
    index_list.append(df_start_station_list[i].index)
    
for i in range(0, len(index_list)):
    drop_index_list.append(index_list[i][1])
    
for i in range(0, len(drop_index_list)):
    df_start_station.drop(drop_index_list[i], axis=0, inplace=True)

In [63]:
# end id

In [64]:
df_end_station = data_clean.iloc[:,6:8].dropna().drop_duplicates().reset_index().drop(columns=['index'])

# strange values for end_station_id (SYS032, JC095)
# sort_values(by='end_station_id')

                                   end_station_name end_station_id
0     Central Park North & Adam Clayton Powell Blvd        7617.07
1                               Henry St & Grand St        5294.04
2                                E 84 St & Park Ave        7243.04
3                                    35 St & 21 Ave        7170.04
4                     Willoughby Ave & Tompkins Ave        4665.02
...                                             ...            ...
2687                       Frost St & Debevoise Ave        5433.04
2688                 St Ann's Ave & Westchester Ave         7835.1
2689                     Grand Concourse & E 156 St        7984.04
2690                             Forrest WH station         SYS032
2691                                     Bergen Ave          JC095

[2692 rows x 2 columns]

In [65]:
duplicated_end_id = []

for i in range(0, len(df_end_station)):
    if df_end_station.end_station_id.duplicated()[i] == True:
        duplicated_end_id.append(df_end_station.end_station_id[i])

In [66]:
df_end_station_list = []

for i in range(0, len(duplicated_end_id)):
    df_end_station_list.append(df_end_station[df_end_station.end_station_id == duplicated_end_id[i]])

In [67]:
index_list = []
drop_index_list = []

for i in range(0, len(df_end_station_list)):
    index_list.append(df_end_station_list[i].index)
    
for i in range(0, len(index_list)):
    drop_index_list.append(index_list[i][1])
    
for i in range(0, len(drop_index_list)):
    df_end_station.drop(drop_index_list[i], axis=0, inplace=True)

In [99]:
#duplicated_end_name = []

#for i in range(0, len(df_end_station)):
#    if df_end_station.end_station_name.duplicated()[i] == True:        
#        duplicated_end_name.append(df_end_station.end_station_name[i])

KeyError: 239

In [126]:
df_end_station

                                   end_station_name end_station_id
0     Central Park North & Adam Clayton Powell Blvd        7617.07
1                               Henry St & Grand St        5294.04
2                                E 84 St & Park Ave        7243.04
3                                    35 St & 21 Ave        7170.04
4                     Willoughby Ave & Tompkins Ave        4665.02
...                                             ...            ...
2687                       Frost St & Debevoise Ave        5433.04
2688                 St Ann's Ave & Westchester Ave         7835.1
2689                     Grand Concourse & E 156 St        7984.04
2690                             Forrest WH station         SYS032
2691                                     Bergen Ave          JC095

[2685 rows x 2 columns]

In [143]:
df_end_station_name_dup = df_end_station[['end_station_name', 'end_station_id']]
#df_end_station_name_dup = df_end_station_name_dup.end_station_name.value_counts()
#df_end_station_name_dup = df_end_station_name_dup.rename(columns={'index':'end_station_name', 'end_station_name': 'count'})
#df_end_station_name_dup = df_end_station_name_dup.query('count > 1')
#df_end_station_name_dup

In [144]:
df_end_station_name_dup

                                   end_station_name end_station_id
0     Central Park North & Adam Clayton Powell Blvd        7617.07
1                               Henry St & Grand St        5294.04
2                                E 84 St & Park Ave        7243.04
3                                    35 St & 21 Ave        7170.04
4                     Willoughby Ave & Tompkins Ave        4665.02
...                                             ...            ...
2687                       Frost St & Debevoise Ave        5433.04
2688                 St Ann's Ave & Westchester Ave         7835.1
2689                     Grand Concourse & E 156 St        7984.04
2690                             Forrest WH station         SYS032
2691                                     Bergen Ave          JC095

[2685 rows x 2 columns]

In [100]:
df_end_station.end_station_name.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2687     True
2688     True
2689     True
2690    False
2691    False
Name: end_station_name, Length: 2685, dtype: bool

### Test

In [248]:
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3072478 entries, 0 to 3072477
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  user                object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 304.7+ MB